<HTML>
<HEAD>   
	<TITLE>Immuzination</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css"></HEAD>
<BODY>
<CENTER>
<H3>Immuzination</H3>
<FORM name="a13">
<INPUT TYPE="hidden" name="frmnam" value="a13"> 
<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="80%" class='tableb'>
<TR><TD>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Choose Vaccine</TD><TD><INPUT NAME=vac size=50 maxlength=50></INPUT></TD></TR>
</TABLE>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</TABLE>
</TD></TR>
</TABLE>
</FORM>
</CENTER>
</BODY>
</HTML>