<HTML>
<HEAD>   
	<TITLE>Complaints</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<CENTER>
<H3>Complaints</H3>
<FORM name="a14">
<INPUT TYPE="hidden" name="frmnam" value="a14"> 
<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="80%" class='tableb'>
<TR><TD>
<fieldset color=#66CCFF><legend><FONT SIZE="3"COLOR="GREEN"><b>Chief Complaints<B></FONT></legend>
<TABLE align=center cellspacing="5" cellpadding="5">
<!-- <TR><TD style="font-size:13pt"><font color=green>Chief Complaints</Font></TD></TR> -->
<TR>
<TD>1.</TD><TD><INPUT NAME=comp1 size=50 maxlength=50></INPUT></TD>
<TD>Duration</TD><TD><INPUT NAME=dur1 size=50 maxlength=50></INPUT></TD>
<TD></TD>
<TD><INPUT NAME=hdmy1 size=50 maxlength=50></INPUT></TD>
</TR>

<TR>
<TD>2.</TD><TD><INPUT NAME=comp2 size=50 maxlength=50></INPUT></TD>
<TD>Duration</TD><TD><INPUT NAME=dur2 size=50 maxlength=50></INPUT></TD>
<TD></TD>
<TD><INPUT NAME=hdmy2 size=50 maxlength=50></INPUT></TD>
</TR>

<TR>
<TD>3.</TD><TD><INPUT NAME=comp3 size=50 maxlength=50></INPUT></TD>
<TD>Duration</TD><TD><INPUT NAME=dur3 size=50 maxlength=50></INPUT></TD>
<TD></TD>
<TD><INPUT NAME=hdmy3 size=50 maxlength=50></INPUT></TD>
</TR>
</CENTER></TABLE>
</fieldset>
<BR>

<fieldset color=#66CCFF><legend><FONT SIZE="3"COLOR="GREEN"><b>History of Present Illness<B></FONT></legend>
<TABLE align=center cellspacing="5" cellpadding="5">
<TR>
<TD valign=middle><FONT SIZE="3" COLOR="blue">Records here:</font></TD>
<TD><TEXTAREA name=rh cols=50 rows=7></TEXTAREA></TD>
</TR>
</TABLE>
</fieldset>

<TABLE BORDER=0 ALIGN=center>
	<TR>
	<TD>Test Date</TD><TD><INPUT NAME=testdate size=20></INPUT></TD>
	</TR>
<TR>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD>

</TR>
</TABLE>

</TD></TR>
</TABLE>
</FORM>
</CENTER>
</BODY>
</HTML>