
<HTML>
<HEAD>   
	<TITLE>Observations</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<CENTER>
<H3>Observations Results</H3>
<FORM name="h04">
<INPUT TYPE="hidden" name="frmnam" value="h04"> 
<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="80%" class='tableb'>
<TR><TD>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Description</TD><TD><INPUT NAME=what size=50 maxlength=50></INPUT></TD></TR>
<TR><TD>Observation</TD><TD><INPUT NAME=finding size=50 maxlength=50></INPUT></TD></TR>
<TR><TD>Category</TD><TD><INPUT NAME=category size=50 maxlength=50></INPUT></TD></TR>
</CENTER></TABLE>

<TABLE BORDER=0 ALIGN=center>
<TR>
<TD>Test Date</TD><TD><INPUT NAME=testdate size=20></INPUT></TD>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</TABLE>
</TD></TR>
</TABLE>
</FORM>
</CENTER>
</BODY>
</HTML>