<HTML>
<HEAD>   
	<TITLE>Clinical Procedures</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<CENTER>
<H3>Clinical Procedure</H3>
<FORM name="a17">
<INPUT TYPE="hidden" NAME="frmnam" value="a17"> 
<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="80%" class='tableb'>

<TR><TD>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Name of the Procedure</TD><TD><INPUT NAME=proc_name size=10 maxlength=10></INPUT></TD></TR>
<TR><TD>Purpose of Study</TD><TD><INPUT NAME=study_purpose size=10 maxlength=10></INPUT></TD></TR>
<TR><TD>Region of interest</TD><TD><INPUT NAME=roi size=10 maxlength=10></INPUT></TD></TR>
<TR><TD>Intervention Done</TD><TD><INPUT NAME=intervention size=10 maxlength=10></INPUT></TD></TR>
<TR><TD>Specimen collected</TD><TD><INPUT NAME=specimen size=10 maxlength=10></INPUT></TD></TR>
<TR><TD>Comments</TD><TD><INPUT NAME=comments size=30 maxlength=50></INPUT></TD></TR>
<TR><TD>Provisional Diag</TD><TD><INPUT NAME=diagnosis size=30 maxlength=50></INPUT></TD></TR>
</TABLE>
<TABLE BORDER=0 ALIGN=center>
 <TR><TD>Date of test</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</TABLE>
</TD></TR>
</TABLE>
</FORM>
</CENTER>
</BODY>
</HTML>