<HTML>
<HEAD>   
	<TITLE>Skin Mucosa Examination</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<CENTER>
<H3>Skin Mucosa Examination</H3>
<FORM name="a18">
<INPUT TYPE="hidden" NAME="frmnam" value="a18"> 
<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="80%" class='tableb'>

<TR><TD>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Lesion</TD><TD><INPUT NAME=lesion size=10 maxlength=10></INPUT></TD></TR>
<TR><TD>Features</TD><TD><INPUT NAME=feature size=10 maxlength=10></INPUT></TD></TR>
<TR><TD>Color</TD><TD><INPUT NAME=les_color size=10 maxlength=10></INPUT></TD></TR>
<TR><TD>Shape</TD><TD><INPUT NAME=les_shape size=10 maxlength=10></INPUT></TD></TR>
<TR><TD>Distribution</TD><TD><INPUT NAME=distribution size=10 maxlength=10></INPUT></TD></TR>
<TR><TD>General Location</TD><TD><INPUT NAME=location size=30 maxlength=50></INPUT></TD></TR>
<TR><TD>Description of the sites of lesion</TD><TD><INPUT NAME=site size=30 maxlength=50></INPUT></TD></TR>
</TABLE>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Date of test</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD> 
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</TABLE>
</TD></TR>
</TABLE>
</FORM>
</CENTER>
</BODY>
</HTML>