<HTML>
<HEAD>   
	<TITLE>Respiratory System</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<CENTER>
<H3>Respiratory System</H3>
<FORM name="a19">
<INPUT TYPE="hidden" NAME="frmnam" value="a19"> 
<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING="5" WIDTH="80%" class='tableb'>

<TR><TD>
<FIELDSET>
<LEGEND><FONT COLOR="Green" size="4"><STRONG>Observations</STRONG></FONT></LEGEND>
<TABLE BORDER=0 ALIGN=center>
<!-- <TR><TD><H4>Observations</H4></TD></TR> -->
<TR><TD>Effort</TD><TD><INPUT NAME=effort size=10 maxlength=10></INPUT></TD></TR>
<TR><TD>Scoliosis</TD><TD><INPUT NAME=scoliosis size=10 maxlength=10></INPUT></TD></TR>
<TR><TD>Kyphosis</TD><TD><INPUT NAME=kyphosis size=10 maxlength=10></INPUT></TD></TR>
<TR><TD>Flattening</TD><TD><INPUT NAME=flat size=10 maxlength=10></INPUT></TD></TR>
<TR><TD>Expansion asymmetry</TD><TD><INPUT NAME=expand size=10 maxlength=10></INPUT></TD></TR>
<TR><TD>Mediastinal Shift</TD><TD><INPUT NAME=shift size=10 maxlength=10></INPUT></TD></TR>
<TR><TD>Tenderness</TD><TD><INPUT NAME=tender size=30 maxlength=50></INPUT></TD></TR>
<!-- <TR><TD>Description of the sites of lesion</TD><TD><INPUT NAME=site size=30 maxlength=50></INPUT></TD></TR> -->
</TABLE>
</FIELDSET>
</TR></TD>

<TR><TD>
<FIELDSET >
	<LEGEND><FONT COLOR="Green" size="4"><STRONG>Findings .1.</STRONG></FONT></LEGEND>
<TABLE BORDER=0 ALIGN=center>
<!-- <TR><TD><H4>Findings .1.</H4></TD></TR> -->
<TR><TD>Percussion Note</TD><TD><INPUT NAME=note1 size=10 maxlength=10></INPUT></TD></TR>
<TR><TD>Breath Sound</TD><TD><INPUT NAME=sound1 size=10 maxlength=10></INPUT></TD></TR>
<TR><TD>Adventitious Sound</TD><TD><INPUT NAME=extra1 size=10 maxlength=10></INPUT></TD></TR>
<TR><TD>Vocal Resonance</TD><TD><INPUT NAME=vr1 size=10 maxlength=10></INPUT></TD></TR>
<TR><TD>Region</TD><TD><INPUT NAME=loc1 size=10 maxlength=10></INPUT></TD></TR>
<!-- <TR><TD>General Location</TD><TD><INPUT NAME=location size=30 maxlength=50></INPUT></TD></TR>
<TR><TD>Description of the sites of lesion</TD><TD><INPUT NAME=site size=30 maxlength=50></INPUT></TD></TR> -->
</TABLE>
</FIELDSET>
</TR></TD>

<TR><TD>
<FIELDSET>
	<LEGEND><FONT COLOR="Green" size="4"><STRONG>Findings .2.</STRONG></FONT></LEGEND>
<TABLE BORDER=0 ALIGN=center>
<!-- <TR><TD><H4>Findings .2.</H4></TD></TR> -->
<TR><TD>Percussion Note</TD><TD><INPUT NAME=note2 size=10 maxlength=10></INPUT></TD></TR>
<TR><TD>Breath Sound</TD><TD><INPUT NAME=sound2 size=10 maxlength=10></INPUT></TD></TR>
<TR><TD>Adventitious Sound</TD><TD><INPUT NAME=extra2 size=10 maxlength=10></INPUT></TD></TR>
<TR><TD>Vocal Resonance</TD><TD><INPUT NAME=vr2 size=10 maxlength=10></INPUT></TD></TR>
<TR><TD>Region</TD><TD><INPUT NAME=loc2 size=10 maxlength=10></INPUT></TD></TR>
<!-- <TR><TD>General Location</TD><TD><INPUT NAME=location size=30 maxlength=50></INPUT></TD></TR>
<TR><TD>Description of the sites of lesion</TD><TD><INPUT NAME=site size=30 maxlength=50></INPUT></TD></TR> -->
</TABLE>
</FIELDSET>
</TR></TD>

<TR><TD>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Test Date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>
</TD></TR>
</TABLE>
</FORM>
</CENTER>
</BODY>
</HTML>