<HTML>
<HEAD>   
	<TITLE>CD4/Viral Count</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<CENTER>
<H3>Abdominal System</H3>

<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=3 WIDTH="80%" class='tableb'>
<TR>
<TD>
<FIELDSET>
<!-- 	<LEGEND><FONT COLOR="green">Hepatomegaly</FONT></LEGEND>
 -->
<TABLE BORDER=0 ALIGN=center cellspacing="3" cellpadding="3">
<TR>
<TD>Abdo Fullness</TD><TD><INPUT NAME=abdo size=10 maxlength=10 ></INPUT></TD>
<TD>Visible Veins</TD><TD><INPUT NAME=veins size=10 maxlength=10 ></INPUT></TD>
<TD>Visible Pulsation</TD><TD><INPUT NAME=pulsation size=10 maxlength=10 ></INPUT></TD>
</TR>
<TR><TD>Tenderness</TD><TD><INPUT NAME=tender_loc size=10 maxlength=10 ></INPUT></TD></TR>
</TABLE>
</FIELDSET>
</TD></TR>
<TR><TD>
<FIELDSET>
	<LEGEND><FONT COLOR="green">Hepatomegaly</FONT></LEGEND>
<TABLE BORDER=0 ALIGN=center cellspacing="3" cellpadding="3">
<TR>
<TD>Subcostal Length</TD><TD><INPUT NAME=liver_length size=10 maxlength=10 ></INPUT></TD>
<TD>Upper Border</TD><TD><INPUT NAME=liver_border size=10 maxlength=10 ></INPUT></TD>
</TR>
<TR><TD></TD><TD><INPUT NAME=hepatomegaly size=10 maxlength=10 ></INPUT></TD></TR>
<TR><TD></TD><TD><INPUT NAME=hepa_surface size=10 maxlength=10 ></INPUT></TD></TR>
<TR><TD>Tenderness</TD><TD><INPUT NAME=hepa_tenderness size=10 maxlength=10 ></INPUT></TD></TR>
</TABLE>
</FIELDSET>
</TD></TR>

<TR><TD>
<FIELDSET>
	<LEGEND><FONT COLOR="green">Splenomegaly</FONT></LEGEND>
<TABLE BORDER=0 ALIGN=center cellspacing="3" cellpadding="3">
<TR>
<TD>Subcostal Length</TD><TD><INPUT NAME=spleen_length size=10 maxlength=10 ></INPUT></TD>
<TD>Tenderness</TD><TD><INPUT NAME=spln_tenderness size=10 maxlength=10 ></INPUT></TD>
</TR>
<TR><TD></TD><TD><INPUT NAME=splenomegaly size=10 maxlength=10 ></INPUT></TD></TR>
</TABLE>
</FIELDSET>
</TD></TR>

<TR><TD>
<FIELDSET>
<TABLE BORDER=0 ALIGN=center cellspacing="3" cellpadding="3">
<TR>
<TD>Shifting Dullness</TD><TD><INPUT NAME=dullness size=10 maxlength=10 ></INPUT></TD>
<TD>Fluid thrill</TD><TD><INPUT NAME=fluid size=10 maxlength=10 ></INPUT></TD>
<TD>No Bowelsound</TD><TD><INPUT NAME=bowelsound size=10 maxlength=10 ></INPUT></TD>
<TD>Borborygmi</TD><TD><INPUT NAME=borborygami size=10 maxlength=10 ></INPUT></TD>
</TR>
</TABLE>
</FIELDSET>
</TD></TR>
<TR><TD>
<FIELDSET>
	<LEGEND><FONT COLOR="green">Palpable Lump</FONT></LEGEND>
<TABLE BORDER=0 ALIGN=center cellspacing="3" cellpadding="3">
<TR>
<TD>Longitudinal</TD><TD><INPUT NAME=lumph_length size=10 maxlength=10 ></INPUT></TD>
<TD>Lateral Dimension</TD><TD><INPUT NAME=lumph_width size=10 maxlength=10 ></INPUT></TD>
</TR>

<TR><TD></TD><TD><INPUT NAME=palpable size=10 maxlength=10 ></INPUT></TD></TR>

<TR>
<TD>Tender Lump</TD><TD><INPUT NAME=lump size=10 maxlength=10 ></INPUT></TD>
<TD></TD><TD><INPUT NAME=palp_surface size=10 maxlength=10 ></INPUT></TD>
</TR>

<TR>
<TD>Abominal wall?</TD><TD><INPUT NAME=abominal size=10 maxlength=10 ></INPUT></TD>
<TD>Peritoneal cavity?</TD><TD><INPUT NAME=cavity size=10 maxlength=10 ></INPUT></TD>
<TD>Can Get Above?</TD><TD><INPUT NAME=above size=10 maxlength=10 ></INPUT></TD>
<TD>Can Get Below</TD><TD><INPUT NAME=below size=10 maxlength=10 ></INPUT></TD>
</TR>

<TR>
<TD>Fixed</TD><TD><INPUT NAME=fixed size=10 maxlength=10 ></INPUT></TD>
<TD>Mobile</TD><TD><INPUT NAME=mobile size=10 maxlength=10 ></INPUT></TD>
<TD>Bimanual palpable</TD><TD><INPUT NAME=bimanual size=10 maxlength=10 ></INPUT></TD>
<TD>Pulsatile</TD><TD><INPUT NAME=pulsatile size=10 maxlength=10 ></INPUT></TD>
</TR>

<TR>
<TD>Reducible</TD><TD><INPUT NAME=reducible size=10 maxlength=10 ></INPUT></TD>
<TD>Fluctuant</TD><TD><INPUT NAME=fluctuant size=10 maxlength=10 ></INPUT></TD>
<TD>Transillumination</TD><TD><INPUT NAME=transilluminationl size=10 maxlength=10 ></INPUT></TD>
</TR>
<TABLE>

<TABLE BORDER=0 ALIGN=Left cellspacing="3" cellpadding="3">
<TR><TD><Font color=GREEN>Likely Organ of Origin</Font></TD></TR>
<TR>
<TD>Left Kidney</TD><TD><INPUT NAME=left_kidney size=10 maxlength=10 ></INPUT></TD>
<TD>Right Kidney</TD><TD><INPUT NAME=right_kidney size=10 maxlength=10 ></INPUT></TD>
<TD>Gall Bladder</TD><TD><INPUT NAME=gall_bladder size=10 maxlength=10 ></INPUT></TD>
</TR>

<TR>
<TD>Pancreas</TD><TD><INPUT NAME=pancreas size=10 maxlength=10 ></INPUT></TD>
<TD>Abdominal aorta</TD><TD><INPUT NAME=aorta size=10 maxlength=10 ></INPUT></TD>
<TD>Undefined</TD><TD><INPUT NAME=undefined size=10 maxlength=10 ></INPUT></TD>
</TR>
<TR>
<TD>Location</TD><TD><INPUT NAME=lump_loc size=10 maxlength=10 ></INPUT></TD>
</TR>
</TABLE>
</FIELDSET>
</TD></TR>
<TR><TD>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Date of test</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</TABLE>
</TD></TR>
</TABLE>
</CENTER>
</BODY>
</HTML>