<HTML>
<HEAD>   
	<TITLE>Past History</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<CENTER>
<H3>Past History</H3>
<FORM name="a21">
<INPUT TYPE="hidden" NAME="frmnam" value="a21">
<TABLE ALIGN=center BORDER=0 CELLSPACING=5 CELLPADDING=5 WIDTH="80%" class='tableb'>

<TR><TD>
<TABLE BORDER=0 ALIGN=center>
<TR><TD valign=top>

<FIELDSET>
	<LEGEND><FONT COLOR="green">Past History of Oppurtunistic Infection</FONT></LEGEND>
<TABLE BORDER=0 ALIGN=center CELLSPACING=3 CELLPADDING=3>
<TR>
<TD>Diagnosis</TD><TD><INPUT NAME=infection_diag size=20 maxlength=50></INPUT></TD>
<TD>ICD code</TD><TD><INPUT NAME=infection_icd size=20 maxlength=50></INPUT></TD>
</TR>

<TR>
<TD>Onset</TD><TD><INPUT NAME=infection_onset size=20 maxlength=50></INPUT></TD>

<TD>Duration</TD><TD><INPUT NAME=infection_duration size=20 maxlength=50></INPUT></TD>
<TD></TD><TD><INPUT NAME=infection_hdmy size=20 maxlength=50></INPUT></TD>
</TR>

<TR><TD>Hospitalisation</TD><TD><INPUT NAME=infection_hos size=20 maxlength=50></INPUT></TD></TR>
</TABLE>
</FIELDSET><br>

<FIELDSET>
	<LEGEND><FONT COLOR="green">Past History of Tuberculosis/Exposure</FONT></LEGEND>
<TABLE BORDER=0 ALIGN=center CELLSPACING=3 CELLPADDING=3>
<!-- <TR><TD><FONT COLOR="green">Drug Hypersensitivity</FONT></TD></TR> -->
<TR>
<TD>Exposure to TB</TD><TD><INPUT NAME=tb_exposure size=20 maxlength=50></INPUT></TD>
</TR>

<TR>
<TD>Diagnosis</TD><TD><INPUT NAME=tb_diag size=20 maxlength=50></INPUT></TD>
<TD>ICD code</TD><TD><INPUT NAME=tb_icd size=20 maxlength=50></INPUT></TD>
</TR>

<TR>
<TD>Onset</TD><TD><INPUT NAME=tb_onset size=20 maxlength=50></INPUT></TD>

<TD>Duration</TD><TD><INPUT NAME=tb_duration size=20 maxlength=50></INPUT></TD>
<TD></TD><TD><INPUT NAME=tb_hdmy size=20 maxlength=50></INPUT></TD>
</TR>
<TR><TD>Hospitalisation</TD><TD><INPUT NAME=tb_hos size=20 maxlength=50></INPUT></TD></TR>
</TABLE>
</FIELDSET><br>


<FIELDSET>
	<LEGEND><FONT COLOR="green">Other Significant Past Illness</FONT></LEGEND>
<TABLE BORDER=0 ALIGN=center CELLSPACING=3 CELLPADDING=3>
<!-- <TR><TD><FONT COLOR="green">Drug Hypersensitivity</FONT></TD></TR> -->

<TR>
<TD>Diagnosis</TD><TD><INPUT NAME=past_diag size=20 maxlength=50></INPUT></TD>
<TD>ICD code</TD><TD><INPUT NAME=past_icd size=20 maxlength=50></INPUT></TD>
</TR>

<TR>
<TD>Onset</TD><TD><INPUT NAME=past_onset size=20 maxlength=50></INPUT></TD>

<TD>Duration</TD><TD><INPUT NAME=past_duration size=20 maxlength=50></INPUT></TD>
<TD><INPUT NAME=past_hdmy size=20 maxlength=50></INPUT></TD>
</TR>

<TR><TD>Hospitalisation</TD><TD><INPUT NAME=past_hos size=20 maxlength=50></INPUT></TD>
<TD>Surgery</TD><TD><INPUT NAME=past_surgery size=20 maxlength=50></INPUT></TD>
</TR>

</TABLE>
</FIELDSET><br>

<TABLE BORDER=0 ALIGN=center>
<TR>
	<TD>Test Date</TD><TD><INPUT NAME=testdate size=20></INPUT></TD>
</TR>
<TR>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD>
</TR>
</TABLE>
</TD></TR>
</TABLE>
</FORM>
</CENTER>
</BODY>
</HTML>