<HTML>
<HEAD>   
	<TITLE>Respiratory System</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<CENTER>
<FORM name="a19">
<INPUT TYPE="hidden" NAME="frmnam" value="a19"> 
<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING="5" WIDTH="80%" class='tableb'>

<TR><TD>
<FIELDSET>
<LEGEND><FONT COLOR="Green" size="4"><STRONG>Birth History</STRONG></FONT></LEGEND>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Gestation</TD><TD><INPUT NAME=term size=10 maxlength=10></INPUT></TD></TR>
<TR><TD>Delivery</TD><TD><INPUT NAME=delivery size=10 maxlength=10></INPUT></TD></TR>
<TR><TD>Birth Weight</TD><TD><INPUT NAME=weight size=10 maxlength=10></INPUT>gms</TD></TR>
</CENTER></TABLE>
</FIELDSET>
</TR></TD>

<TR><TD>
<FIELDSET >
	<LEGEND><FONT COLOR="Green" size="4"><STRONG>Maternal PMTCT</STRONG></FONT></LEGEND>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Antenatal</TD><TD><INPUT NAME=mat_ante size=10 maxlength=10></INPUT></TD></TR>
<TR><TD>Duration</TD><TD><INPUT NAME=mat_duration size=10 maxlength=10></INPUT></TD></TR>
<TR><TD>IntraPartum</TD><TD><INPUT NAME=mat_partum size=10 maxlength=10></INPUT></TD></TR>
</CENTER></TABLE>
</FIELDSET>
</TR></TD>

<TR><TD>
<FIELDSET>
	<LEGEND><FONT COLOR="Green" size="4"><STRONG>Neonatal PMTCT</STRONG></FONT></LEGEND>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Single Dose <br> NVP</TD><TD><INPUT NAME=dose size=10 maxlength=10></INPUT></TD></TR>
<TR><TD>Neonatal ARV</TD><TD><INPUT NAME=arv size=10 maxlength=10></INPUT></TD></TR>
<TR><TD>Duration</TD><TD><INPUT NAME=duration size=10 maxlength=10></INPUT></TD></TR>
</CENTER></TABLE>
</FIELDSET>
</TR></TD>

<TR><TD>
<TABLE BORDER=0 ALIGN=center>
<TR>
<TD>Test Date</TD><TD><INPUT NAME=testdate size=20></INPUT></TD>
<TD>&nbsp;&nbsp;&nbsp;&nbsp;Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</TABLE>
</TD></TR>
</TABLE>
</FORM>
</CENTER>
</BODY>
</HTML>