<HTML>
<HEAD>   
	<TITLE>Summary reports</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<H3>Summary reports</H3>
<FORM name="d02">
<INPUT TYPE="hidden" NAME="frmnam" value="d02">
<CENTER><TABLE ALIGN=center BORDER=1 CELLSPACING=0 CELLPADDING=0 WIDTH="80%" class='tableb'>
<TR><TD>

<TABLE ALIGN=center>
<TR><TD>Complaint</TD><TD><TEXTAREA NAME=tbxcomplaint rows=2 cols=50></TEXTAREA><BR></TD></TR>
<TR><TD>Findings</TD><TD><TEXTAREA NAME=tbxfindings rows=2 cols=50></TEXTAREA><BR></TD></TR>
<TR><TD>Investigations</TD><TD><TEXTAREA NAME=tbxinvest rows=2 cols=50></TEXTAREA><BR></TD></TR>
<TR><TD>Diagnosis</TD><TD><TEXTAREA NAME=tbxdiagnosis rows=2 cols=50></TEXTAREA><BR></TD></TR>
<TR><TD>Treatment</TD><TD><TEXTAREA NAME=tbxtreatment rows=2 cols=50></TEXTAREA><BR></TD></TR>
<TR><TD>Any other</TD><TD><TEXTAREA NAME=tbxother_x rows=2 cols=50></TEXTAREA><BR></TD></TR>
</CENTER></TABLE>
<TABLE ALIGN=center>
<TR><TD>Diagnosis date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>&nbsp;&nbsp;
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>
</TD></TR>
</CENTER>
</TABLE>
</FORM>
</BODY>
</HTML>