<HTML>
<HEAD> 
	<TITLE>d05</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">

</HEAD>
<BODY>
<CENTER>
<H3>Chemotherapy Note</H3>
<FORM name="d05">
<INPUT TYPE="hidden" name="frmnam" value="d05">

<TABLE  CELLPADDING=5 ALIGN=center WIDTH="90%" class='tableb' >
<TR>
	<TD>

<TABLE ALIGN=center BORDER=2 CELLSPACING=0 CELLPADDING=0 WIDTH="100%">
<TR><TD valign=top>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>CT Regime-I</TD><TD><TEXTAREA NAME=tbxct_regime_i rows=2 cols=20></TEXTAREA></TD></TR>
<TR><TD>Drugs Used</TD><TD><TEXTAREA NAME=tbxdrugs_used_i rows=2 cols=20></TEXTAREA></TD></TR>

<TR><TD><H4>Cycle Name</H4></TD><TD><H4>Date (ddmmyyyy)</H4></TD></TR>
			
<TR><TD>Cycle-I</TD><TD>
<INPUT NAME=cycle_i_date size=8 maxlength=8></INPUT></TD></TR>

<TR><TD>Cycle-II</TD><TD>
<INPUT NAME=cycle_ii_date size=8 maxlength=8></INPUT></TD></TR>

<TR><TD>Cycle-III</TD><TD>
<INPUT NAME=cycle_iii_date size=8 maxlength=8></INPUT></TD></TR>

<TR><TD>Cycle-IV</TD><TD>
<INPUT NAME=cycle_iv_date size=8 maxlength=8></INPUT></TD></TR>

<TR><TD>Cycle-V</TD><TD>
<INPUT NAME=cycle_v_date size=8 maxlength=8></INPUT></TD></TR>

<TR><TD>Cycle-VI</TD><TD>
<INPUT NAME=cycle_vi_date size=8 maxlength=8></INPUT></TD></TR>

	
			</CENTER>
			</TABLE>

			</TD>

			<TD VALIGN=TOP>
			<TABLE BORDER=0 ALIGN=center>
			
			
			<TR><TD>CT Regime-II</TD><TD><TEXTAREA NAME=tbxct_regime_ii rows=2 cols=20></TEXTAREA></TD></TR>
			<TR><TD>Drugs Used</TD><TD><TEXTAREA NAME=tbxdrugs_used_ii rows=2 cols=20></TEXTAREA></TD></TR>
			
			<TR><TD><H4>Cycle Name</H4></TD><TD><H4>Date (ddmmyyyy)</H4></TD></TR>

<TR><TD>Cycle-I</TD><TD>
<INPUT NAME=cycle2_i_date size=8 maxlength=8></INPUT></TD></TR>

<TR><TD>Cycle-II</TD><TD>
<INPUT NAME=cycle2_ii_date size=8 maxlength=8></INPUT></TD></TR>

<TR><TD>Cycle-III</TD><TD>
<INPUT NAME=cycle2_iii_date size=8 maxlength=8></INPUT></TD></TR>

<TR><TD>Cycle-IV</TD><TD>
<INPUT NAME=cycle2_iv_date size=8 maxlength=8></INPUT></TD></TR>

<TR><TD>Cycle-V</TD><TD>
<INPUT NAME=cycle2_v_date size=8 maxlength=8></INPUT></TD></TR>

<TR><TD>Cycle-VI</TD><TD>
<INPUT NAME=cycle2_vi_date size=8 maxlength=8></INPUT></TD></TR>
</TABLE>
</TD></TR>
</CENTER>
</TABLE>

		<TABLE BORDER=1 ALIGN=center WIDTH="100%">
	
		<TR><TD WIDTH="25%" >Any other</TD><TD><TEXTAREA NAME=tbxanyother rows=2 cols=50></TEXTAREA></TD></TR>
		<TR><TD WIDTH="25%" >General impression</TD><TD><TEXTAREA NAME=tbxgeneralimp rows=2 cols=50></TEXTAREA></TD></TR>
	</TABLE>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entrydate</TD><TD><INPUT NAME=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>

</TD></TR>
</TABLE>

</FORM>
</CENTER></BODY>
</HTML>