<HTML>
<HEAD>   
	<TITLE>Anaesthasia / ITU Note</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY><CENTER>
<H3>ANAESTHASIA / ITU NOTE</H3>
<FORM name="d07">
<INPUT TYPE="hidden" name="frmnam" value="d07" >

<TABLE  CELLPADDING=5 ALIGN=center WIDTH="90%" class='tableb' >
<TR>
	<TD>


<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="80%">

<TR><TD>
<TABLE BORDER=0 ALIGN=center>
<TR><TD><TEXTAREA NAME=tbxanaesthasia_itu rows=10 cols=50></TEXTAREA></TD></TR>
</CENTER></TABLE>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Diagnosis date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entrydate</TD><TD><INPUT NAME=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>
</TD></TR>
</CENTER>
</TABLE>

</TD></TR>
</TABLE>

</FORM>
</CENTER>
</BODY>
</HTML>
