<HTML>
<HEAD>   
	<TITLE>OPERATIVE NOTE</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">

</HEAD>
<BODY>
<CENTER>
<H3>OPERATIVE NOTE</H3>
<FORM name="d10">
<INPUT TYPE="hidden" name="frmnam" value="d10"> 
<TABLE  CELLPADDING=5 ALIGN=center WIDTH="90%" class='tableb' >
<TR>
	<TD>

<!-- ///////////////Operation I //////////////////// -->

<TABLE ALIGN=center BORDER=1 CELLSPACING=0 CELLPADDING=0 WIDTH="100%">


			<TR>
			<TD valign=top>
			<TABLE BORDER=0 ALIGN=center>
			<TR><TD>Operation No.</TD><TD><INPUT NAME=operation_no1 size=5 maxlength=50></INPUT></TD></TR>
			</TABLE>
			</TD>

			<TD VALIGN=TOP>
			<TABLE BORDER=0 ALIGN=center>
			<TR><TD>Operation Date:</TD><TD><INPUT NAME=operation_date1 size=8 maxlength=50></INPUT></TD></TR>
			</TABLE>
			</TD>
			
			<TD VALIGN=TOP>
			<TABLE BORDER=0 ALIGN=center>
			<TR><TD>Surgeons:</TD><TD><INPUT NAME=surgeons1 size=25 maxlength=50></INPUT></TD></TR>
			</TABLE>
			</TD>
			</TR>


			</CENTER>
	</TABLE>



<TABLE BORDER=1 ALIGN=center WIDTH="100%">
	<TR><TD valign=top>
			
		<TABLE BORDER=0>
		<TR><TD>&nbsp;&nbsp;&nbsp;&nbsp;</TD><TD><H4>Opretave Findings & Procedure</H4></TD></TR>
		<TR><TD></TD><TD><TEXTAREA NAME=tbxopretave_findings1 rows=5 cols=75></TEXTAREA></TD></TR>
		</TABLE>				
		</TD></TR>
</TABLE>

<!-- ///////////////Operation II //////////////////// -->


<TABLE ALIGN=center BORDER=1 CELLSPACING=0 CELLPADDING=0 WIDTH="100%">


			<TR>
			<TD valign=top>
			<TABLE BORDER=0 ALIGN=center>
			<TR><TD>Operation No.</TD><TD><INPUT NAME=operation_no2 size=5 maxlength=50></INPUT></TD></TR>
			</TABLE>
			</TD>

			<TD VALIGN=TOP>
			<TABLE BORDER=0 ALIGN=center>
			<TR><TD>Operation Date:</TD><TD><INPUT NAME=operation_date2 size=8 maxlength=50></INPUT></TD></TR>
			</TABLE>
			</TD>
			
			<TD VALIGN=TOP>
			<TABLE BORDER=0 ALIGN=center>
			<TR><TD>Surgeons:</TD><TD><INPUT NAME=surgeons2 size=25 maxlength=50></INPUT></TD></TR>
			</TABLE>
			</TD>
			</TR>


			</CENTER>
	</TABLE>



<TABLE BORDER=1 ALIGN=center WIDTH="100%">
	<TR><TD valign=top>
			
		<TABLE BORDER=0>
		<TR><TD>&nbsp;&nbsp;&nbsp;&nbsp;</TD><TD><H4>Opretave Findings & Procedure</H4></TD></TR>
		<TR><TD></TD><TD><TEXTAREA NAME=tbxopretave_findings2 rows=5 cols=75></TEXTAREA></TD></TR>
		</TABLE>				
		</TD></TR>
</TABLE>

<!-- ///////////////Operation III //////////////////// -->

<TABLE ALIGN=center BORDER=1 CELLSPACING=0 CELLPADDING=0 WIDTH="100%">


			<TR>
			<TD valign=top>
			<TABLE BORDER=0 ALIGN=center>
			<TR><TD>Operation No.</TD><TD><INPUT NAME=operation_no3 size=5 maxlength=50></INPUT></TD></TR>
			</TABLE>
			</TD>

			<TD VALIGN=TOP>
			<TABLE BORDER=0 ALIGN=center>
			<TR><TD>Operation Date:</TD><TD><INPUT NAME=operation_date3 size=8 maxlength=50></INPUT></TD></TR>
			</TABLE>
			</TD>
			
			<TD VALIGN=TOP>
			<TABLE BORDER=0 ALIGN=center>
			<TR><TD>Surgeons:</TD><TD><INPUT NAME=surgeons3 size=25 maxlength=50></INPUT></TD></TR>
			</TABLE>
			</TD>
			</TR>


			</CENTER>
	</TABLE>



<TABLE BORDER=1 ALIGN=center WIDTH="100%">
	<TR><TD valign=top>
			
		<TABLE BORDER=0>
		<TR><TD>&nbsp;&nbsp;&nbsp;&nbsp;</TD><TD><H4>Opretave Findings & Procedure</H4></TD></TR>
		<TR><TD></TD><TD><TEXTAREA NAME=tbxopretave_findings3 rows=5 cols=75></TEXTAREA></TD></TR>
		</TABLE>				
		</TD></TR>
</TABLE>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Diagnosis date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD><TD>Entrydate</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>
</TD></TR>
</TABLE>

</FORM>
</CENTER>

</BODY>
</HTML>