<HTML>
<HEAD>   
	<TITLE>Pain</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<H3>Pain</H3>
<FORM name="h01">
<INPUT TYPE="hidden" name="frmnam" value="h01">

<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="90%" class='tableb'>
<TR><TD>
<TABLE BORDER=0 ALIGN=center>
<TR><TD valign=top>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Site</TD><TD><INPUT NAME=site size=10 maxlength=50></INPUT></TD></TR>
<TR><TD>Time of onset</TD><TD><INPUT NAME=time_onset size=10 maxlength=50></INPUT></TD></TR>
<TR><TD>Mode of onset</TD><TD><INPUT NAME=mode_onset size=10 maxlength=50></INPUT></TD></TR>
<TR><TD>Duration</TD><TD><INPUT NAME=duration size=10 maxlength=50></INPUT></TD></TR>
<TR><TD>Shifting</TD><TD><INPUT NAME=shifting size=10 maxlength=50></INPUT></TD></TR>
<TR><TD>Radiation</TD><TD><INPUT NAME=radiation size=10 maxlength=50></INPUT></TD></TR>
<TR><TD>Referral</TD><TD><INPUT NAME=referral size=10 maxlength=50></INPUT></TD></TR>
</CENTER></TABLE>

</TD>

<TD VALIGN=TOP>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Character</TD><TD><INPUT NAME=character size=10 maxlength=50></INPUT></TD></TR>
<TR><TD>Effect of Pressure</TD><TD><INPUT NAME=effect_pressure size=10 maxlength=50></INPUT></TD></TR>
<TR><TD>Effect of Walking</TD><TD><INPUT NAME=effect_walking size=10 maxlength=50></TD></TR>
<TR><TD>Effect of Jolting</TD><TD><INPUT NAME=jolting size=10 maxlength=50></TD></TR>
<TR><TD>Effect of Breathing</TD><TD><INPUT NAME=breathing size=10 maxlength=50></TD></TR>
<TR><TD>Effect of Micturition</TD><TD><INPUT NAME=micturition size=10 maxlength=50></TD></TR>
<TR><TD>Worsens by</TD><TD><INPUT NAME=worse size=10 maxlength=50></INPUT></TD></TR>		
<TR><TD>Relieved by</TD><TD><INPUT NAME=relieved size=10 maxlength=50></INPUT></TD></TR> 
</CENTER>
</TABLE></TD></TR>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Any other feature</TD><TD><INPUT NAME=others size=40 maxlength=50></INPUT></TD></TR>
<TR><TD>General impression</TD><TD><INPUT NAME=tbxgeneralimp size=40 maxlength=50></INPUT></TD></TR>
</CENTER></TABLE>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>

</TD></TR>
</CENTER></TABLE>
</FORM>
</BODY>
</HTML>
