<HTML>
<HEAD>   
	<TITLE>Past History</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<H3>Past History</H3>
<FORM name="h04">
<INPUT TYPE="hidden" name="frmnam" value="h04"> 
<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="80%" class='tableb'>
<TR><TD>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Similar illness</TD><TD><INPUT NAME=similar size=50 maxlength=50></INPUT></TD></TR>
<TR><TD>Treatment received</TD><TD><INPUT NAME=treatment size=50 maxlength=50></INPUT></TD></TR>
<TR><TD>Medical history</TD><TD><INPUT NAME=medical size=50 maxlength=50></INPUT></TD></TR>
<TR><TD>Surgical history</TD><TD><INPUT NAME=surgical size=50 maxlength=50></INPUT></TD></TR>
<TR><TD>Family history</TD><TD><INPUT NAME=family size=50 maxlength=50></INPUT></TD></TR>
<TR><TD>Functional Enquiry</TD><TD><INPUT NAME=functional size=50 maxlength=50></INPUT></TD></TR>
<TR><TD> Any other significant</TD><TD><INPUT NAME=diseases size=50 maxlength=50></INPUT></TD></TR>
<TR><TD>General impression</TD><TD><TEXTAREA NAME=tbxgeneralimp rows=2 cols=38></TEXTAREA></TD></TR>
</CENTER></TABLE>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>
</TD></TR>
</CENTER>
</TABLE>
</FORM>
</BODY>
</HTML>
