<HTML>
<HEAD>   
	<TITLE>Social & Personal History</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<H3>Social & Personal History</H3>
<FORM name="h05">
<INPUT TYPE="hidden" NAME="frmnam" value="h05"> 
<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="80%" class='tableb'>

<TR><TD>
<TABLE BORDER=0 ALIGN=center>
<TR><TD valign=top>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Occupation</TD><TD><INPUT NAME=occupation size=14 maxlength=50></INPUT></TD></TR>
<TR><TD>Exposure to chemicals,radiation</TD><TD><INPUT NAME=exposure size=14 maxlength=50></INPUT></TD></TR>
<TR><TD>Socio-economic status</TD><TD><INPUT NAME=socio size=14 maxlength=50></INPUT></TD></TR>
<TR><TD>Dependants in family</TD><TD><INPUT NAME=infamily  size=14 maxlength=50></INPUT></TD></TR>
</CENTER></TABLE>

</TD>

<TD VALIGN=TOP>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Marital status</TD><TD><INPUT NAME=marital size=14 maxlength=50></INPUT></TD></TR>
<TR><TD>Diet</TD><TD><INPUT NAME=diet size=14 maxlength=50></INPUT></TD></TR>
<TR><TD>Habit</TD><TD><INPUT NAME=habit size=14 maxlength=20></INPUT></TD></TR>
<TR><TD>H/O exposure</TD><TD><INPUT NAME=ho_exphist size=14 maxlength=50></INPUT></TD></TR>
<TR><TD>Contracted STD</TD><TD><INPUT NAME=contracted size=14 maxlength=50></INPUT></TD></TR>
</CENTER>
</TABLE></TD></TR>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Any other</TD><TD><INPUT NAME=anyother size=65 maxlength=50></INPUT></TD></TR>
<TR><TD>General impression</TD><TD><TEXTAREA NAME=tbxgeneralimp rows=2 cols=50></TEXTAREA></TD></TR>
</CENTER></TABLE>

<TABLE ALIGN=center>
<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>

</TD></TR>
</CENTER></TABLE>
</FORM>
</BODY>
</HTML>