
<HTML>
<HEAD>   
	<TITLE>h07</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">

</HEAD>
<BODY><CENTER>
<H3>Gynaecological history</H3>
<FORM name="h07">
<INPUT TYPE="hidden" name="frmnam" value="h07">
<TABLE ALIGN=center BORDER=1 CELLSPACING=0 CELLPADDING=0 WIDTH="95%" class='tableb'>

<TR><TD>
	<TABLE BORDER=0 ALIGN=center>
			<TR><TD valign=top>
				<TABLE BORDER=0 ALIGN=center>
				<TR><TD>Marital status</TD><TD><INPUT NAME=marital_status size=20 maxlength=50></INPUT></TD></TR>
				</CENTER>
				</TABLE>
				</TD>
				<TD VALIGN=TOP>
				<TABLE BORDER=0 ALIGN=center>
				<TR><TD>LMP</TD><TD><INPUT NAME=lmp size=20 maxlength=50></INPUT></TD></TR>
				</CENTER>
				</TABLE>
			</TD></TR>
			</CENTER>
	</TABLE>



<TABLE BORDER=0 ALIGN=center>
	<TR><TD valign=top>
			
			<TABLE BORDER=0>
		<TR><TD><H4>Presenting complaints</H4></TD></TR>
		<TR><TD>Ammenorrhea</TD><TD><INPUT NAME=ammenorrhea size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Pain in abdomen</TD><TD><INPUT NAME=pain_abdomen size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Bleeding P/V</TD><TD><INPUT NAME=bleeding_pv size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Discharge P/V</TD><TD><INPUT NAME=discharge_pv size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Something coming down P/V</TD><TD><INPUT NAME=something_coming_down_pv size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Dysuria</TD><TD><INPUT NAME=dysuria size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Backache</TD><TD><INPUT NAME=backache size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Infertility</TD><TD><INPUT NAME=infertility size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Pregnancy</TD><TD><INPUT NAME=pregnancy size=20 maxlength=50></INPUT></TD></TR>
		
		<TR><TD><H4>Present history</H4></TD></TR>
		<TR><TD>Complaints</TD><TD><INPUT NAME=complaints size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Duration</TD><TD><INPUT NAME=duration size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Associated complaints</TD><TD><INPUT NAME=associated_complaints size=20 maxlength=50></INPUT></TD></TR>
		</TABLE>
				
	</TD>

		<TD VALIGN=TOP>
				<TABLE BORDER=0>
		<TR><TD><H4>Obstetric history</H4></TD></TR>
		<TR><TD>Gravida</TD><TD><INPUT NAME=gravida size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Para</TD><TD><INPUT NAME=para size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>No.of living issue</TD><TD><INPUT NAME=no_of_living_issue size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Mode of delivery</TD><TD><INPUT NAME=mode_of_delivery size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Last childbirth</TD><TD><INPUT NAME=last_childbirth size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>No. of abortions</TD><TD><INPUT NAME=no_of_abortions size=20 maxlength=50></INPUT></TD></TR>

		<TR><TD><H4>Menstrual history</H4></TD></TR>
		<TR><TD>Menarche</TD><TD><INPUT NAME=menarche size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Cycle</TD><TD><INPUT NAME=cycle size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Dysmenorrhoea</TD><TD><INPUT NAME=dysmenorrhoea size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Duration</TD><TD><INPUT NAME=duration_m size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Blood flow</TD><TD><INPUT NAME=blood_flow size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Menopause</TD><TD><INPUT NAME=menopause size=20 maxlength=50></INPUT></TD></TR>
		</TABLE>				
		</TD></TR>

</TABLE>
<TABLE BORDER=0 ALIGN=center>

<TR><TD>Any other</TD><TD><TEXTAREA NAME=tbxanyother rows=2 cols=63 wrap=virtual></TEXTAREA></TD></TR>
<TR><TD>General impression</TD><TD><TEXTAREA NAME=tbxgeneralimp rows=2 cols=63></TEXTAREA></TD></TR>

</CENTER>
</TABLE>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entrydate</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>

</CENTER></TABLE>

</TD></TR>
</CENTER></TABLE>
</FORM>
</CENTER>
</BODY>
</HTML>