<HTML>
<HEAD>   
	<TITLE>h08</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<CENTER>
<H3>Paediatrics history</H3>
<FORM name="h08">
<INPUT TYPE="hidden" name="frmnam" value="h08">
<TABLE ALIGN=center BORDER=1 CELLSPACING=0 CELLPADDING=0 WIDTH="100%" class='tableb'>


			<TR><TD valign=top>
			<TABLE BORDER=0 ALIGN=center>
			<TR><TD>Time of delivery- term\preterm </TD><TD><INPUT NAME=time_delivery size=20 maxlength=50></INPUT></TD></TR>
			<TR><TD>Mode of delivery</TD><TD><INPUT NAME=marital_status size=20 maxlength=50></INPUT></TD></TR>
			<TR><TD>Birth weight</TD><TD><INPUT NAME=birth_weight size=20 maxlength=50></INPUT></TD></TR>
			</CENTER>
			</TABLE>

			</TD>

			<TD VALIGN=TOP>
			<TABLE BORDER=0 ALIGN=center>
			
			
			<TR><TD>Feeding</TD><TD><INPUT NAME=feeding size=20 maxlength=50></INPUT></TD></TR>
			<TR><TD>Developmental milestones</TD><TD><INPUT NAME=developmental_milestones size=20 maxlength=50></INPUT></TD></TR>
			<TR><TD>Immunisation</TD><TD><INPUT NAME=immunisation size=20 maxlength=50></INPUT></TD></TR>


			</TABLE>
			</TD></TR>
			</CENTER>
	</TABLE>



<TABLE BORDER=1 ALIGN=center WIDTH="100%">
	<TR><TD valign=top>
			
		<TABLE BORDER=0>
		<TR><TD><H4>Presenting complaints</H4></TD></TR>
		<TR><TD>Fever</TD><TD><INPUT NAME=fever size=25 maxlength=50></INPUT></TD></TR>
		<TR><TD>Rash</TD><TD><INPUT NAME=rash size=25 maxlength=50></INPUT></TD></TR>
		<TR><TD>Refusal to suck</TD><TD><INPUT NAME=refusal_suck size=25 maxlength=50></INPUT></TD></TR>
		<TR><TD>Diarrhoea</TD><TD><INPUT NAME=diarrhoea size=25 maxlength=50></INPUT></TD></TR>
		<TR><TD>Vomiting</TD><TD><INPUT NAME=vomiting size=25 maxlength=50></INPUT></TD></TR>
		<TR><TD>Bleeding tendency</TD><TD><INPUT NAME=bleeding_tendency size=25 maxlength=50></INPUT></TD></TR>
		<TR><TD>Pain in abdomen</TD><TD><INPUT NAME=pain_abdomen size=25 maxlength=50></INPUT></TD></TR>
		<TR><TD>Respiratory distress </TD><TD><INPUT NAME=respiratory_distress size=25 maxlength=50></INPUT></TD></TR>
		</TABLE>
				
		</TD>

		<TD VALIGN=TOP>
				<TABLE BORDER=0>
		<TR><TD><H4>Past history</H4></TD></TR>
		<TR><TD>H/o past illness</TD><TD><INPUT NAME=ho_past_illness size=25 maxlength=50></INPUT></TD></TR>		
		<TR><TD>Nature</TD><TD><INPUT NAME=nature size=25 maxlength=50></INPUT></TD></TR> 						
		<TR><TD>Severity</TD><TD><INPUT NAME=severity size=25 maxlength=50></INPUT></TD></TR>						
		<TR><TD>Age of occurrence</TD><TD><INPUT NAME=age_occurrence size=25 maxlength=50></INPUT></TD></TR>		
		<TR><TD>Any other</TD><TD><TEXTAREA NAME=tbxanyother rows=2 cols=20 wrap=virtual></TEXTAREA></TD></TR>
		<TR><TD>General impression</TD><TD><TEXTAREA NAME=tbxgeneralimp rows=2 cols=20 wrap=virtual></TEXTAREA></TD></TR>
		<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD></TR>
		<TR><TD>Entrydate</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>

		</TABLE>				
		</TD></TR>

</TABLE>
</CENTER>
</FORM>
</BODY>
</HTML>