<HTML>
<HEAD>   
	<TITLE>Parent History</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY >
<H3>Parent History</H3>
<FORM  name="h12">
<INPUT TYPE="hidden" NAME="frmnam" value="h12"> 
<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="95%" class='tableb'>

<TR><TD>
<TABLE BORDER=0 ALIGN=center>
<TR><TD><FONT COLOR="green">Mother</FONT></TD></TR>
<TR><TD>Alive</TD><TD><INPUT NAME=mother_alive size=10 maxlength=10 ></INPUT></TD></TR>
<TR><TD>Age</TD><TD><INPUT NAME=mother_age size=10 maxlength=10 ></INPUT>Year</TD></TR>
<TR><TD>HIV</TD><TD><INPUT NAME=mother_hiv size=10 maxlength=10 ></INPUT></TD></TR>
<TR><TD>OI</TD><TD><INPUT NAME=mother_io size=10 maxlength=10 ></INPUT></TD></TR>
<TR><TD>ART</TD><TD><INPUT NAME=mother_haart size=10 maxlength=10 ></INPUT></TD></TR>
<TR><TD>Comment</TD><TD><INPUT NAME=mother_comments size=10 maxlength=10 ></INPUT></TD></TR>
</TABLE>

<TABLE BORDER=0 ALIGN=center>
<TR><TD><FONT COLOR="green">Father</FONT></TD></TR>
<TR><TD>Alive</TD><TD><INPUT NAME=father_alive size=10 maxlength=10 ></INPUT></TD></TR>
<TR><TD>Age</TD><TD><INPUT NAME=father_age size=10 maxlength=10 ></INPUT>Year</TD></TR>
<TR><TD>HIV</TD><TD><INPUT NAME=father_hiv size=10 maxlength=10 ></INPUT></TD></TR>
<TR><TD>OI</TD><TD><INPUT NAME=father_io size=10 maxlength=10 ></INPUT></TD></TR>
<TR><TD>ART</TD><TD><INPUT NAME=father_haart size=10 maxlength=10 ></INPUT></TD></TR>
<TR><TD>Comment</TD><TD><INPUT NAME=father_comments size=10 maxlength=10 ></INPUT></TD></TR>
</TABLE>
<TABLE BORDER=0 ALIGN=center>
<TR>
<TD>Test Date</TD><TD><INPUT NAME=testdate size=20></INPUT></TD>
<TD>&nbsp;&nbsp;&nbsp;&nbsp;Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>
</CENTER></TABLE>
</FORM>
</BODY>
</HTML>