<HTML>
<HEAD>   
	<TITLE>Allergy History</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>

<BODY>
<H3>Allergy History</H3>
<FORM name="h13">
<INPUT TYPE="hidden" NAME="frmnam" value="h13">
<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="95%" class='tableb'>

<TR><TD>
<TABLE BORDER=0 ALIGN=center>
<TR><TD valign=top>
<TABLE BORDER=0 ALIGN=center>
<TR><TD><FONT COLOR="green">Drug Hypersensitivity</FONT></TD></TR>
<TR><TD>Drug Name</TD><TD><INPUT NAME=drug_name size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Drug Class </TD><TD><INPUT NAME=drug_class size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Route of Administration</TD><TD><INPUT NAME=route_administration size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Onset</TD><TD><INPUT NAME=onset_drug size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Nature of Hypersensitivity</TD><TD><INPUT NAME=hypersensitivity size=20 maxlength=50></INPUT></TD></TR>

<TR><TD><FONT COLOR="green">Hypersensitivity to other Agents</FONT></TD></TR>
<TR><TD>Agent</TD><TD><INPUT NAME=agent size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Mode of Contact</td><td> <INPUT name=mode_contact size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Onset</TD><TD><INPUT NAME=onset_other size=20 maxlength=8></INPUT></TD></TR>
<TR><TD>Nature of Allergy</TD><TD><INPUT NAME=nature_allergy size=20 maxlength=50></INPUT></TD></TR>
</CENTER>
</TABLE></TD></TR>

<TABLE BORDER=0 ALIGN=center>
<TR>
<TD>Test Date</TD><TD><INPUT NAME=testdate size=20></INPUT></TD>
<TD>&nbsp;&nbsp;&nbsp;&nbsp;Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>

</TD></TR>
</CENTER></TABLE>
</FORM>
</BODY>
</HTML>