<HTML>
<HEAD>   
	<TITLE>Family History</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY onload='datentry();'>
<H3>Sibling History</H3>
<FORM name="h14">
<INPUT TYPE="hidden" name="frmnam" value="h14"> 
<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="100%" class='tableb'>

<TR><TD>

<TABLE BORDER=0 ALIGN=center cellspacing="0" cellpadding="10">
<TR><TD>Relationship</TD><TD><INPUT NAME=relationship size=15></INPUT></TD></TR>
<TR><TD>Common Parents</TD><TD><INPUT NAME=commonparents size=15></INPUT></TD>
</TR>
<TR>
<TD>AGE</TD><TD><INPUT NAME=age_year size=5></INPUT>Year</TD>
<TD></TD><TD><INPUT NAME=age_month size=5></INPUT>Month</TD>
<TD></TD><TD><INPUT NAME=age_day size=5></INPUT>Days</TD></TR>

</TABLE>

<TABLE ALIGN=center cellspacing="1" cellpadding="10" border="0">
<TR><TD> IS Alive:</TD>
<TD><INPUT NAME=is_alive size=5></INPUT></TD></TR>

<TR><TD>Tested:</TD>
<TD><INPUT NAME=tested size=5></INPUT></TD></TR>

<TR><TD>HIV:</TD>
<TD><INPUT NAME=hiv size=5></INPUT></TD></TR>

<TR><TD> HAART:</TD>
<TD><INPUT NAME=haart size=5></INPUT></TD></TR>

<TR><TD>OI:</TD>
<TD><INPUT NAME=oi size=5></INPUT></TD></TR>
</TABLE>

<TABLE BORDER=0 ALIGN=center width="100">
<TR><TD>Comments:</TD><TD><TEXTAREA NAME=comments rows=2 cols=60></TEXTAREA></TD></TR>
</CENTER></TABLE>

 <TABLE BORDER=0 ALIGN=center>
 <TR>
<TD>Test Date</TD><TD><INPUT NAME=testdate size=20></INPUT></TD>
<TD>&nbsp;&nbsp;&nbsp;&nbsp;Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT>
</TABLE>
</TD></TR>
</CENTER>
</TABLE>
</FORM>
</BODY>
</HTML>