<HTML>
<HEAD>   
	<TITLE>Growth History</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<H3>Growth History</H3>
<FORM name="h15">
<INPUT TYPE="hidden" name="frmnam" value="h15"> 
<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="95%" class='tableb'>
<TR><TD>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Height (cm)</TD><TD><INPUT NAME=ht size=20 maxlength=3></INPUT></TD></TR>
<TR><TD>Weight (kg)</TD><TD><INPUT NAME=wt size=20 maxlength=3></INPUT></TD></TR>
<TR><TD>BMI</TD><TD><INPUT NAME=bmi size=20 maxlength=8></INPUT></TD></TR>
<TR><TD>HC</TD><TD><INPUT NAME=hc size=20 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>

<TABLE BORDER=0 ALIGN=center>
<TR>
<TD>Test Date</TD><TD><INPUT NAME=testdate size=20></INPUT></TD>
<TD>&nbsp;&nbsp;&nbsp;Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>
</TD></TR>
</CENTER>
</TABLE>
</FORM>
</BODY>
</HTML>