<HTML>
<HEAD>   
	<TITLE>RELEVANT MEDICAL HISTORY</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<H3>RELEVANT MEDICAL HISTORY</H3>
<FORM name="h16">
<INPUT TYPE="hidden" NAME="frmnam" value="h16">
<CENTER><TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="90%" class='tableb'>
<TR><TD>

<TABLE ALIGN=center>
<TR><TD>Diabetes</TD><TD><TEXTAREA NAME=tbxcomplaint rows=2 cols=50></TEXTAREA><BR></TD></TR>
<TR><TD>Hypertension</TD><TD><TEXTAREA NAME=tbxfindings rows=2 cols=50></TEXTAREA><BR></TD></TR>
<TR><TD>Heart Disease</TD><TD><TEXTAREA NAME=tbxinvest rows=2 cols=50></TEXTAREA><BR></TD></TR>
<TR><TD>TB</TD><TD><TEXTAREA NAME=tbxdiagnosis rows=2 cols=50></TEXTAREA><BR></TD></TR>
<TR><TD>Jaundice</TD><TD><TEXTAREA NAME=tbxtreatment rows=2 cols=50></TEXTAREA><BR></TD></TR>
<TR><TD>Asthma/Bronchitis</TD><TD><TEXTAREA NAME=tbxasthma rows=2 cols=50></TEXTAREA><BR></TD></TR>
<TR><TD>Any other</TD><TD><TEXTAREA NAME=tbxother_x rows=2 cols=50></TEXTAREA><BR></TD></TR>
</CENTER></TABLE>
<TABLE ALIGN=center>
<TR><TD>Diagnosis date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>&nbsp;&nbsp;
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>
</TD></TR>
</CENTER>
</TABLE>
</FORM>
</BODY>
</HTML>
