<HTML>
<HEAD>   
	<TITLE>Menstrual History</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<H3>Menstrual History</H3>
<FORM name="h18">
<INPUT TYPE="hidden" NAME="frmnam" value="h18">
<TABLE ALIGN=center WIDTH="80%" class='tableb'>


<TR>
	<TD>
<TABLE ALIGN=center>
<TR><TD><CENTER>
        <TR><TD width="35%">Regular:</TD><TD><INPUT NAME=regular></INPUT></TD></TR>
		<TR><TD width="35%">Irregular:</TD><TD><INPUT NAME=irregular></INPUT></TD></TR>
		<TR><TD width="35%">Scanty:</TD><TD><INPUT NAME=scanty></INPUT></TD></TR>
		<TR><TD width="35%">Excessive:</TD><TD><INPUT NAME=excessive></INPUT></TD></TR>
		<TR><TD width="35%">Average:</TD><TD><INPUT NAME=average></INPUT></TD></TR>
		<TR><TD width="35%">Pain during periods:</TD><TD><INPUT NAME=pain></INPUT></TD></TR>
		<TR><TD width="35%">Offensive discharge:</TD><TD><INPUT NAME=discharge></INPUT></TD></TR> 
</TD></TR>
</CENTER></TABLE>

</TD>
</TR>
<TABLE ALIGN=center>
<TR><TD><CENTER>
<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</TABLE>

</TD></TR>
</CENTER></TABLE>
</FORM>
</BODY>
</HTML>