<HTML>
<HEAD>   
	<TITLE>Relevant Family History</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<H3>Relevant Family History</H3>
<FORM name="h20">
<INPUT TYPE="hidden" name="frmnam" value="h20"> 
<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="90%" class='tableb'>
<TR><TD>

<TABLE BORDER=0 ALIGN=center>
<TR>
		<TD>
		<TR>
		<TD width="30%">GrandFather</TD>
		<TD ><INPUT NAME=grandfather size="50" maxlength="50"></INPUT></TD>
		<TD><INPUT NAME=tbxgf_dtls size="50" maxlength="50"></INPUT></TD>
		</TR>
		<TR>
		<TD width="25%">Grandmother</TD>
		<TD><INPUT NAME=grandmother size="50" maxlength="50"></INPUT></TD>
		<TD><INPUT NAME=tbxgm_dtls size="50" maxlength="50"></INPUT></TD>
		</TR>
		<TR>
		<TD width="25%">Father</TD>
		<TD><INPUT NAME=father size="50" maxlength="50"></INPUT></TD>
		<TD><INPUT NAME=tbxfat_dtls size="50" maxlength="50"></INPUT></TD>
		</TR>
		<TR>
		<TD width="25%">Mother</TD>
		<TD><INPUT NAME=mother size="50" maxlength="50"></INPUT></TD>
		<TD><INPUT NAME=tbxmoth_dtls size="50" maxlength="50"></INPUT></TD>
		</TR>
		<TR>
		<TD width="25%">Brother</TD>
		<TD><INPUT NAME=brother size="50" maxlength="50"></INPUT></TD>
		<TD><INPUT NAME=tbxbro_dtls size="50" maxlength="50"></INPUT></TD>
		</TR>
		<TR>
		<TD width="25%">Sister</TD>
		<TD><INPUT NAME=sister size="50" maxlength="50"></INPUT></TD>
		<TD><INPUT NAME=tbxsis_dtls size="50" maxlength="50"></INPUT></TD>
		</TR>
		<TR>
		<TD width="25%">Son</TD>
		<TD><INPUT NAME=son size="50" maxlength="50"></INPUT></TD>
		<TD><INPUT NAME=tbxson_dtls size="50" maxlength="50"></INPUT></TD>
		</TR>
		<TR>
		<TD width="25%">Daughter</TD>
		<TD><INPUT NAME=daughter size="50" maxlength="50"></INPUT></TD>
		<TD><INPUT NAME=tbxdaut_dtls size="50" maxlength="50"></INPUT></TD>
		</TR>
		</TD>
</TR>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>
</TD></TR>
</CENTER>
</TABLE>
</FORM>
</BODY>
</HTML>