<HTML>
<HEAD>   
	<TITLE>Routine Blood tests and Grouping</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<H3>Routine Blood tests and Grouping</h3>
<FORM name="i00">
<INPUT TYPE="hidden" name="frmnam" value="i00"> 
<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="100%" class='tableb'>

<TR><TD>
<TABLE BORDER=0 ALIGN=center>
<TR><TD valign=top>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>RBC Count</TD><TD><INPUT NAME=f_rbc_cnt size=12 maxlength=10>millions per c.mm. or µL of blood</INPUT></TD></TR>
<TR><TD>Haemoglobin</TD><TD><INPUT NAME=f_haemoglobin size=12 maxlength=10>g/dL</INPUT></TD></TR>
<TR><TD>WBC Count</TD><TD><INPUT NAME=wbc_cnt size=12 maxlength=10>per µL of blood</INPUT></TD></TR>
<TR><TD><H4>Differential Count</H4></TD></TR>
<TR><TD>Neutrophils</TD><TD><INPUT NAME=f_neutrophils size=12 maxlength=10>%</INPUT></TD></TR>
<TR><TD>Lymphocytes</TD><TD><INPUT NAME=f_lymphocytes size=12 maxlength=10>%</INPUT></TD></TR>
<TR><TD>Eosinophils</TD><TD><INPUT NAME=f_eosinophils size=12 maxlength=10>%</INPUT></TD></TR>
<TR><TD>Basophils</TD><TD><INPUT NAME=f_basophils size=12 maxlength=10>%</INPUT></TD></TR>
<TR><TD>Monoocytes</TD><TD><INPUT NAME=f_monoocytes size=12 maxlength=10>%</INPUT></TD></TR>
</CENTER></TABLE>

</TD>

<TD VALIGN=TOP>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Abnormal Cells</TD><TD><INPUT NAME=abnormal size=12 maxlength=50></INPUT></TD></TR>
<TR><TD>Parasites</TD><TD><INPUT NAME=parasites size=12 maxlength=50></INPUT></TD></TR>
<TR><TD>Platelet Count</TD><TD><INPUT NAME=f_platelate size=12 maxlength=10></INPUT></TD></TR>
<TR><TD>ESR 1st hour</TD><TD><INPUT NAME=f_fst_hour size=12 maxlength=10>mm.</INPUT></TD></TR>
<TR><TD>ESR 2nd hour</TD><TD><INPUT NAME=f_snd_hour size=12 maxlength=10>mm.</INPUT></TD></TR>
<TR><TD>Mean ESR </TD><TD><INPUT NAME=f_mean_esr size=12 maxlength=10>mm.</INPUT></TD></TR>
<TR><TD>Blood Group</TD><TD><INPUT NAME=bld_group size=12></INPUT></TD></TR>
<TR><TD>Rh Factor</TD><TD><INPUT NAME=rh_factor size=12></INPUT></TD></TR>
</CENTER>
</TABLE></TD></TR>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Any other tests</TD><TD><INPUT NAME=others size=65 maxlength=10></INPUT></TD></TR>
<TR><TD>General impression</TD><TD><TEXTAREA NAME=tbxgeneralimp rows=2 cols=50></TEXTAREA></TD></TR>
</CENTER></TABLE>

<TABLE BORDER=0 ALIGN=center>
<INPUT TYPE="hidden" NAME=nofimg>
<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=10></INPUT></TD>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=10></INPUT></TD></TR>
</CENTER></TABLE>

</TD></TR>
</CENTER></TABLE>
</FORM>
</BODY>
</HTML>
