<HTML>
<HEAD>   
	<title>Complete Blood Count</title>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<H3>Complete Blood Count</H3>
<form name="i02">
<INPUT TYPE="hidden" name="frmnam" value="i02"> 
<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="100%" class='tableb'>

<TR><TD>
<TABLE BORDER=0 ALIGN=center>
<TR><TD valign=top>
<TABLE BORDER=0 ALIGN=center>
<TR><TD><H4>Investigation</H4></TD><TD><H4>Result</H4></TD></TR>
<TR><TD>platelets</TD><TD><INPUT NAME=f_platelets size=20 maxlength=10>/cc</INPUT></TD></TR>
<TR><TD>Hematocrit</TD><TD><INPUT NAME=hematocrit size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>RDW</TD><TD><INPUT NAME=f_rdw size=20 maxlength=10>/cc</INPUT></TD></TR>
<TR><TD>MCV</TD><TD><INPUT NAME=f_mcv size=20 maxlength=10>%</INPUT></TD></TR>
<TR><TD>MCHC</TD><TD><INPUT NAME=f_mchc size=20 maxlength=10>%</INPUT></TD></TR>
<TR><TD>Smear</TD><TD><INPUT NAME=smear size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>NeutroS</TD><TD><INPUT NAME=neutros size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>NeutroB</TD><TD><INPUT NAME=neutrob size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Monocyte</TD><TD><INPUT NAME=mono_cyte size=20 maxlength=50></INPUT></TD></TR>
</CENTER></TABLE>

</TD>

<TD VALIGN=TOP>
<TABLE BORDER=0 ALIGN=center>
<TR><TD><h4>Investigation</H4></TD><TD><H4>Result</H4></TD></TR>
<TR><TD>Packed Cell Volume(%) </TD><TD><INPUT NAME=f_packedcell size=10 maxlength=10>%</INPUT></TD></TR>
<TR><TD>White Blood Corpuscles (/lt)</TD><TD><INPUT NAME=f_white_blood size=10 maxlength=10>/lt</INPUT></TD></TR>
<TR><TD>Monocyte</TD><TD><INPUT NAME=f_monocyte size=10 maxlength=10>%</INPUT></TD></TR>
<TR><TD>Blast Cells</TD><TD><INPUT NAME=f_blast size=10 maxlength=10>%</INPUT></TD></TR>
<TR><TD>Promyelocyte</TD><TD><INPUT NAME=f_promyclocyte size=10 maxlength=10>%</INPUT></TD></TR>
<TR><TD>Neutrophilic Myelocyte</TD><TD><INPUT NAME=f_neutrophilic size=10 maxlength=10>%</INPUT></TD></TR>
<TR><TD>Neutrophilic Metamyelocyte</TD><TD><INPUT NAME=f_metamyelocyte size=10 maxlength=10>%</INPUT></TD></TR>
<TR><TD>Neutrophilic Band</TD><TD><INPUT NAME=neutro_band size=20 maxlength=20 ></INPUT></TD></TR>
</CENTER>
</TABLE></TD></TR>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Any other tests</TD><TD><INPUT NAME=others size=60 maxlength=50></INPUT></TD></TR>
<TR><TD>General impression</TD><TD><TEXTAREA NAME=tbxgeneralimp rows=2 cols=50></TEXTAREA></TD></TR>
</CENTER></TABLE>

<TABLE BORDER=0 ALIGN=center>
<INPUT TYPE="hidden" NAME=nofimg>

<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>

</TD></TR>
</CENTER></TABLE>
</FORM>
</BODY>
</HTML>