<HTML>
<HEAD>
<TITLE>Abnormal cells</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</head>
<BODY>
<h3>Abnormal Cells</h3>
<form name="i16">
<INPUT TYPE="hidden" name="frmnam" value="i16">
<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="100%" class='tableb'>

<TR><TD>
<TABLE BORDER=0 ALIGN=center>
<TR><TD valign=top>
<TABLE BORDER=0 ALIGN=center>
<TR><TD><H4>Investigation</H4></TD><TD><H4>Result</h4></TD></TR>
<TR><TD>Hypochromia</TD><TD><INPUT NAME=hypochromia size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Anisocytosis</TD><TD><INPUT NAME=anisocytosis size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Poikilocytosis</TD><TD><INPUT NAME=poikilocytosis size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Target Cells</TD><TD><INPUT NAME=target_cells size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Basophilic Stippling</TD><TD><INPUT NAME=bas_stipling size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Cabot's Ring</TD><TD><INPUT NAME=cabot_ring size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Normoblasts</TD><TD><INPUT NAME=normoblasts size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Malaria Parasite</TD><TD><INPUT NAME=mal_parasite size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Platelets</TD><TD><INPUT NAME=f_platelets  size=20 maxlength=20></INPUT></TD></TR>
</CENTER></TABLE>

</TD>

<TD VALIGN=TOP>
<TABLE BORDER=0 ALIGN=center>
<TR><TD><h4>Investigation</h4></td><td><h4>Result</h4></TD></TR>
<TR><TD>White Blood Corpuscles</TD><TD><INPUT NAME=f_bloodcorpuscles size=10 maxlength=8>%</INPUT></TD></TR>
<TR><TD>Blast Cells</TD><TD><INPUT NAME=f_blast_cells size=10 maxlength=8>%</INPUT></TD></TR>
<TR><TD>Promyelocyte</TD><TD><INPUT NAME=promyelocyte size=10 maxlength=50></INPUT></TD></TR>
<TR><TD>Neutrophilic Myelocyte</TD><TD><INPUT NAME=neutro_myel size=10 maxlength=50></INPUT></TD></TR>
<TR><TD>Neutrophilic Metamyelocyte</TD><TD><INPUT NAME=neutro_meta size=10 maxlength=50></INPUT></TD></TR>
<TR><TD>Neutrophilic Band</TD><TD><INPUT NAME=neutro_band size=10 maxlength=50></INPUT></TD></TR>
<TR><TD>Any other tests</TD><TD><INPUT NAME=others size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>General impression</TD><TD><TEXTAREA NAME=tbxgeneralimp rows=2 cols=25></TEXTAREA></TD></TR>
</CENTER>
</TABLE></TD></TR>

<TABLE BORDER=0 ALIGN=center>
<INPUT TYPE="hidden" NAME=nofimg>

<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>

</TD></TR>
</CENTER></TABLE>
</FORM>
</BODY>
</HTML>