<HTML>
<HEAD>   
	<TITLE>Bone Marrow Exam</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<H3>Bone Marrow Exam</H3>
<form name="i18">
<INPUT TYPE="hidden" name="frmnam" value="i18"> 
<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="100%" class='tableb'>

<TR><TD>
<TABLE BORDER=0 ALIGN=center>
<TR><TD valign=top>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Site</TD><TD><INPUT NAME=site  size=18 maxlength=50></INPUT></TD></TR>
<TR><TD>Material</TD><TD><INPUT NAME=material size=16 maxlength=50></INPUT></TD></TR>
<TR><TD>Cellularity</TD><TD><INPUT NAME=cellularity size=16 maxlength=50></INPUT></TD></TR>
<TR><TD>Erythropoietic Cells</TD><TD><INPUT NAME=erythro_cel size=16 maxlength=50></INPUT></TD></TR>
</CENTER></TABLE>

</TD>

<TD VALIGN=TOP>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Granulopoietic Cells</TD><TD><INPUT NAME=granulo_cel size=16 maxlength=50></INPUT></TD></TR>
<TR><TD>Lymphocytic Cells</TD><TD><INPUT NAME=lympho_cel size=16 maxlength=50></INPUT></TD></TR>
<TR><TD>Megakaryocyte</TD><TD><INPUT NAME=megakaryocyte size=16 maxlength=50></INPUT></TD></TR>
<TR><TD>Others</TD><TD><INPUT NAME=others size=16 maxlength=50></INPUT></TD></TR>
</CENTER>
</TABLE></TD></TR>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Any other tests</TD><TD><INPUT NAME=anyoth size=55 maxlength=60></INPUT></TD></TR>
<TR><TD>General impression</TD><TD><TEXTAREA NAME=tbxgeneralimp rows=2 cols=50></TEXTAREA></TD></TR>
</CENTER></TABLE>

<TABLE BORDER=0 ALIGN=center>
<INPUT TYPE="hidden" NAME=nofimg>

<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>

</TD></TR>
</CENTER></TABLE>
</FORM>
</BODY>
</HTML>