<HTML>
<HEAD>   
	<TITLE>Obstetric Ultrasound</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</SCRIPT>
</HEAD>
<BODY>
<H3>Obstetric Ultrasound</H3>
<FORM name="i21">
<INPUT TYPE="hidden" NAME="frmnam" value="i21"> 
<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="100%" class='tableb'>

<TR><TD>
<TABLE BORDER=0 ALIGN=center>
<TR><TD valign=top>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Number of fetus</TD><TD><INPUT NAME=fetus size=18 maxlength=50></INPUT></TD></TR>
<tr><TD>Viability</TD><TD><INPUT NAME=viability  size=14 maxlength=50></INPUT></TD></TR>
<tr><TD>Presentation</TD><TD><INPUT NAME=presentation size=14 maxlength=50></INPUT></TD></TR>
<TR><TD>CRL</TD><TD><INPUT NAME=f_clr size=10 maxlength=10>cm</INPUT></TD></TR>
<TR><TD>BPD</TD><TD><INPUT NAME=f_bpd size=10 maxlength=10>cm</INPUT></TD></TR>
<TR><TD>Femur length</TD><TD><INPUT NAME=f_femur size=10 maxlength=50>cm</INPUT></TD></TR>
<TR><TD>Head circumference</TD><TD><INPUT NAME=f_head SIZE=10 MAXLENGTH=50>cm</INPUT></TD></TR>
<TR><TD>Gestational age</TD><TD><INPUT NAME=f_gestational SIZE=10 MAXLENGTH=50>wks</INPUT></TD></TR>
<TR><TD>Liqor volume</TD><TD><INPUT NAME=f_liquor SIZE=10 MAXLENGTH=50>ml</INPUT></TD></TR>
<TR><TD>FHR</TD><TD><INPUT NAME=f_fhr size=10 maxlength=10>bpm</INPUT></TD></TR>
</CENTER></TABLE>

</TD>

<TD VALIGN=TOP>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>IUGR</TD><TD><INPUT NAME=iugr size=18 maxlength=50></INPUT></TD></TR>
<TR><TD>Calculated EDD</TD><TD><INPUT NAME=calculated size=10 maxlength=8>ddmmyyyy</INPUT></TD></TR>
<TR><TD>EDD by USG maturity</TD><TD><INPUT NAME=maturity size=10 maxlength=8>ddmmyyyy</INPUT></TD></TR>
<TR><TD>Placental position</TD><TD><INPUT NAME=placental size=18 maxlength=50></INPUT></TD></TR>
<TR><TD>Placental grading</TD><TD><INPUT NAME=grading SIZE=10 MAXLENGTH=50></INPUT></TD></TR>
<TR><TD>Any cogenital anomaly</TD><TD><INPUT NAME=cogenital SIZE=10 MAXLENGTH=50></INPUT></TD></TR>
<TR><TD>Doppler study</TD><TD><INPUT NAME=Doppler SIZE=10 MAXLENGTH=20></INPUT></TD></TR>
<TR><TD>S/D ratio</TD><TD><INPUT NAME=ratio SIZE=10 MAXLENGTH=20></INPUT></TD></TR>
<tr><TD>Ammiocentesis required</TD><TD><INPUT NAME=ammiocentesis size=18 maxlength=50></INPUT></TD></TR>
<TR><TD>Any other salient feature</TD><TD><INPUT NAME=feature size=30 maxlength=50></INPUT></TD></TR>
</CENTER>
</TABLE></TD></TR>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>General impression</TD><TD><TEXTAREA NAME=tbxgeneralimp rows=2 cols=50></TEXTAREA></TD></TR>
</CENTER></TABLE>

<TABLE BORDER=0 ALIGN=center>
<INPUT TYPE="hidden" NAME=nofimg>

<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>

</TD></TR>
</CENTER></TABLE>
</FORM>
</BODY>
</HTML>