<HTML>
<HEAD>   
	<TITLE>X-ray reports</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<H3>X-Ray reports</H3>
<FORM name="i22">
<INPUT TYPE="hidden" NAME="frmnam" value="i22"> 
<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="100%" class='tableb'>

<TR><TD>
<TABLE BORDER=0 ALIGN=center>
<TR><TD valign=top>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Chest</TD><TD><TEXTAREA NAME=tbxchest_xray rows=3 cols=35></TEXTAREA></TD></TR>
<TR><TD>Abdomen</TD><TD><TEXTAREA NAME=tbxabdomen_x rows=3 cols=35></TEXTAREA></TD></TR>
<TR><TD>Barium</TD><TD><TEXTAREA NAME=tbxbarium_x rows=3 cols=35></TEXTAREA></TD></TR>
<TR><TD>Spine</TD><TD><TEXTAREA NAME=tbxspine_x rows=3 cols=35></TEXTAREA></TD></TR>
</CENTER></TABLE>

</TD>

<TD VALIGN=TOP>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>PNS</TD><TD><TEXTAREA NAME=tbxpns_x rows=3 cols=35></TEXTAREA></TD></TR>
<TR><TD>Skull</TD><TD><TEXTAREA NAME=tbxskull_x rows=3 cols=35></TEXTAREA></TD></TR>
<TR><TD>Fracture</TD><TD><TEXTAREA NAME=tbxfracture_x rows=3 cols=35></TEXTAREA></TD></TR>
<TR><TD>Swelling</TD><TD><TEXTAREA NAME=tbxswelling_x rows=3 cols=35></TEXTAREA></TD></TR>
</CENTER>
</TABLE></TD></TR>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Any other</TD><TD><TEXTAREA NAME=tbxother_x rows=3 cols=60></TEXTAREA></TD></TR>
</CENTER></TABLE>

<TABLE BORDER=0 ALIGN=center>
<INPUT TYPE="hidden" NAME=nofimg>

<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>

</TD></TR>
</CENTER></TABLE>
</FORM>
</BODY>
</HTML>