<HTML>
<HEAD>   
	<TITLE>Urinary Tract Imaging</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<H3>Urinary Tract Imaging</H3>
<form name="i23">
<INPUT TYPE="hidden" name="frmnam" value="i23"> 
<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="100%" class='tableb'>

<TR><TD>
<TABLE BORDER=0 ALIGN=center>
<TR><TD valign=top>
<TABLE BORDER=0 ALIGN=center>
<TR><TD><FONT COLOR="green">Intravenous Urography</FONT></TD></TR>
<TR><TD>Kidney size(cm)</TD><TD><INPUT NAME=kidney size=25 maxlength=50></INPUT></TD></TR>
<TR><TD>Shape</TD><TD><INPUT NAME=shape size=25 maxlength=50></INPUT></TD></TR>
<TR><TD>Position</TD><TD><INPUT NAME=position size=25 maxlength=50></INPUT></TD></TR>
<TR><TD>Scar</TD><TD><INPUT NAME=scar size=25 maxlength=50></INPUT></TD></TR>
<TR><TD>Out flow tract</TD><TD><INPUT NAME=out_flow size=25 maxlength=50></INPUT></TD></TR>
<TR><TD>Kidney Calculas</TD><TD><INPUT NAME=ivucalculas size=25 maxlength=50></INPUT></TD></TR>
<TR><TD><B>MIC CUG</B></TD><TD><INPUT NAME=mic_cug size=25 maxlength=50></INPUT></TD></TR>
</CENTER></TABLE>

</TD>

<TD VALIGN=TOP>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Cystoscopy</TD><TD><INPUT NAME=cystoscopy size=25 maxlength=50></INPUT></TD></TR>
<TR><TD>Retrograde Pyelography</TD><TD><INPUT NAME=retrograde size=25 maxlength=50></INPUT></TD></TR>
<TR><TD>Antegrade Pyelography</TD><TD><INPUT NAME=antegrade size=25 maxlength=50></INPUT></TD></TR>
<TR><TD>Right Renal Artery</TD><TD><INPUT NAME=rightartery size=25 maxlength=50></INPUT></TD></TR>
<TR><TD>Left Renal Artery</TD><TD><INPUT NAME=leftartery size=25 maxlength=50></INPUT></TD></TR>
<TR><TD>Right Renal Vein</TD><TD><INPUT NAME=rightvein size=25 maxlength=50></INPUT></TD></TR>
<TR><TD>Left Renal Vein </TD><TD><INPUT NAME=leftvein size=25 maxlength=50></INPUT></TD></TR>
</CENTER>
</TABLE></TD></TR>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Any other tests</TD><TD><INPUT NAME=others size=70 maxlength=50></INPUT></TD></TR>
<TR><TD>General impression</TD><TD><TEXTAREA NAME=tbxgeneralimp rows=2 cols=60></TEXTAREA></TD></TR>
</CENTER></TABLE>

<TABLE BORDER=0 ALIGN=center>
<INPUT TYPE="hidden" NAME=nofimg>

<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>

</TD></TR>
</CENTER></TABLE>
</FORM>
</BODY>
</HTML>