<HTML>
<HEAD>
<TITLE>CVS Imaging</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</head>
<BODY>
<h3>CVS Imaging</h3>
<form name="i24">
<INPUT TYPE="hidden" name="frmnam" value="i24">
<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="100%" class='tableb'>

<TR><TD>
<TABLE BORDER=0 ALIGN=center>
<TR><TD valign=top>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Chest X ray</TD><TD><TEXTAREA NAME=tbxchest_xray rows=2 cols=35></TEXTAREA></TD></TR>
<TR><TD>DSA</TD><TD><TEXTAREA NAME=tbxdsa rows=2 cols=35></TEXTAREA></TD></TR>
<TR><TD>RVG</TD><TD><TEXTAREA NAME=tbxrvg rows=2 cols=35></TEXTAREA></TD></TR>
<TR><TD>Cine-CT scan</TD><TD><TEXTAREA NAME=tbxcine_ct rows=2 cols=35></TEXTAREA></TD></TR>
<TR><TD>PET scan</TD><TD><TEXTAREA NAME=tbxpet rows=2 cols=35></TEXTAREA></TD></TR>
<TR><TD>MRA</TD><TD><TEXTAREA NAME=tbxmra rows=2 cols=35></TEXTAREA></TD></TR>
<TR><TD>MRS</TD><TD><TEXTAREA NAME=tbxmrs rows=2 cols=35></TEXTAREA></TD></TR>
<TR><TD>99mTc-Sesta-MIBI scan</TD><TD><TEXTAREA NAME=tbxtc_sesta_mibi rows=2 cols=35></TEXTAREA></TD></TR>
<TR><TD><H4>Cardiac Angiography</H4></TD></TR>
<TR><TD>Coronary angio</TD><TD><TEXTAREA NAME=tbxcoronary rows=2 cols=35></TEXTAREA></TD></TR>
<TR><TD>LV angio</TD><TD><TEXTAREA NAME=tbxlv_angio rows=2 cols=35></TEXTAREA></TD></TR>
<TR><TD>Aortography</TD><TD><TEXTAREA NAME=tbxaortography rows=2 cols=35></TEXTAREA></TD></TR>
</CENTER></TABLE>

</TD>

<TD VALIGN=TOP>
<TABLE BORDER=0 ALIGN=center>
<TR><TD><H4>Echocardiography</H4></TD></TR>
<TR><TD>EF slope (M-mode)</TD><TD><INPUT NAME=ef_slope size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>MVA</TD><TD><INPUT NAME=mva size=20 maxlength=50>sq.cm.</INPUT></TD></TR>
<TR><TD>AVA</TD><TD><INPUT NAME=ava size=20 maxlength=50>sq. cm.</INPUT></TD></TR>
<TR><TD>Effusion</TD><TD><INPUT NAME=effusion size=20 maxlength=50></INPUT></TD></TR>
<TR><TD><H4>Pressures</H4></TD></TR>
<TR><TD>LV</TD><TD><INPUT NAME=lv size=20 maxlength=50>mm of Hg</INPUT></TD></TR>
<TR><TD>LA (PCWP)</TD><TD><INPUT NAME=LA size=20 maxlength=50>mm of Hg</INPUT></TD></TR>
<TR><TD>RV</TD><TD><INPUT NAME=rv size=20 maxlength=50>mm of Hg</INPUT></TD></TR>
<TR><TD>RA</TD><TD><INPUT NAME=ra size=20 maxlength=50>mm of Hg</INPUT></TD></TR>
<TR><TD>SVR</TD><TD><INPUT NAME=svr size=20 maxlength=50>dyn.s/cm5</INPUT></TD></TR>
<TR><TD>PVR</TD><TD><INPUT NAME=pvr size=20 maxlength=50>dyn.s/cm5</INPUT></TD></TR>
<TR><TD>Cardiac Output</TD><TD><INPUT NAME=cardiac size=20 maxlength=50>L/min/m2</INPUT></TD></TR>
<TR><TD>Oxygen consumption</TD><TD><INPUT NAME=oxygen size=20 maxlength=50>L/min/m2</INPUT></TD></TR>
<TR><TD>AV oxygen difference</TD><TD><INPUT NAME=av_oxygen size=20 maxlength=50>mL/L</INPUT></TD></TR>
</CENTER>
</TABLE></TD></TR>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Any other</TD><TD><TEXTAREA NAME=tbxother rows=2 cols=50></TEXTAREA></TD></TR>
<TR><TD>General impression</TD><TD><TEXTAREA NAME=tbxgeneralimp rows=2 cols=50></TEXTAREA></TD></TR>
</CENTER></TABLE>

<TABLE BORDER=0 ALIGN=center>
<INPUT TYPE="hidden" NAME=nofimg>

<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>

</TD></TR>
</CENTER></TABLE>
</FORM>
</BODY>
</HTML>