<HTML>
<HEAD>   
	<title>Abdominal / Pelvic CT Scan and/ USG</title>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</head>
<BODY>
<h3>Abdominal / Pelvic CT Scan and/ USG</h3>
<form name="i25">
<INPUT TYPE="hidden" NAME="frmnam" value="i25"> 
<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="100%" class='tableb'>

<TR><TD valign=top>
<TABLE BORDER=0 ALIGN=center>
<TR><TD><H4>CT scan</H4></TD></TR>
<TR><TD>Liver & Gall Bladder</TD><TD><TEXTAREA NAME=tbxglbder rows=2 cols=25></TEXTAREA>&nbsp;&nbsp;&nbsp;</TD></TR>
<TR><TD>Pancreas</TD><TD><TEXTAREA NAME=tbxpancreas rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Spleen</TD><TD><TEXTAREA NAME=tbxspleen rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Stomach</TD><TD><TEXTAREA NAME=tbxstomach rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Intestine</TD><TD><TEXTAREA NAME=tbxintestine rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Kidneys</TD><TD><TEXTAREA NAME=tbxkidneys rows=2 cols=25></TEXTAREA></TD></TR> 
<TR><TD>Pelvis and Ureters</TD><TD><TEXTAREA NAME=tbxpelvis rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Ovaries and tubes (adnexa)</TD><TD><TEXTAREA NAME=tbxoveries rows=2 cols=25></TEXTAREA></TD></TR> 
<TR><TD>Uterus, cervix and pouch of Douglas</TD><TD><TEXTAREA NAME=tbxuterus rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Urinary Bladder & Prostate</TD><TD><TEXTAREA NAME=tbxurinary rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Para Aortic Nodes</TD><TD><TEXTAREA NAME=tbxaorotic rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Any other salient feature</TD><TD><TEXTAREA NAME=tbxany rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>General impression</TD><TD><TEXTAREA NAME=tbximpression rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Test date of CT scan</td><td><INPUT name=ctdate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>

</TD>

<TD VALIGN=TOP>
<TABLE BORDER=0 ALIGN=center>
<TR><TD><H4>USG</H4></TD></TR>
<TR><TD>Liver & Gall Bladder</TD><TD><TEXTAREA NAME=tbxliver rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Pancreas</TD><TD><TEXTAREA NAME=tbxpan_creas rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Spleen</TD><TD><TEXTAREA NAME=tbxsple_en rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Stomach</TD><TD><TEXTAREA NAME=tbxsto_mach rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Intestine</TD><TD><TEXTAREA NAME=tbxinte_stine rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Kidneys</TD><TD><TEXTAREA NAME=tbxkidn_eys rows=2 cols=25></TEXTAREA></TD></TR> 
<TR><TD>Pelvis and Ureters</TD><TD><TEXTAREA NAME=tbxpe_lvis rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Ovaries and tubes (adnexa)</TD><TD><TEXTAREA NAME=tbxove_ries rows=2 cols=25></TEXTAREA></TD></TR> 
<TR><TD>Uterus, cervix and pouch of Douglas</TD><TD><TEXTAREA NAME=tbxute_rus rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Urinary Bladder & Prostate</TD><TD><TEXTAREA NAME=tbxurin_ary rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Para Aortic Nodes</TD><TD><TEXTAREA NAME=tbxaoro_tic rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Any other salient feature</TD><TD><TEXTAREA NAME=tbx_any rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>General impression</TD><TD><TEXTAREA NAME=tbxgeneralimp rows=2 cols=25></TEXTAREA></TD></TR>
<INPUT TYPE="hidden" NAME=nofimg>

<TR><TD>Test date of USG</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD></TR>
<TR><TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>

</TD></TR>
</CENTER></TABLE>
</FORM>
</BODY>
</HTML>