<HTML>
<HEAD>   
	<TITLE>MRI</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<H3>MRI</H3>
<FORM name="i27">
<INPUT TYPE="hidden" name="frmnam" value="i27">
<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="100%" class='tableb'>

<TR><TD valign=top>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Skull</TD><TD><TEXTAREA NAME=tbxsku_ll rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Bones</TD><TD><TEXTAREA NAME=tbxbon_es rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Epidural space</TD><TD><TEXTAREA NAME=tbxepidu_ral rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Subdural space</TD><TD><TEXTAREA NAME=tbxsubdu_ral rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Ventricles</TD><TD><TEXTAREA NAME=tbxventr_icles rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Gray matter </TD><TD><TEXTAREA NAME=tbxgra_y rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>White matter</TD><TD><TEXTAREA NAME=tbxwhi_te rows=2 cols=25></TEXTAREA></TD></TR>
</CENTER></TABLE>
</TD>
<TD VALIGN=TOP>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>ICSOL</TD><TD><TEXTAREA NAME=tbxics_ol rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Hemorrhage</TD><TD><TEXTAREA NAME=tbxhemor_rhage rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Infarction</TD><TD><TEXTAREA NAME=tbxinfar_ction rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Thrombosis</TD><TD><TEXTAREA NAME=tbxthrombo_sis rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Edema</TD><TD><TEXTAREA NAME=tbxede_ma rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Any other</TD><TD><TEXTAREA NAME=tbxother rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>General impression</TD><TD><TEXTAREA NAME=tbxgeneralimp rows=2 cols=25></TEXTAREA></TD></TR>
</CENTER></TABLE>
</TD></TR>
<TABLE BORDER=0 ALIGN=center>
<INPUT TYPE="hidden" NAME=nofimg>

<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</TABLE>
</CENTER></TABLE>
</FORM>
</BODY>
</HTML>