<HTML>
<HEAD>   
	<TITLE>Electrophysiological tests</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<H3>Electrophysiological tests</H3>
<FORM name="i29">
<INPUT TYPE="hidden" name="frmnam" value="i29">
<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="100%" class='tableb'>

<TR><TD>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>ECG</TD><TD><TEXTAREA NAME=tbxecg rows=2 cols=30></TEXTAREA></TD></TR>
<TR><TD>EEG</TD><TD><TEXTAREA NAME=tbxeeg rows=2 cols=30></TEXTAREA></TD></TR>
<TR><TD>EMG</TD><TD><TEXTAREA NAME=tbxemg rows=2 cols=30></TEXTAREA></TD></TR>
<TR><TD>NCV</TD><TD><TEXTAREA NAME=tbxncv rows=2 cols=30></TEXTAREA></TD></TR>
<TR><TD>Any other test</TD><TD><TEXTAREA NAME=tbxany rows=2 cols=30></TEXTAREA></TD></TR>
<TR><TD>General impression</TD><TD><TEXTAREA NAME=tbxgeneralimp rows=2 cols=30></TEXTAREA></TD></TR>
</CENTER></TABLE>

<TABLE BORDER=0 ALIGN=center>
<INPUT TYPE="hidden" NAME=nofimg>

<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>
</TD></TR>
</CENTER>
</TABLE>
</FORM>
</BODY>
</HTML>