<HTML>
<HEAD>   
	<TITLE>Radiology Investigations</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<CENTER><H3>Radiology Investigations</H3></CENTER>
<FORM name="i30">
<INPUT TYPE="hidden" NAME="frmnam" value="i30"> 
<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=5 WIDTH="100%" class='tableb'>

<TR><TD>
	<TABLE BORDER=0 ALIGN=center CELLSPACING=0 CELLPADDING=5>
	<TR><TD>Imaging Modality</TD><TD><INPUT NAME=modality size=10 maxlength=10></INPUT></TD></TR>
	<TR><TD>Name of Study</TD><TD><INPUT NAME=study_name size=10 maxlength=10></INPUT></TD></TR>
	<TR><TD>Purpose of Study</TD><TD><INPUT NAME=study_purpose size=10 maxlength=10></INPUT></TD></TR>
	<TR><TD>Region of interest</TD><TD><INPUT NAME=roi size=10 maxlength=10></INPUT></TD></TR>
	<TR><TD>Contrast</TD><TD><INPUT NAME=contrast size=10 maxlength=10></INPUT></TD></TR>
	<TR><TD>Report</TD><TD><INPUT NAME=report size=10 maxlength=10></INPUT></TD></TR>
	<TR><TD>Provisional Diag</TD><TD><INPUT NAME=prov_diagnosis size=30 maxlength=50></INPUT></TD></TR>
	<TR><TD>Abnormal</TD><TD><INPUT NAME=abnormal size=30 maxlength=50></INPUT></TD></TR>
	</TABLE>

	<TABLE BORDER=0 ALIGN=center>
	<INPUT TYPE="hidden" NAME=nofimg>
	<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=10></INPUT></TD>
	<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=10></INPUT></TD></TR>
	</TABLE>

</TD></TR>
</CENTER>
</TABLE>
</FORM>
</BODY>
</HTML>