<HTML>
<HEAD>   
	<TITLE>Investigation</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<H3>Investigation</H3>
<FORM name="h15">
<INPUT TYPE="hidden" name="frmnam" value="h15"> 
<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="100%" class='tableb'>
<TR><TD>

<TABLE BORDER=0 ALIGN=center>
<TR>
		<TD>
		<TR>
		<TD width="75%">Complete Blood Count</TD>
		<TD><INPUT NAME=cbc size="50" maxlength="50"></INPUT></TD>
		</TR>
		<TR>
		<TD width="75%">Urine Analysis</TD>
		<TD><INPUT NAME=urine size="50" maxlength="50"></INPUT></TD>
		</TR>
		<TR>
		<TD width="75%">Stool Examination</TD>
		<TD><INPUT NAME=stool size="50" maxlength="50"></INPUT></TD>
		</TR>
		<TR>
		<TD width="75%">X-Ray Chest</TD>
		<TD><INPUT NAME=xray size="50" maxlength="50"></INPUT></TD>
		</TR>
		<TR>
		<TD width="75%">Mammogram</TD>
		<TD><INPUT NAME=mamogrm size="50" maxlength="50"></INPUT></TD>
		</TR>
		<TR>
		<TD width="75%">Biopsy</TD>
		<TD><INPUT NAME=biopsy size="50" maxlength="50"></INPUT></TD>
		</TR>
		<TR>
		<TD width="75%">FNAC</TD>
		<TD><INPUT NAME=fnac size="50" maxlength="50"></INPUT></TD>
		</TR>
		<TR>
		<TD width="75%">Ultrasonography</TD>
		<TD><INPUT NAME=usg size="50" maxlength="50"></INPUT></TD>
		</TR>
		<TR>
		<TD width="75%">CT Scan</TD>
		<TD><INPUT NAME=ctscan size="50" maxlength="50"></INPUT></TD>
		</TR>
		<TR>
		<TD width="75%">Endoscopy</TD>
		<TD><INPUT NAME=endoscopy size="50" maxlength="50"></INPUT></TD>
		</TR>
		<TR>
		<TD width="75%">MRI</TD>
		<TD><INPUT NAME=mri size="50" maxlength="50"></INPUT></TD>
		</TR>
		<TR>
		<TD width="75%">Bone Marrow Test</TD>
		<TD><INPUT NAME=bonemarrow size="50" maxlength="50"></INPUT></TD>
		</TR>
		<TR>
		<TD width="75%">Tumor Marker Test</TD>
		<TD><INPUT NAME=tumormarker size="50" maxlength="50"></INPUT></TD>
		</TR>
		<TR>
		<TD width="75%">Liver Function Test</TD>
		<TD><INPUT NAME=liver size="50" maxlength="50"></INPUT></TD>
		</TR>
		<TR>
		<TD width="75%">IVP(Intravenous Pyelogram)</TD>
		<TD><INPUT NAME=IVP size="50" maxlength="50"></INPUT></TD>
		</TR>
		<TR>
		<TD width="75%">Whole Body Bone Scan</TD>
		<TD><INPUT NAME=bonescan size="50" maxlength="50"></INPUT></TD>
		</TR>
		<TR>
		<TD width="75%">Colposcopy</TD>
		<TD><INPUT NAME=colposcopy size="50" maxlength="50"></INPUT></TD>
		</TR>
		<TR>
		<TD width="75%">Pap Smear</TD>
		<TD><INPUT NAME=papsmear size="50" maxlength="50"></INPUT></TD>
		</TR>
		</TD>
</TR>
<TABLE BORDER=0 ALIGN=center>
<INPUT TYPE="hidden" NAME=nofimg>
<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>
</TD></TR>
</CENTER>
</TABLE>
</FORM>
</BODY>
</HTML>