
<HTML>
<HEAD>
<TITLE>PATIENTS DATA-MED FORM....
</TITLE>
<link rel="stylesheet" type="text/css" href="../templates/ckp.jsp">
</HEAD>

<FORM name="med">
<P align=center><h3>PATIENT'S INFO</h3>

<br></P>
<CENTER>
<TABLE ALIGN=center BORDER=1 CELLSPACING=0 CELLPADDING=0 WIDTH="60%">
<tr>
<td valign=top>
<table>
<INPUT TYPE="hidden" name="frmnam" value="med"> 
<tr><td>Patient-ID</td><td><input name=PAT_ID size=14></td></tr>
<tr><td>Date of entry</td><td><input name=entrydate size=8></td></tr>
<tr>
<td>NAME</td><td><INPUT NAME=pat_name  SIZE=30></td><td width=10></td>
<td>AGE</td><td><INPUT NAME=age SIZE=3></td>
</tr>
<tr>
<td>SEX</td><td><input NAME=sex size=1></td><td width=10></td>
<td>RELIGION</td><td><input NAME=religion size=10></td>
</tr>
<tr><td>DISEASE TYPE</td><td><input name=class></td></tr>
</table>
</td></tr>
</TABLE></CENTER>			
<br>
<br></h3></P> 
<CENTER><TABLE ALIGN=center BORDER=1 CELLSPACING=0 CELLPADDING=0 WIDTH="60%">
<tr>
<td valign=top>
<table>
<tr><td>ADDRESS</td><td><input name=addline1 size=30 ></td></tr>
<tr><td></td><td><input name=addline2 size=30 ></td></tr>
<tr>
<td>POLICE Stn.</td><td><input name=policestn size=30></td><td width=10></td>
<td>PHONE</td><td><input name=phone size=10></td>
</tr>
<tr>
<td>CITY</td><td><input name=city size=30 ></td><td width=10></td>
<td>DISTRICT</td><td><input name=dist size=30 ></td>
</tr>
<tr>
<td>STATE</td><td><input name=state></td><td width=10></td>
<td>COUNTRY</td><td><input name=country></td>
</tr>
<tr><td>PIN</td><td><input name=pin size=8></td></tr>

</table>
</td></tr>
</TABLE></CENTER>
</FORM>
</BODY>
</HTML>
