<HTML>
<HEAD>   
	<TITLE>Swelling</TITLE>
<link rel="stylesheet" type="text/css" href="../templates/ckp.jsp">
</head>
<BODY>
<H3>Swelling</H3>
<form name="p01">
<INPUT TYPE="hidden" name="frmnam" value="p01">
<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="80%">

<TR><TD>
<TABLE BORDER=0 ALIGN=center>
<TR><TD valign=top>
<TABLE BORDER=0 ALIGN=center>
<TR><TD><FONT COLOR="green">Lump or swelling (history)</FONT></TD></TR>
<TR><TD>Duration</TD><TD><INPUT NAME=duration size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Mode of onset</TD><TD><INPUT NAME=mode_onset size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Pain</td><td><INPUT NAME=pain size=18 maxlength=50></INPUT></TD></TR>
<TR><TD>Progress of swelling</TD><TD><INPUT NAME=Progress_swelling size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Presence of other lumps</TD><TD><INPUT NAME=presence size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Secondary changes</TD><TD><INPUT NAME=secondary_change size=20 maxlength=50></INPUT></TD></TR>
<TR><TD><FONT COLOR="green">Recurrence of the swelling</FONT></TD></TR>
<TR><TD>Loss of body weight & appetite</TD><TD><INPUT NAME=l_weight_appetite size=20 maxlength=50></INPUT></TD></TR>
<TR><TD><FONT COLOR="green">Exact site</FONT></TD></TR>
<TR><TD>Upper left</TD><TD><INPUT NAME=upper_l size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Upper right</TD><TD><INPUT NAME=upper_r size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Lower left<td><INPUT NAME=lower_l size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Lower right</TD><TD><INPUT NAME=lower_r size=20 maxlength=50></INPUT></TD></TR>
</CENTER></TABLE>

</TD>

<TD VALIGN=TOP>
<TABLE BORDER=0 ALIGN=center>

<TR><TD><FONT COLOR="green">Physical examination</FONT></TD></TR>
<TR><TD>Inspection</TD><TD><INPUT NAME=inspection size=20 maxlength=50></INPUT></TD></TR>
<TR><TD><FONT COLOR="green">Palpation</FONT></TD></TR>
<TR><TD>Temperature</TD><TD><INPUT NAME=temperature size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Tenderness</TD><TD><INPUT NAME=tenderness size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Size</TD><TD><INPUT NAME=size size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Shape & extent</TD><TD><INPUT NAME=shape_extent size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Surface</TD><TD><INPUT NAME=surface size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Edge</TD><TD><INPUT NAME=edge size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Consistency</TD><TD><INPUT NAME=consistency size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Fluctuation</TD><TD><INPUT NAME=fluctuation size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Fluid thrill</TD><TD><INPUT NAME=fluid_thrill size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Translucency</TD><TD><INPUT NAME=translucency size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Impulse on coughing</TD><TD><INPUT NAME=impulse_coughing size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Reducibility</TD><TD><INPUT NAME=reducibility size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Compressibility</TD><TD><INPUT NAME=compressibility size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Pulsatility</TD><TD><INPUT NAME=pulsatility size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Fixity</TD><TD><INPUT NAME=fixity size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Regional lymph nodes</TD><TD><INPUT NAME=regional_lymph size=20 maxlength=50></INPUT></TD></TR>
<TR><TD><FONT COLOR="green">Percussion</FONT></TD></TR>
<TR><TD>Auscultation</TD><TD><INPUT NAME=auscultation size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Measurements</TD><TD><INPUT NAME=measurements size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Movements</TD><TD><INPUT NAME=movements size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Pressure effects</TD><TD><INPUT NAME=pressure size=20 maxlength=50></INPUT></TD></TR>
</CENTER>
</TABLE></TD></TR>

<TABLE ALIGN=center>
<TR><TD>Any other findings</TD><TD><INPUT NAME=others size=58 maxlength=50></INPUT></TD></TR>
<TR><TD>General impression</TD><TD><TEXTAREA NAME=tbxgeneralimp rows=2 cols=50></TEXTAREA></TD></TR>
</CENTER></TABLE>

<TABLE ALIGN=center>
<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>
</TD></TR>
</CENTER></TABLE>
</FORM>
</BODY>
</HTML>
