<HTML>
<HEAD>   
	<TITLE>Jaundice</TITLE>
<link rel="stylesheet" type="text/css" href="../templates/ckp.jsp">
</HEAD>
<BODY>
<H3>Jaundice</H3>
<form name="p04">
<INPUT TYPE="hidden" name="frmnam" value="p04"> 
<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="100%">

<TR><TD>
<TABLE BORDER=0 ALIGN=center>
<TR><TD valign=top>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Onset</TD><TD><INPUT NAME=onset size=18 maxlength=50></INPUT></TD></TR>
<TR><TD>Duration</TD><TD><INPUT NAME=duration size=18 maxlength=50></INPUT></TD></TR>
<TR><TD>Severity</TD><TD><INPUT NAME=severity size=18 maxlength=50></INPUT></TD></TR>
<TR><TD>Progress</TD><TD><INPUT NAME=progress size=18 maxlength=50></INPUT></TD></TR>
</CENTER></TABLE>

</TD>

<TD VALIGN=TOP>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Following blood tranfusion</TD><TD><INPUT NAME=Blood_tranf size=18 maxlength=50></INPUT></TD></TR>
<TR><TD>Following other parenteral administration</TD><TD><INPUT NAME=Parenteral size=18 maxlength=50></INPUT>
</TD></TR>
<TR><TD>History of alcoholism</TD><TD><INPUT NAME=Alcoholism size=18 maxlength=50></INPUT></TD></TR>
<TR><TD>Family history of similar illness</TD><TD><INPUT NAME=Family_his size=18 maxlength=50></INPUT></TD></TR>
<TR><TD>Details</TD><TD><input NAME=details size=18 maxlength=50></TD></TR>
</CENTER>
</TABLE></TD></TR>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Any other tests</TD><TD><INPUT NAME=others size=40 maxlength=50></INPUT></TD></TR>
<TR><TD>General impression</TD><TD><TEXTAREA NAME=tbxgeneralimp rows=2 cols=30></TEXTAREA></TD></TR>
</CENTER></TABLE>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>

</TD></TR>
</CENTER></TABLE>
</FORM>
</BODY>
</HTML>
