<HTML>
<HEAD>   
	<TITLE>Palpable lymph node</TITLE>
<link rel="stylesheet" type="text/css" href="../templates/ckp.jsp">
</HEAD>
<BODY>
<H3>Lymph nodes and Spleen</H3>
<FORM name="p05">
<INPUT TYPE="hidden" NAME="frmnam" value="p05">
<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="85%">

<TR><TD valign=top>
<TABLE BORDER=0 ALIGN=center>
<TR><TD><H4>Lymph nodes</H4></TD></TR>
<TR><TD>Site</TD><TD><INPUT NAME=site size=20 maxlength=16></INPUT></TD></TR>
<TR><TD>Onset of swelling</TD><TD><INPUT NAME=onset size=20 maxlength=16></INPUT></TD></TR>
<TR><TD>Duration</TD><TD><INPUT NAME=duration size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Progress</TD><TD><INPUT NAME=progress size=20 maxlength=16></INPUT></TD></TR>
<TR><TD>With fever</TD><TD><INPUT NAME=fever size=20 maxlength=16></INPUT></TD></TR>
<TR><TD>With pain/tenderness</TD><TD><INPUT NAME=tenderness size=20 maxlength=16></INPUT></TD></TR>
<TR><TD>Size</TD><TD><INPUT NAME=txtsize size=20 maxlength=50></TD></TR>
<TR><TD>Consistency</TD><TD><INPUT NAME=consistency size=20 maxlength=16></INPUT></TD></TR>
<TR><TD>Discharge</TD><TD><INPUT NAME=discharge size=20 maxlength=16></INPUT></TD></TR>
<TR><TD>Sinus formation</TD><TD><INPUT NAME=sinus size=20 maxlength=16></INPUT></TD></TR>
<TR><TD>Adherence to other tissues</TD><TD><INPUT NAME=adherenceto size=20 maxlength=16></INPUT></TD></TR>
<TR><TD>Associated with (details)</TD><TD><input NAME=associat SIZE=20 maxlength=50></TD></TR>
<TR><TD>Treatment received</TD><TD><INPUT NAME=treatment size=20 maxlength=16></INPUT></TD></TR>
<TR><TD>Response to treatment</TD><TD><INPUT NAME=response size=20 maxlength=16></INPUT></TD></TR>
</CENTER></TABLE>

</TD>

<TD VALIGN=TOP>
<TABLE BORDER=0 ALIGN=center>
<TR><TD><H4>Spleen</H4></TD></TR>
<tr><td>Inspection</td><td><TEXTAREA NAME=tbxinspection rows=2 cols=20></textarea></td></tr>
<TR><TD>Palpation</td><td><TEXTAREA NAME=tbxpalpation rows=2 cols=20></textarea></td></tr>
<tr><td>Percussion</td><td><TEXTAREA NAME=tbxpercussion rows=2 cols=20></textarea></td></tr>
<tr><td>Auscultation</td><td><TEXTAREA NAME=tbxauscultation rows=2 cols=20></textarea></td></tr>
<TR><TD>Any other tests</TD><TD><TEXTAREA NAME=tbxothers rows=2 cols=20></TEXTAREA></TD></TR>
<TR><TD>General impression</TD><TD><TEXTAREA NAME=tbxgeneralimp rows=2 cols=20></TEXTAREA></TD></TR>
<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD></TR>
<TR><TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER>
</TABLE></TD></TR>

</CENTER></TABLE>
</FORM>
</BODY>
</HTML>
