<HTML>
<HEAD>   
	<TITLE>Fever</TITLE>
<link rel="stylesheet" type="text/css" href="../templates/ckp.jsp">
</HEAD>
<BODY>
<H3>Fever</H3>
<FORM name="p07">
<INPUT TYPE="hidden" name="frmnam" value="p07">
<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="85%">

<TR><TD>
<TABLE BORDER=0 ALIGN=center>
<TR><TD valign=top>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Onset</TD><TD><INPUT NAME=onset size=18 maxlength=50></INPUT></TD></TR>
<TR><TD>Duration</TD><TD><INPUT NAME=duration size=18 maxlength=50></INPUT></TD></TR>
<TR><TD>With chill and rigor</TD><TD><INPUT NAME=chill_rigor size=18 maxlength=50></INPUT></TD></TR>
<TR><TD>Frequency</TD><TD><INPUT NAME=frequency size=18 maxlength=50></INPUT></TD></TR>
<TR><TD>Diurnal variations</TD><TD><INPUT NAME=variations size=18 maxlength=50></INPUT></TD></TR>
</CENTER></TABLE>

</TD>

<TD VALIGN=TOP>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Nature</TD><TD><INPUT NAME=nature size=18 maxlength=50></INPUT></TD></TR>
<TR><TD>Related to blood transfusion</TD><TD><INPUT NAME=relatedblood size=18 maxlength=50></INPUT></TD></TR>
<TR><TD>Remission</TD><TD><INPUT NAME=remission size=18 maxlength=50></INPUT></TD></TR>
<TR><TD>Treatment received</TD><TD><INPUT NAME=treatment size=18 maxlength=50></INPUT></TD></TR>
<TR><TD>Response to treatment</TD><TD><INPUT NAME=response size=18 maxlength=50></INPUT></TD></TR>
</CENTER>
</TABLE></TD></TR>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Any other test</TD><TD><TEXTAREA NAME=tbxany rows=2 cols=55></TEXTAREA></TD></TR>
<TR><TD>General impression</TD><TD><TEXTAREA NAME=tbxgeneralimp rows=2 cols=55></TEXTAREA></TD></TR>
</CENTER></TABLE>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>

</TD></TR>
</CENTER></TABLE>
</FORM>
</BODY>
</HTML>
