<HTML>
<HEAD>   
	<TITLE>Weakness</TITLE>
<link rel="stylesheet" type="text/css" href="../templates/ckp.jsp">
</HEAD>
<BODY>
<H3>Weakness</H3>
<FORM name="p08">
<INPUT TYPE="hidden" name="frmnam" value="p08">
<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="80%">

<TR><TD>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Onset</TD><TD><INPUT NAME=onset size=18 maxlength=50></INPUT></TD></TR>
<TR><TD>Duration</TD><TD><INPUT NAME=duration size=18 maxlength=50></TD></TR>
<TR><TD>Severity</TD><TD><INPUT NAME=severity size=18 maxlength=50></INPUT></TD></TR>
<TR><TD>Progress</TD><TD><INPUT NAME=progress size=18 maxlength=50></INPUT></TD></TR>
<TR><TD>Following infection</TD><TD><INPUT NAME=infection size=18 maxlength=50></INPUT></TD></TR>
<TR><TD>Following exposure to chemicals,toxins or radiation</TD><TD><INPUT NAME=toxins size=18 maxlength=50></INPUT></TD></TR>
<TR><TD>Morbidity</TD><TD><INPUT NAME=morbidity size=18 maxlength=50></INPUT></TD></TR>
<TR><TD>Any other tests</TD><TD><INPUT NAME=others size=30 maxlength=50></INPUT></TD></TR>
<TR><TD>General impression</TD><TD><TEXTAREA NAME=tbxgeneralimp rows=2 cols=30></TEXTAREA></TD></TR>
</CENTER></TABLE>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>
</TD></TR>
</CENTER>
</TABLE>
</FORM>
</BODY>
</HTML>
