<HTML>
<HEAD>   
	<TITLE>Discharge</TITLE>
<link rel="stylesheet" type="text/css" href="../templates/ckp.jsp">
</HEAD>
<BODY>
<H3>Discharge</H3>
<FORM name="p14">
<INPUT TYPE="hidden" NAME="frmnam" value="p14">
<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="50%">

<TR><TD>
<TABLE BORDER=0 ALIGN=center>
<TR><TD valign=top>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Site</TD><TD><INPUT NAME=site size=10 maxlength=50></INPUT></TD></TR>
<TR><TD>Character</TD><TD><INPUT NAME=character size=10 maxlength=50></INPUT></TD></TR>
<TR><TD>Time of onset</TD><TD><INPUT NAME=time_onset size=10 maxlength=50></INPUT></TD></TR>
<TR><TD>Mode of onset</TD><TD><INPUT NAME=mode_onset size=10 maxlength=50></INPUT></TD></TR>
</CENTER></TABLE>

</TD>

<TD VALIGN=TOP>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Duration</TD><TD><INPUT NAME=duration size=10 maxlength=50></INPUT></TD></TR>
<TR><TD>Worsens by</TD><TD><INPUT NAME=worse size=10 maxlength=50></INPUT></TD></TR>		
<TR><TD>Relieved by</TD><TD><INPUT NAME=relieved size=10 maxlength=50></INPUT></TD></TR> 
<TR><TD>Culture/Sensitivity</TD><TD><INPUT NAME=culture size=10 maxlength=50></INPUT></TD></TR>	
</CENTER>
</TABLE></TD></TR>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Any other feature</TD><TD><INPUT NAME=anyoth size=50 maxlength=50></INPUT></TD></TR>
<TR><TD>General impression</TD><TD><INPUT NAME=tbxgeneralimp size=50 maxlength=50></INPUT></TD></TR>
</CENTER></TABLE>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>

</TD></TR>
</CENTER></TABLE>
</FORM>
</BODY>
</HTML>
