<HTML>
<HEAD>   
	<TITLE>Internal Medicine</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<H3>Internal Medicine</H3>
<FORM name="p16">
<INPUT TYPE="hidden" NAME="frmnam" value="p16">
<TABLE ALIGN=center BORDER=1 CELLSPACING=0 CELLPADDING=0 WIDTH="80%"class='tableb'>

<TR><TD>
<TABLE BORDER=0 ALIGN=center>
<TR><TD valign=top>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Endocrinology</TD><TD><TEXTAREA NAME=tbxendocrinology rows=3 cols=35></TEXTAREA></TD></TR>
<TR><TD>Immunology</TD><TD><TEXTAREA NAME=tbximmunology rows=3 cols=35></TEXTAREA></TD></TR>
<TR><TD>Hematology</TD><TD><TEXTAREA NAME=tbxhematology rows=3 cols=35></TEXTAREA></TD></TR>
<TR><TD>Rheumatology</TD><TD><TEXTAREA NAME=tbxrheumatology rows=3 cols=35></TEXTAREA></TD></TR>
</CENTER></TABLE>

</TD>

<TD VALIGN=TOP>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Genitourinary</TD><TD><TEXTAREA NAME=tbxgenitourinary rows=3 cols=35></TEXTAREA></TD></TR>
<TR><TD>Pediatrics</TD><TD><TEXTAREA NAME=tbxpediatrics rows=3 cols=35></TEXTAREA></TD></TR>
<TR><TD>Non-specific</TD><TD><TEXTAREA NAME=tbxnon_specific rows=3 cols=35></TEXTAREA></TD></TR>
<TR><TD>Any other</TD><TD><TEXTAREA NAME=tbxother_x rows=3 cols=35></TEXTAREA></TD></TR>
</CENTER>
</TABLE></TD></TR>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>

</TD></TR>
</CENTER></TABLE>
</FORM>
</BODY>
</HTML>