<HTML>
<HEAD>   
	<TITLE>Respiratory</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<H3>Respiratory</H3>
<FORM name="p17">
<INPUT TYPE="hidden" NAME="frmnam" value="p17"> 
<TABLE ALIGN=center BORDER=1 CELLSPACING=0 CELLPADDING=0 WIDTH="80%" class='tableb' >

<TR><TD>
<TABLE BORDER=0 ALIGN=center>
<TR><TD valign=top>
<TABLE BORDER=0 ALIGN=center>
<TR><TD><FONT COLOR="green">Inspection</FONT></TD></TR>
<TR><TD>Shape & size of chest & spine</TD><TD><INPUT NAME=shape_size size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Respiratory rate </TD><TD><INPUT NAME=f_rate size=20 maxlength=10></INPUT></TD></TR>
<TR><TD>Neck veins</TD><TD><INPUT NAME=neck_veins size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Trachea</TD><TD><INPUT NAME=trachea size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Apex</TD><TD><INPUT NAME=apex size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Swelling</TD><TD><INPUT NAME=swelling size=20 maxlength=50></INPUT></TD></TR>
<TR><TD><FONT COLOR="green">Percussion</FONT></TD></TR>
<TR><TD>Cardiac dullness</td><td> <INPUT name=cardiac_dullness size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Hepatic dullness</TD><TD><INPUT NAME=hepatic_dullness size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Dullness</TD><TD><INPUT NAME=dullness size=20 maxlength=50></INPUT></TD></TR>
</CENTER></TABLE>

</TD>

<TD VALIGN=TOP>
<TABLE BORDER=0 ALIGN=center>
<TR><TD><FONT COLOR="green">Palpation</FONT></TD></TR>
<TR><TD>Obvious swelling</TD><TD><INPUT NAME=obvious_swelling size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Trachea</TD><TD><INPUT NAME=p_trachea size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Apex beat</TD><TD><INPUT NAME=apex_beat size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Respiratory movements</TD><TD><INPUT NAME=respiratory size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Vocal fremitus</TD><TD><INPUT NAME=vocal_fremitus size=20 maxlength=50></INPUT></TD></TR>
<TR><TD><FONT COLOR="green">Auscultation</FONT></TD></TR>
<TR><TD>Breath sounds</TD><TD><INPUT NAME=breath size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Vocal resonance</TD><TD><INPUT NAME=vocal size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Adventitious sounds</TD><TD><INPUT NAME=adventitious size=20 maxlength=50></INPUT></TD></TR>
</CENTER>
</TABLE></TD></TR>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Any other findings</TD><TD><INPUT NAME=others size=58 maxlength=50></INPUT></TD></TR>
<TR><TD>General impression</TD><TD><TEXTAREA NAME=tbxgeneralimp rows=2 cols=50></TEXTAREA></TD></TR>
</CENTER></TABLE>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>

</TD></TR>
</CENTER></TABLE>
</FORM>
</BODY>
</HTML>