<HTML>
<HEAD>   
	<title>Cardiovascular</title>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
 </HEAD>
<BODY>
<H3>Cardiovascular</H3>
<form name="p18">
<INPUT TYPE="hidden" name="frmnam" value="p18"> 
<TABLE ALIGN=center BORDER=1 CELLSPACING=0 CELLPADDING=0 WIDTH="80%" class='tableb'>

<TR><TD>
<TABLE BORDER=0 ALIGN=center>
<TR><TD valign=top>
<TABLE BORDER=0 ALIGN=center>
<TR><TD><FONT COLOR="green">Inspection</FONT></TD></TR>
<TR><TD>Shape & size of chest & spine</TD><TD><INPUT NAME=shape_size size=20 maxlength=20></INPUT></TD></TR>
<TR><TD>Trachea</TD><TD><INPUT NAME=trachea size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Apex</TD><TD><INPUT NAME=apex size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Swelling</TD><TD><INPUT NAME=swelling size=20 maxlength=50></INPUT></TD></TR>
<TR><TD><FONT COLOR="green">Percussion</FONT></TD></TR>
<TR><TD>Cardiac dullness</TD><TD> <INPUT NAME=cardiac_dullness size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Hepatic dullness</TD><TD><INPUT NAME=hepatic_dullness size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Dullness</TD><TD><INPUT NAME=dullness size=20 maxlength=50></INPUT></TD></TR>
</TABLE>

</TD>

<TD VALIGN=TOP>
<TABLE BORDER=0 ALIGN=center>
<TR><TD><FONT COLOR="green">Palpation</FONT></TD></TR>
<TR><TD>Obvious swelling</TD><TD><INPUT NAME=obvious_swelling size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Trachea</TD><TD><INPUT NAME=p_trachea size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Apex beat</TD><TD><INPUT NAME=apex_beat size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Respiratory movements</TD><TD><INPUT NAME=respiratory size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Vocal fremitus</TD><TD><INPUT NAME=vocal_fremitus size=20 maxlength=50></INPUT></TD></TR>
<TR><TD><FONT COLOR="green">Auscultation</FONT></TD></TR>
<TR><TD>Breath sounds</TD><TD><INPUT NAME=breath size=20 maxlength=50></INPUT></TD></TR>

</TABLE></TD></TR>

<TABLE BORDER=1 ALIGN=center>
<TR><TD>Heart sounds</TD>
<TD><CENTER>M</CENTER></TD><TD><CENTER>P</CENTER></TD><TD><CENTER>A</CENTER></TD><TD><CENTER>T</CENTER></TD></TR>
<TR><TD>S1</TD><TD>
<INPUT NAME=heart_s1_m size=20 maxlength=50></INPUT>
</TD><TD>
<INPUT NAME=heart_s1_p size=20 maxlength=50></INPUT>
</TD><TD>
<INPUT NAME=heart_s1_a size=20 maxlength=50></INPUT>
</TD><TD>
<INPUT NAME=heart_s1_t size=20 maxlength=50></INPUT>
</TD></TR>

<TR><TD>A1-P1 split</TD><TD>
<INPUT NAME=heart_a1_m size=20 maxlength=50><OPTION></INPUT>
</TD><TD>
<INPUT NAME=heart_a1_p size=20 maxlength=50><OPTION></INPUT>
</TD><TD>
<INPUT NAME=heart_a1_a size=20 maxlength=50><OPTION></INPUT>
</TD><TD>
<INPUT NAME=heart_a1_t size=20 maxlength=50><OPTION></INPUT>
</TD></TR>

<TR><TD>S2</TD><TD>
<INPUT NAME=heart_s2_m size=20 maxlength=50></INPUT>
</TD><TD>
<INPUT NAME=heart_s2_p size=20 maxlength=50></INPUT>
</TD><TD>
<INPUT NAME=heart_s2_a size=20 maxlength=50></INPUT>
</TD><TD>
<INPUT NAME=heart_s2_t size=20 maxlength=50></INPUT>
</TD></TR>

<TR><TD>A2-P2 split</TD><TD>
<INPUT NAME=heart_a2_m size=20 maxlength=50></INPUT>
</TD><TD>
<INPUT NAME=heart_a2_p size=20 maxlength=50></INPUT>
</TD><TD>
<INPUT NAME=heart_a2_a size=20 maxlength=50></INPUT>
</TD><TD>
<INPUT NAME=heart_a2_t size=20 maxlength=50></INPUT>
</TD></TR>

<TR><TD>S3</TD><TD>
<INPUT NAME=heart_s3_m size=20 maxlength=50></INPUT>
</TD><TD>
<INPUT NAME=heart_s3_p size=20 maxlength=50></INPUT>
</TD><TD>
<INPUT NAME=heart_s3_a size=20 maxlength=50></INPUT>
</TD><TD>
<INPUT NAME=heart_s3_t size=20 maxlength=50></INPUT>
</TD></TR>

<TR><TD>S4</TD><TD>
<INPUT NAME=heart_s4_m size=20 maxlength=50></INPUT>
</TD><TD>
<INPUT NAME=heart_s4_p size=20 maxlength=50></INPUT>
</TD><TD>
<INPUT NAME=heart_s4_a size=20 maxlength=50></INPUT>
</TD><TD>
<INPUT NAME=heart_s4_t size=20 maxlength=50></INPUT>
</TD></TR>
</TABLE>

<TABLE BORDER=0 ALIGN=center>
<TR><TD><FONT COLOR="green">Adventitious sounds</FONT></TD></TR>
<TR><TD>Non-murmur</TD><TD><INPUT NAME=n_murmur size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Murmurs</TD><TD><INPUT NAME=murmurs size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>In left lateral position</TD><TD><INPUT NAME=lateral size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>with val Salva maneuver</TD><TD><INPUT NAME=salva size=20 maxlength=50></INPUT></TD></TR>
</TABLE>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Any other findings</TD><TD><INPUT NAME=others size=58 maxlength=50></INPUT></TD></TR>
<TR><TD>General impression</TD><TD><TEXTAREA NAME=tbxgeneralimp rows=2 cols=50></TEXTAREA></TD></TR>
</TABLE>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</TABLE>
</TD></TR>
</TABLE>
</TD></TR>
</TABLE>
</FORM>
</BODY>
</HTML>