<HTML>
<HEAD>   
	<TITLE>Endoscopy</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<H3>Endoscopy</H3>
<FORM name="p21">
<INPUT TYPE="hidden" NAME="frmnam" value="p21"> 
<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="80%" class='tableb'>

<TR><TD>
<TABLE BORDER=0 ALIGN=center>
<TR><TD valign=top>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Gastroscopy</TD><TD><INPUT NAME=gastroscopy size=15 maxlength=50></INPUT></TD></TR>
<TR><TD>ERCP</TD><TD><INPUT NAME=ERCP size=15 maxlength=50></INPUT></TD></TR>
<TR><TD>Proctoscopy & sigmoidoscopy</TD><TD><INPUT NAME=proctoscopy size=15 maxlength=50></INPUT></TD></TR>
<TR><TD>Colonoscopy</TD><TD><INPUT NAME=colonoscopy size=15 maxlength=50></INPUT></TD></TR>
</CENTER></TABLE>

</TD>

<TD VALIGN=TOP>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Esophagoscopy</TD><TD><INPUT NAME=esophagoscopy size=15 maxlength=50></INPUT></TD></TR>
<tr><td>Indirect laryngoscopy</td><td><INPUT name=laryngoscopy size=15 maxlength=20></td></tr>
<tr><td>Posterior Pharyngoscopy</td><td><INPUT name=Posterior size=15 maxlength=20></INPUT></td></tr>
<tr><td>Bronchoscopy</td><td><INPUT name=bronchoscopy size=15 maxlength=20></INPUT></td></tr>
</CENTER>
</TABLE></TD></TR>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Laparoscopy</td><td><INPUT name=Laparoscopy size=50 maxlength=100></INPUT></td></tr>
<TR><TD>Any other tests</TD><TD><INPUT NAME=other size=50 maxlength=100></INPUT></TD></TR>
<TR><TD>General impression</TD><TD><INPUT NAME=tbxgeneralimp size=50 maxlength=50></INPUT></TD></TR>
</CENTER></TABLE>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>

</TD></TR>
</CENTER></TABLE>
</FORM>
</BODY>
</HTML>






