<HTML>
<HEAD>   
	<TITLE>Genito Urinary System</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<H3>Genito Urinary System</H3>
<FORM name="p23">
<INPUT TYPE="hidden" name="frmnam" value="p23"> 
<TABLE ALIGN=center BORDER=1 CELLSPACING=0 CELLPADDING=0 WIDTH="80%" class='tableb'>

<TR><TD>
<TABLE BORDER=0 ALIGN=center>
<TR><TD valign=top>
<TABLE BORDER=0 ALIGN=center>
<TR><TD><H4>Complaints & details</H4></TD></TR>
<TR><TD><H4>Menstrual history</H4></TD></TR>
<TR><TD>Menarche at age</TD><TD><INPUT NAME=menarche size=20 maxlength=20>Years &nbsp;&nbsp;</TD></TR>
<TR><TD>Cycle</TD><TD><INPUT NAME=cycle size=18 maxlength=16></INPUT></TD></TR>
<TR><TD>Interval</TD><TD><INPUT NAME=intervals size=14 maxlength=14></TD></TR>
<TR><TD>Duration of flow</TD><TD><INPUT NAME=duration size=4 maxlength=4>Days</TD></TR>
<TR><TD>Quantity</TD><TD><INPUT NAME=quantity size=18 maxlength=16></INPUT></TD></TR>
<TR><TD>Pain</TD><TD><INPUT NAME=pain size=18 maxlength=16></INPUT></TD></TR>
<TR><TD>Last menstrual period</TD><TD><INPUT NAME=l_menstrual size=14 maxlength=14></TD></TR>
</CENTER></TABLE>

</TD>

<TD VALIGN=TOP>
<TABLE BORDER=0 ALIGN=center>
<TR><TD><H4>Obstetric history</H4></TD></TR>
<TR><TD>Marital status</TD><TD><INPUT NAME=marital size=18 maxlength=16></INPUT></TD></TR>
<TR><TD>Parity</TD><TD><INPUT NAME=parity size=18 maxlength=16></INPUT></TD></TR>
<TR><TD>pregnancy</TD><TD>Details</TD></TR>
<TR><TD>1st: <INPUT NAME=f_fpreg size=4 maxlength=4>YYYY</TD>
<TD><INPUT NAME=pregnancy size=14 maxlength=14></TD></TR>
<TR><TD>2nd:<INPUT NAME=f_spreg size=4 maxlength=4>YYYY</TD>
<TD><INPUT NAME=s_pregnancy size=14 maxlength=14></TD></TR>
<TR><TD>Others</TD><TD><textarea name=tbxothers rows=2 cols=25></textarea></TD></TR>
</CENTER>
</TABLE></TD></TR>

<TABLE BORDER=0 ALIGN=center>
<TR><TD><H4>Examination</H4></TD></TR>
<TR><TD>General</TD><TD><INPUT NAME=general size=60 maxlength=60></TD></TR>
<TR><TD>Systemic</TD><TD><INPUT NAME=systemic size=60 maxlength=60></TD></TR>
<TR><TD>CVS</TD><TD><INPUT NAME=cvs size=60 maxlength=60></TD></TR>
<TR><TD>R/S</TD><TD><INPUT NAME=r_s size=60 maxlength=60></TD></TR>
<TR><TD>Brest</TD><TD><INPUT NAME=Brest size=60 maxlength=60></TD></TR>
<TR><TD>Abdominal</TD><TD><INPUT NAME=abdominal size=60 maxlength=60></TD></TR>
<TR><TD>Obstetric</TD><TD><INPUT NAME=obstetric size=60 maxlength=60></TD></TR>
<TR><TD>Per speculum</TD><TD><INPUT NAME=culum size=60 maxlength=60></TD></TR>
<TR><TD>Per vaginal</TD><TD><INPUT NAME=vagenal size=60 maxlength=60></TD></TR>
<TR><TD>Rectal exam</TD><TD><INPUT NAME=rectal size=60 maxlength=60></TD></TR>
<TR><TD>Summary of the case</TD><TD><INPUT NAME=summary size=60 maxlength=60></TD></TR>
</CENTER></TABLE>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>

</TD></TR>
</CENTER></TABLE>
</FORM>
</BODY>
</HTML>
