<HTML>
<HEAD>   
	<TITLE>Brain Scan</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<H3>Brain Scan</H3>
<FORM>
<CENTER><TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="80%" class='tableb'>
<INPUT TYPE="hidden" name="frmnam" value="p25"> 
<TD VALIGN=TOP >
<TABLE>
<TR><TD><H4>CT Scan</H4></TD></TR>
<TR><TD>Skull</TD><TD><TEXTAREA NAME=tbxskull rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Bones</TD><TD><TEXTAREA NAME=tbxbones rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Epidural space</TD><TD><TEXTAREA NAME=tbxepidural rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Subdural space</TD><TD><TEXTAREA NAME=tbxsubdural rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Ventricles</TD><TD><TEXTAREA NAME=tbxventricles rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Gray matter </TD><TD><TEXTAREA NAME=tbxgray rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>White matter</TD><TD><TEXTAREA NAME=tbxwhite rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>ICSOL</TD><TD><TEXTAREA NAME=tbxicsol rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Hemorrhage</TD><TD><TEXTAREA NAME=tbxhemorrhage rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Infarction</TD><TD><TEXTAREA NAME=tbxinfarction rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Thrombosis</TD><TD><TEXTAREA NAME=tbxthrombosis rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Edema</TD><TD><TEXTAREA NAME=tbxedema rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Any other</TD><TD><TEXTAREA NAME=tbxctother rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>General impression</TD><TD><TEXTAREA NAME=tbxctimpassion rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Test date of CT scan</TD><TD><INPUT NAME=ctdate size=8 maxlength=8></TD></TR>
</TABLE>
</TD>
<TD VALIGN=TOP>
<TABLE>
<TR><TD><H4>MRI</H4></TD></TR>
<TR><TD>Skull</TD><TD><TEXTAREA NAME=tbxsku_ll rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Bones</TD><TD><TEXTAREA NAME=tbxbon_es rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Epidural space</TD><TD><TEXTAREA NAME=tbxepidu_ral rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Subdural space</TD><TD><TEXTAREA NAME=tbxsubdu_ral rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Ventricles</TD><TD><TEXTAREA NAME=tbxventr_icles rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Gray matter </TD><TD><TEXTAREA NAME=tbxgra_y rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>White matter</TD><TD><TEXTAREA NAME=tbxwhi_te rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>ICSOL</TD><TD><TEXTAREA NAME=tbxics_ol rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Hemorrhage</TD><TD><TEXTAREA NAME=tbxhemor_rhage rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Infarction</TD><TD><TEXTAREA NAME=tbxinfar_ction rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Thrombosis</TD><TD><TEXTAREA NAME=tbxthrombo_sis rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Edema</TD><TD><TEXTAREA NAME=tbxede_ma rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Any other</TD><TD><TEXTAREA NAME=tbxmriother rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>General impression</TD><TD><TEXTAREA NAME=tbxgeneralimp rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Test date of MRI</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD><TD>
<TR><TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</TABLE>
</TABLE>
</FORM>
</BODY>
</HTML>
