<HTML>
<HEAD>   
	<TITLE>Neurological Exam</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
<SCRIPT>
// Function to show and hide layers
function SHOWLAYER(nam)
{
			document.getElementById(nam).style.visibility= 'visible';
			document.getElementById("main").style.visibility= 'hidden';
}
function HIDELAYER(nam)
{
			document.getElementById(nam).style.visibility= 'hidden';
			document.getElementById("main").style.visibility= 'visible';

}
// End of functions
</SCRIPT>

</HEAD>
<BODY>
<FORM name=p26>
<DIV id="main" ALIGN="center" border=2 style="left:10;top:90;position:absolute;visibility:visible;background-color:' '">
<CENTER><H3>Neurological Exam</H3></CENTER>
	<TABLE BORDER=0 ALIGN=center  class='tableb'>
		<TR><TD><INPUT TYPE="button" onclick="SHOWLAYER('p27')" value="Motor function" style="background-color: '#82C0FF'; color: black; font-weight:BOLD; font-style:oblique"></TD>
		    <TD><INPUT TYPE="button" onclick="SHOWLAYER('p28')" value="Sensory functions" style="background-color: '#82C0FF'; color: black; font-weight:BOLD; font-style:oblique"></TD>
	    </TR>
	</TABLE>

<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="100%" class='tableb'>
<TR><TD>
<TR><TD valign=top>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Speech&nbsp;&nbsp;<INPUT NAME=speech size=45 maxlength=50></INPUT></TD></TR>
<TR><TD>Apraxia<INPUT NAME=apraxia size=45 maxlength=50></INPUT></TD></TR>
</CENTER></TABLE>
</TD></TR>

<TD VALIGN=TOP>
<table border=1 align=left WIDTH="80%">

     <tr><td colspan=5 align=center>Cranial nerves</td></tr>
	<tr><td colspan=5 align=center>&nbsp;&nbsp;&nbsp;&nbsp;Palsy&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Upper Motor Neuron&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lower Motor Neuron</td></tr>
   
   
   <tr>

          <td align=center>No:</td>
		  <td align=center>Right</td>
		  <td align=center>Left</td>
		  <td align=center>Right</td>
		  <td align=center>Left</td>
	</tr>

	<tr>
          <td align=center>1</td>
		  <td align=center>
		  <INPUT TYPE="checkbox" NAME=umnr1 VALUE="checked"></INPUT>
		  </td>
		  <td align=center>
		  <INPUT TYPE="checkbox" NAME=umnl1 VALUE="checked"></INPUT>
		  </td>
		  <td align=center>
		  <INPUT TYPE="checkbox" NAME=lmnr1 VALUE="checked"></INPUT>
		  </td>
		  <td align=center>
		  <INPUT TYPE="checkbox" NAME=lmnl1 VALUE="checked"></INPUT>
		  </td>
	</tr>

	<tr>
          <td align=center>2</td>
		  <td align=center>
		  <INPUT TYPE="checkbox" NAME=umnr2 VALUE="checked"></INPUT>
		  </td>
		  <td align=center>
		  <INPUT TYPE="checkbox" NAME=umnl2 VALUE="checked"></INPUT>
		  </td>
		  <td align=center>
		  <INPUT TYPE="checkbox" NAME=lmnr2 VALUE="checked"></INPUT>
		  </td>
		  <td align=center>
		  <INPUT TYPE="checkbox" NAME=lmnl2 VALUE="checked"></INPUT>
		  </td>
	</tr>

	<tr>
          <td align=center>3</td>
		  <td align=center>
		  <INPUT TYPE="checkbox" NAME=umnr3 VALUE="checked"></INPUT>
		  </td>
		  <td align=center>
		  <INPUT TYPE="checkbox" NAME=umnl3 VALUE="checked"></INPUT>
		  </td>
		  <td align=center>
		  <INPUT TYPE="checkbox" NAME=lmnr3 VALUE="checked"></INPUT>
		  </td>
		  <td align=center>
		  <INPUT TYPE="checkbox" NAME=lmnl3 VALUE="checked"></INPUT>
		  </td>
	</tr>

	<tr>
          <td align=center>4</td>
		  <td align=center>
		  <INPUT TYPE="checkbox" NAME=umnr4 VALUE="checked"></INPUT>
		  </td>
		  <td align=center>
		  <INPUT TYPE="checkbox" NAME=umnl4 VALUE="checked"></INPUT>
		  </td>
		  <td align=center>
		  <INPUT TYPE="checkbox" NAME=lmnr4 VALUE="checked"></INPUT>
		  </td>
		  <td align=center>
		  <INPUT TYPE="checkbox" NAME=lmnl4 VALUE="checked"></INPUT>
		  </td>
	</tr>

	<tr>
          <td align=center>5</td>
		  <td align=center>
		  <INPUT TYPE="checkbox" NAME=umnr5 VALUE="checked"></INPUT>
		  </td>
		  <td align=center>
		  <INPUT TYPE="checkbox" NAME=umnl5 VALUE="checked"></INPUT>
		  </td>
		  <td align=center>
		  <INPUT TYPE="checkbox" NAME=lmnr5 VALUE="checked"></INPUT>
		  </td>
		  <td align=center>
		  <INPUT TYPE="checkbox" NAME=lmnl5 VALUE="checked"></INPUT>
		  </td>
	</tr>


	<tr>
          <td align=center>6</td>
		  <td align=center>
		  <INPUT TYPE="checkbox" NAME=umnr6 VALUE="checked"></INPUT>
		  </td>
		  <td align=center>
		  <INPUT TYPE="checkbox" NAME=umnl6 VALUE="checked"></INPUT>
		  </td>
		  <td align=center>
		  <INPUT TYPE="checkbox" NAME=lmnr6 VALUE="checked"></INPUT>
		  </td>
		  <td align=center>
		  <INPUT TYPE="checkbox" NAME=lmnl6 VALUE="checked"></INPUT>
		  </td>
	</tr>

	<tr>
          <td align=center>7</td>
		  <td align=center>
		  <INPUT TYPE="checkbox" NAME=umnr7 VALUE="checked"></INPUT>
		  </td>
		  <td align=center>
		  <INPUT TYPE="checkbox" NAME=umnl7 VALUE="checked"></INPUT>
		  </td>
		  <td align=center>
		  <INPUT TYPE="checkbox" NAME=lmnr7 VALUE="checked"></INPUT>
		  </td>
		  <td align=center>
		  <INPUT TYPE="checkbox" NAME=lmnl7 VALUE="checked"></INPUT>
		  </td>
	</tr>


	<tr>
          <td align=center>8</td>
		  <td align=center>
		  <INPUT TYPE="checkbox" NAME=umnr8 VALUE="checked"></INPUT>
		  </td>
		  <td align=center>
		  <INPUT TYPE="checkbox" NAME=umnl8 VALUE="checked"></INPUT>
		  </td>
		  <td align=center>
		  <INPUT TYPE="checkbox" NAME=lmnr8 VALUE="checked"></INPUT>
		  </td>
		  <td align=center>
		  <INPUT TYPE="checkbox" NAME=lmnl8 VALUE="checked"></INPUT>
		  </td>
	</tr>


	<tr>
          <td align=center>9</td>
		  <td align=center>
		  <INPUT TYPE="checkbox" NAME=umnr9 VALUE="checked"></INPUT>
		  </td>
		  <td align=center>
		  <INPUT TYPE="checkbox" NAME=umnl9 VALUE="checked"></INPUT>
		  </td>
		  <td align=center>
		  <INPUT TYPE="checkbox" NAME=lmnr9 VALUE="checked"></INPUT>
		  </td>
		  <td align=center>
		  <INPUT TYPE="checkbox" NAME=lmnl9 VALUE="checked"></INPUT>
		  </td>
	</tr>


	<tr>
          <td align=center>10</td>
		  <td align=center>
		  <INPUT TYPE="checkbox" NAME=umnr10 VALUE="checked"></INPUT>
		  </td>
		  <td align=center>
		  <INPUT TYPE="checkbox" NAME=umnl10 VALUE="checked"></INPUT>
		  </td>
		  <td align=center>
		  <INPUT TYPE="checkbox" NAME=lmnr10 VALUE="checked"></INPUT>
		  </td>
		  <td align=center>
		  <INPUT TYPE="checkbox" NAME=lmnl10 VALUE="checked"></INPUT>
		  </td>
	</tr>


	<tr>
          <td align=center>11</td>
		  <td align=center>
		  <INPUT TYPE="checkbox" NAME=umnr11 VALUE="checked"></INPUT>
		  </td>
		  <td align=center>
		  <INPUT TYPE="checkbox" NAME=umnl11 VALUE="checked"></INPUT>
		  </td>
		  <td align=center>
		  <INPUT TYPE="checkbox" NAME=lmnr11 VALUE="checked"></INPUT>
		  </td>
		  <td align=center>
		  <INPUT TYPE="checkbox" NAME=lmnl11 VALUE="checked"></INPUT>
		  </td>
	</tr>


	<tr>

          <td align=center>12</td>
		  <td align=center>
		  <INPUT TYPE="checkbox" NAME=umnr12 VALUE="checked"></INPUT>
		  </td>
		  <td align=center>
		  <INPUT TYPE="checkbox" NAME=umnl12 VALUE="checked"></INPUT>
		  </td>
		  <td align=center>
		  <INPUT TYPE="checkbox" NAME=lmnr12 VALUE="checked"></INPUT>
		  </td>
		  <td align=center>
		  <INPUT TYPE="checkbox" NAME=lmnl12 VALUE="checked"></INPUT>
		  </td>
	</tr>
</table>

<TABLE BORDER=0 ALIGN=center>

<H4>Signs of meningeal irritation</H4>
<TR><TD>Neck rigidity &nbsp;&nbsp;&nbsp;&nbsp;<INPUT NAME=rigidity size=18 maxlength=50></INPUT></TD></TR>
<TR><TD>Kernig's sign &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<INPUT NAME=kernig size=18 maxlength=50></INPUT></TD></TR>
<TR><TD>Straight leg raising &nbsp;&nbsp;<INPUT NAME=raising size=18 maxlength=50></INPUT></TD></TR>
</CENTER></TABLE>

</TD>

<TD VALIGN=TOP>
<TABLE BORDER=0 ALIGN=center>

<TR><TD><H4>Reflexes</H4></TD><TD>Right &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <FONT COLOR="green">Superficial</FONT> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Left</TD></TR>
<TR><TD>Abdominal<TD><INPUT NAME=abdominalr size=12 maxlength=50></INPUT>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 <INPUT NAME=abdominall size=12 maxlength=50></INPUT></TD></TR>

<TR><TD>Cremasteric<TD><INPUT NAME=cremastiricr size=12 maxlength=50></INPUT>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 <INPUT NAME=cremastiricrl size=12 maxlength=50></INPUT></TD></TR>
<TR><TD>Plantar<TD><INPUT NAME=plantarr size=16 maxlength=50></INPUT>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <INPUT NAME=plantarl size=16 maxlength=50></INPUT></TD></TR>

<TR><TD>Any other<TD><INPUT NAME=raother size=38 maxlength=50></INPUT></TD></TR>
<TR><TD></TD><TD>Right
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<FONT COLOR="green">Deep</FONT>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Left</TD></TR>
<TR><TD>Biceps<TD><INPUT NAME=rbiceps size=3 maxlength=20></INPUT>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<INPUT NAME=lbiceps size=3 maxlength=20></INPUT></TD></TR>

<TR><TD>Triceps<TD><INPUT NAME=rtriceps size=3 maxlength=20></INPUT>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<INPUT NAME=ltriceps size=3 maxlength=20></INPUT></TD></TR>

<TR><TD>Supinator<TD><INPUT NAME=rsupinator size=3 maxlength=20></INPUT>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<INPUT NAME=lsupinator size=3 maxlength=20></INPUT></TD></TR>

<TR><TD>Knee<TD><INPUT NAME=rknee size=3 maxlength=20></INPUT>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<INPUT NAME=lknee size=3 maxlength=20></INPUT></TD></TR>

<TR><TD>Ankle<TD><INPUT NAME=rankle size=3 maxlength=20></INPUT>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<INPUT NAME=lankle size=3 maxlength=20></INPUT></TD></TR>
<TR><TD>Any other<TD><INPUT NAME=drother size=38 maxlength=50></INPUT></TD></TR>

<TR><TD></TD><TD>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<FONT COLOR="green">Visceral</TD></TR>
<TR><TD>Micturition</TD><TD><INPUT NAME=micturition size=18 maxlength=50></INPUT></TD></TR>
<TR><TD>Defecation</TD><TD><INPUT NAME=defecation size=18 maxlength=50></INPUT></TD></TR>
<TR><TD>Others</TD><TD><INPUT NAME=lotherd size=40 maxlength=50></INPUT></TD></TR>
<TR><TD>Any significant feature</TD><TD><INPUT NAME=sig size=40 maxlength=50></INPUT></TD></TR>
<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD><TD>
<TR><TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>

</TD></TR>
</TABLE>
</DIV>

<!-- layer for p27 -->
<DIV id="p27" ALIGN="center" border=2 style="position:absolute; left:50;top:90;visibility:hidden;background-color:''">
<table border=2 WIDTH="90%" class='tableb'>
<TR><TD>

<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="90%">
<TR><TD colspan=2>
	<CENTER><H3>Motor function testing</H3></CENTER>
</TD></TR>
<TR><TD>
	<TABLE BORDER=1 ALIGN=center>
		<TR><TD>Name of the muscle</TD><TD><INPUT NAME=muscle size=18 maxlength=50></INPUT></TD></TR>
		<TD>Muscle bulk</TD><TD><INPUT NAME=muscleb size=18 maxlength=50></INPUT></TD></TR>
		<TR><TD>Tone</TD><TD><INPUT NAME=tone size=18 maxlength=50></INPUT></TD></TR>
		<TR><TD>Strength</TD><TD><INPUT NAME=strength size=18 maxlength=50></INPUT></TD></TR>
	</TABLE>

</TD>

<TD VALIGN=TOP>
	<TABLE BORDER=0 ALIGN=center>
		<TR><TD>Coordination</TD><TD><INPUT NAME=coordination size=18 maxlength=50></INPUT></TD></TR>
		<TR><TD>Gait</TD><TD><INPUT NAME=gait size=20 maxlength=20></INPUT></TD></TR>
		<TR><TD>Involuntary movements</TD><TD><INPUT NAME=involuntary size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Any other tests</TD><TD><INPUT NAME=others size=20 maxlength=50></INPUT></TD></TR>
	</TABLE>
</TD></TR>
<TR><TD colspan=2>
	<TABLE BORDER=0 ALIGN=center>
		<TR><TD>General impression</TD><TD><TEXTAREA NAME=tbxgeneralimp rows=2 cols=55></TEXTAREA></TD></TR>
	</TABLE>
</TD></TR>
<TR><TD colspan=2>
		<CENTER><INPUT TYPE="button" value='Close' onclick="HIDELAYER('p27')"></CENTER>
</TD></TR>
</TABLE>

</td></tr>
</table>
</div>
<!-- layer for p28 -->
<DIV id="p28" ALIGN="center" border=2 style="position:absolute; left:50;top:90;visibility:hidden;background-color:' '">
<table border=2 WIDTH="90%" class='tableb'>
<TR><TD>

<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="90%">
<TR><TD colspan=2>
	<CENTER><H3>Sensory function test</H3></CENTER>
</TD></TR>

<TR><TD>
	<TABLE BORDER=0 ALIGN=center>
		<TR><TD>Name of the region</TD><TD><INPUT NAME=r_egion size=12 maxlength=50></INPUT></TD></TR>
		<TR><TD>Touch</TD><TD><INPUT NAME=touch size=12 maxlength=50></INPUT></TD></TR>
		<TR><TD>Position</TD><TD><INPUT NAME=position size=12 maxlength=50></INPUT></TD></TR>
		<TR><TD>Size</TD><TD><INPUT NAME=size size=12 maxlength=50></INPUT></TD></TR>
	</TABLE>

</TD>

<TD VALIGN=TOP>
	<TABLE BORDER=0 ALIGN=center>
		<TR><TD>Shape & form</TD><TD><INPUT NAME=shape size=18 maxlength=50></INPUT></TD></TR>
		<TR><TD>Vibration</TD><TD><INPUT NAME=vibration size=18 maxlength=50></INPUT></TD></TR>
		<TR><TD>Pain</TD><TD><INPUT NAME=pain size=18 maxlength=50></INPUT></TD></TR>
		<TR><TD>Temperature</TD><TD><INPUT NAME=temperature size=18 maxlength=50></INPUT></TD></TR>
	</TABLE>
</TD></TR>
<TR><TD colspan=2>
	<TABLE BORDER=0 ALIGN=center>
		<TR><TD>Any other</TD><TD><INPUT NAME=others1 size=50 maxlength=50></INPUT></TD></TR>
		<TR><TD>General impression</TD><TD><TEXTAREA NAME=tbxgeneralimp1 rows=2 cols=45></TEXTAREA></TD></TR>
	</TABLE>
</TD></TR>
<TR><TD colspan=2>
		<CENTER><INPUT TYPE="button" value='Close' onclick="HIDELAYER('p28')"></CENTER>
</TD></TR>
</table>
</td></tr>
</TABLE>
</div>

</FORM>
</BODY>
</HTML>
