<HTML>
<HEAD>   
	<TITLE>Motor function testing</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<H3>Motor function testing</H3>
<form name="p27">
<INPUT TYPE="hidden" NAME="frmnam" value="p27">
<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="90%" class='tableb'>

<TR><TD>
<TABLE BORDER=0 ALIGN=center>
<TR><TD valign=top>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Name of the muscle</TD><TD><INPUT NAME=muscle size=18 maxlength=50></INPUT></TD></TR>
<TD>Muscle bulk</TD><TD><INPUT NAME=muscleb size=18 maxlength=50></INPUT></TD></TR>
<TR><TD>Tone</TD><TD><INPUT NAME=tone size=18 maxlength=50></INPUT></TD></TR>
<TR><TD>Strength</TD><TD><INPUT NAME=strength size=18 maxlength=50></INPUT></TD></TR>
</CENTER></TABLE>

</TD>

<TD VALIGN=TOP>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Coordination</TD><TD><INPUT NAME=coordination size=18 maxlength=50></INPUT></TD></TR>
<TR><TD>Gait</TD><TD><INPUT NAME=gait size=20 maxlength=20></INPUT></TD></TR>
<TR><TD>Involuntary movements</TD><TD><INPUT NAME=involuntary size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Any other tests</TD><TD><INPUT NAME=others size=20 maxlength=50></INPUT></TD></TR>
</CENTER>
</TABLE></TD></TR>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>General impression</TD><TD><TEXTAREA NAME=tbxgeneralimp rows=2 cols=55></TEXTAREA></TD></TR>
</CENTER></TABLE>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>

</TD></TR>
</CENTER></TABLE>
</FORM>
</BODY>
</HTML>
