<HTML>
<HEAD>   
	<TITLE>Sensory function test</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<H3>Sensory function test</H3>
<FORM name=p28>
<INPUT TYPE="hidden" NAME="frmnam" value=p28>
<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="90%" class='tableb'>

<TR><TD>
<TABLE BORDER=0 ALIGN=center>
<TR><TD valign=top>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Name of the region</TD><TD><INPUT NAME=region size=12 maxlength=50></INPUT></TD></TR>
<TR><TD>Touch</TD><TD><INPUT NAME=touch size=12 maxlength=50></INPUT></TD></TR>
<TR><TD>Position</TD><TD><INPUT NAME=position size=12 maxlength=50></INPUT></TD></TR>
<TR><TD>Size</TD><TD><INPUT NAME=size size=12 maxlength=50></INPUT></TD></TR>
</CENTER></TABLE>

</TD>

<TD VALIGN=TOP>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Shape & form</TD><TD><INPUT NAME=shape size=18 maxlength=50></INPUT></TD></TR>
<TR><TD>Vibration</TD><TD><INPUT NAME=vibration size=18 maxlength=50></INPUT></TD></TR>
<TR><TD>Pain</TD><TD><INPUT NAME=pain size=18 maxlength=50></INPUT></TD></TR>
<TR><TD>Temperature</TD><TD><INPUT NAME=temperature size=18 maxlength=50></INPUT></TD></TR>
</CENTER>
</TABLE></TD></TR>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Any other</TD><TD><INPUT NAME=others size=50 maxlength=50></INPUT></TD></TR>
<TR><TD>General impression</TD><TD><TEXTAREA NAME=tbxgeneralimp rows=2 cols=45></TEXTAREA></TD></TR>
</CENTER></TABLE>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>

</TD></TR>
</CENTER></TABLE>
</FORM>
</BODY>
</HTML>
