<HTML>
<HEAD>   
	<TITLE>Psychiatry</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
<SCRIPT>
// Function to show and hide layers
function SHOWLAYER(nam)
{
			document.getElementById(nam).style.visibility= 'visible';
			document.getElementById("main").style.visibility= 'hidden';
}
function HIDELAYER(nam)
{
			document.getElementById(nam).style.visibility= 'hidden';
			document.getElementById("main").style.visibility= 'visible';

}
// End of functions
</SCRIPT>

</HEAD>
<BODY>
<form name="p29">
<DIV id="main" ALIGN="center" border=2 style="left:50;top:90;position:absolute;visibility:visible;background-color:' '">


<CENTER><H3>Psychiatry</H3></CENTER>
<CENTER><H4>Mental state exam</H4>
<CENTER>
<TABLE ALIGN=center BORDER=1 CELLSPACING=0 CELLPADDING=0 class='tableb'>
<TR>
<TD><INPUT TYPE="button" onclick="SHOWLAYER('p30')" value="CT scan" style=" color: black; font-weight:BOLD; font-style:oblique"></TD>
<TD><INPUT TYPE="button" onclick="SHOWLAYER('p31')" value="MRI" style=" color: black; font-weight:BOLD; font-style:oblique"></TD>
</Tr>
</table>

</CENTER>
<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="90%" class='tableb'>

<TR><TD>
	<TABLE BORDER=0 ALIGN=center>
		<TR><TD>Appearance & behavior</TD><TD><INPUT NAME=appearance size=18 maxlength=50></INPUT></TD></TR>
		<TR><TD>Emotional state</TD><TD><INPUT NAME=emotional size=18 maxlength=50></INPUT></TD></TR>
		<TR><TD>Delusions & hallucinations</TD><TD><INPUT NAME=delusions size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Orientation of time</TD><TD><INPUT NAME=time size=18 maxlength=50></INPUT></TD></TR>
		<TR><TD>Orientation of space</TD><TD><INPUT NAME=spac size=18 maxlength=50></INPUT></TD></TR>
		<TR><TD>Orientation of person</TD><TD><INPUT NAME=person size=18 maxlength=50></INPUT></TD></TR>
		<TR><TD>Clouding of consciousness</TD><TD><INPUT NAME=clouding size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Recent memory</TD><TD><INPUT NAME=recent size=18 maxlength=50></INPUT></TD></TR>
	</TABLE>

</TD>

<TD VALIGN=TOP>
	<TABLE BORDER=0 ALIGN=center>
		<TR><TD>Short term memory</TD><TD><INPUT NAME=short size=18 maxlength=50></INPUT></TD></TR>
		<TR><TD>Long term memory</TD><TD><INPUT NAME=longs size=18 maxlength=50></INPUT></TD></TR>
		<TR><TD>General intelligence</TD><TD><INPUT NAME=general size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Released reflexes in dementia</TD><TD><INPUT NAME=released size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Cooperation</TD><TD><INPUT NAME=cooperation size=18 maxlength=50></INPUT></TD></TR>
		<TR><TD>Formal thought disorder</TD><TD><INPUT NAME=thought size=18 maxlength=50></INPUT></TD></TR>
		<TR><TD>obsession/compulsion/phobia</TD><TD><INPUT NAME=ocp size=18 maxlength=50></INPUT></TD></TR>
		<TR><TD>Suicidal ideas</TD><TD><INPUT NAME=suicide size=18 maxlength=50></INPUT></TD></TR>
	</TABLE>
</TD></TR>
<TR><TD colspan=2>
	<TABLE BORDER=0 ALIGN=center>
		<TR><TD>Psychometric assessment</TD><TD><INPUT NAME=psychometric size=40 maxlength=50></INPUT></TD></TR>
		<TR><TD>Any other</TD><TD><INPUT NAME=others size=40 maxlength=40></INPUT></TD></TR>
		<TR><TD>General impression</TD><TD><TEXTAREA NAME=tbxgeneralimp rows=2 cols=35></TEXTAREA></TD></TR>
	</TABLE>
</TD></TR>
<TR><TD colspan=2>
	<TABLE BORDER=0 ALIGN=center>
		<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
		<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
	</TABLE>
</TD></TR>
</TD></TR>
</TABLE>
</DIV>

<!-- Div for p30 -->
<DIV id="p30" ALIGN="center" border=2 style="position:absolute; left:50;top:90;visibility:hidden;background-color:' '">
<TABLE ALIGN=center BORDER=2 WIDTH="90%" class='tableb'>
<tr><td>

<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="90%">
<TR><TD colspan=2>
<CENTER><H3>CT Scan</H3></CENTER>
</TD></TR>
<TR><TD valign=top>
	<TABLE BORDER=0 ALIGN=center>
		<TR><TD>Skull</TD><TD><TEXTAREA NAME=tbxskull rows=2 cols=25></TEXTAREA></TD></TR>
		<TR><TD>Bones</TD><TD><TEXTAREA NAME=tbxbones rows=2 cols=25></TEXTAREA></TD></TR>
		<TR><TD>Epidural space</TD><TD><TEXTAREA NAME=tbxepidural rows=2 cols=25></TEXTAREA></TD></TR>
		<TR><TD>Subdural space</TD><TD><TEXTAREA NAME=tbxsubdural rows=2 cols=25></TEXTAREA></TD></TR>
		<TR><TD>Ventricles</TD><TD><TEXTAREA NAME=tbxventricles rows=2 cols=25></TEXTAREA></TD></TR>
		<TR><TD>Gray matter </TD><TD><TEXTAREA NAME=tbxgray rows=2 cols=25></TEXTAREA></TD></TR>
		<TR><TD>White matter</TD><TD><TEXTAREA NAME=tbxwhite rows=2 cols=25></TEXTAREA></TD></TR>
	</TABLE>
</TD>
<TD VALIGN=TOP>
	<TABLE BORDER=0 ALIGN=center>
		<TR><TD>ICSOL</TD><TD><TEXTAREA NAME=tbxicsol rows=2 cols=25></TEXTAREA></TD></TR>
		<TR><TD>Hemorrhage</TD><TD><TEXTAREA NAME=tbxhemorrhage rows=2 cols=25></TEXTAREA></TD></TR>
		<TR><TD>Infarction</TD><TD><TEXTAREA NAME=tbxinfarction rows=2 cols=25></TEXTAREA></TD></TR>
		<TR><TD>Thrombosis</TD><TD><TEXTAREA NAME=tbxthrombosis rows=2 cols=25></TEXTAREA></TD></TR>
		<TR><TD>Edema</TD><TD><TEXTAREA NAME=tbxedema rows=2 cols=25></TEXTAREA></TD></TR>
		<TR><TD>Any other</TD><TD><TEXTAREA NAME=tbxothers rows=2 cols=25></TEXTAREA></TD></TR>
		<TR><TD>General impression</TD><TD><TEXTAREA NAME=tbxgeneralimp1 rows=2 cols=25></TEXTAREA></TD></TR>
	</TABLE>
</TD></TR>
<TR><TD colspan=2>
		<CENTER><INPUT TYPE="button" value='Close' onclick="HIDELAYER('p30')"></CENTER>
</TD></TR>
</table>

</td></tr>
</table>
</div>

<!-- Div for p31 -->
<DIV id="p31" ALIGN="center" border=2 style="position:absolute; left:50;top:90;visibility:hidden;background-color:' '">
<TABLE ALIGN=center BORDER=1 WIDTH="90%" class='tableb'>
<TR><TD>

<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="80%">
<TR><TD colspan=2>
	<CENTER><H3>MRI</H3></CENTER>
</TD></TR>
<TR><TD valign=top>
	<TABLE BORDER=0 ALIGN=center>
		<TR><TD>Skull</TD><TD><TEXTAREA NAME=tbxsku_ll rows=2 cols=25></TEXTAREA>
		<TR><TD>Bones</TD><TD><TEXTAREA NAME=tbxbon_es rows=2 cols=25></TEXTAREA></TD></TR>
		<TR><TD>Epidural space</TD><TD><TEXTAREA NAME=tbxepidu_ral rows=2 cols=25></TEXTAREA></TD></TR>
		<TR><TD>Subdural space</TD><TD><TEXTAREA NAME=tbxsubdu_ral rows=2 cols=25></TEXTAREA></TD></TR>
		<TR><TD>Ventricles</TD><TD><TEXTAREA NAME=tbxventr_icles rows=2 cols=25></TEXTAREA></TD></TR>
		<TR><TD>Gray matter </TD><TD><TEXTAREA NAME=tbxgra_y rows=2 cols=25></TEXTAREA></TD></TR>
		<TR><TD>White matter</TD><TD><TEXTAREA NAME=tbxwhi_te rows=2 cols=25></TEXTAREA></TD></TR>
	</TABLE>
</TD>
<TD VALIGN=TOP>
<TABLE BORDER=0 ALIGN=center>
		<TR><TD>ICSOL</TD><TD><TEXTAREA NAME=tbxics_ol rows=2 cols=25></TEXTAREA></TD></TR>
		<TR><TD>Hemorrhage</TD><TD><TEXTAREA NAME=tbxhemor_rhage rows=2 cols=25></TEXTAREA></TD></TR>
		<TR><TD>Infarction</TD><TD><TEXTAREA NAME=tbxinfar_ction rows=2 cols=25></TEXTAREA></TD></TR>
		<TR><TD>Thrombosis</TD><TD><TEXTAREA NAME=tbxthrombo_sis rows=2 cols=25></TEXTAREA></TD></TR>
		<TR><TD>Edema</TD><TD><TEXTAREA NAME=tbxede_ma rows=2 cols=25></TEXTAREA></TD></TR>
		<TR><TD>Any other</TD><TD><TEXTAREA NAME=tbxothers rows=2 cols=25></TEXTAREA></TD></TR>
		<TR><TD>General impression</TD><TD><TEXTAREA NAME=tbxgeneralimp2 rows=2 cols=25></TEXTAREA></TD></TR>
	</TABLE>
</TD></TR>
<TR><TD colspan=2>
		<CENTER><INPUT TYPE="button" value='Close' onclick="HIDELAYER('p31')"></CENTER>
</TD></TR>
</table>
</td></tr>
</TABLE>
</div>

</FORM>
</BODY>
</HTML>
