<HTML>
<HEAD>   
	<TITLE>CT Scan</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<H3>CT Scan</H3>
<FORM name="p30">
<INPUT TYPE="hidden" name="frmnam" value="p30">
<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="90%" class='tableb'>

<TR><TD valign=top>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Skull</TD><TD><TEXTAREA NAME=tbxskull rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Bones</TD><TD><TEXTAREA NAME=tbxbones rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Epidural space</TD><TD><TEXTAREA NAME=tbxepidural rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Subdural space</TD><TD><TEXTAREA NAME=tbxsubdural rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Ventricles</TD><TD><TEXTAREA NAME=tbxventricles rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Gray matter </TD><TD><TEXTAREA NAME=tbxgray rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>White matter</TD><TD><TEXTAREA NAME=tbxwhite rows=2 cols=25></TEXTAREA></TD></TR>
</TABLE>
</TD>
<TD VALIGN=TOP>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>ICSOL</TD><TD><TEXTAREA NAME=tbxicsol rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Hemorrhage</TD><TD><TEXTAREA NAME=tbxhemorrhage rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Infarction</TD><TD><TEXTAREA NAME=tbxinfarction rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Thrombosis</TD><TD><TEXTAREA NAME=tbxthrombosis rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Edema</TD><TD><TEXTAREA NAME=tbxedema rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>Any other</TD><TD><TEXTAREA NAME=tbxother rows=2 cols=25></TEXTAREA></TD></TR>
<TR><TD>General impression</TD><TD><TEXTAREA NAME=tbxgeneralimp rows=2 cols=25></TEXTAREA></TD></TR>
</TABLE>
</TD></TR>
<TR><TD>

<TABLE BORDER=0 ALIGN=center>
<INPUT TYPE="hidden" NAME=nofimg>
<TR><TD>Test date</TD><TD><INPUT NAME=testdate  size=8 maxlength=10></INPUT></TD>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=10></INPUT></TD></TR>
</CENTER></TABLE>

</TD></TR></TABLE>
</FORM>
</BODY>
</HTML>
