<HTML>
<HEAD>   
	<TITLE>p32</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<H3>Gynaecological Examination</H3>
<FORM name="p32">
<INPUT TYPE="hidden" name="frmnam" value="p32">
<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="90%" class='tableb'>
	
	<TR><TD valign=top>
			
		<TABLE BORDER=0>
		<TR><TD><H4>General examination</H4></TD></TR>
		<TR><TD>Pulse</TD><TD><INPUT NAME=pulse size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Anaemia</TD><TD><INPUT NAME=anaemia size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Cyanosis</TD><TD><INPUT NAME=cyanosis size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Jaundice</TD><TD><INPUT NAME=jaundice size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Oedema</TD><TD><INPUT NAME=oedema size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>B.P	systolic</TD><TD><INPUT NAME=bp_syo size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>B.P	diastolic</TD><TD><INPUT NAME=bp_dia size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Height</TD><TD><INPUT NAME=height size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Weight</TD><TD><INPUT NAME=weight size=20 maxlength=50></INPUT></TD></TR>

		<TR><TD><H4>Obstetric Examination</H4></TD></TR>
		<TR><TD>Height of uterus</TD><TD><INPUT NAME=height_uterus size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>FHS</TD><TD><INPUT NAME=fhs size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Presentation</TD><TD><INPUT NAME=presentation_ob size=20 maxlength=50></INPUT></TD></TR>

		</TABLE>
		</TD>

		<TD VALIGN=TOP>
				<TABLE BORDER=0>

		<TR><TD><H4>P/V examination</H4></TD></TR>

		<TR><TD>OS</TD><TD><INPUT NAME=os size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>CX</TD><TD><INPUT NAME=cx size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Presentation</TD><TD><INPUT NAME=presentation_pv size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Station</TD><TD><INPUT NAME=station size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Membrane</TD><TD><INPUT NAME=membrane size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Position</TD><TD><INPUT NAME=position size=20 maxlength=50></INPUT></TD></TR>

		<TR><TD><H4>Gyanaecological examination</H4></TD></TR>
		<TR><TD>Uterus</TD><TD><INPUT NAME=marital_statussize=20 maxlength=50></INPUT></TD></TR>

		<TR><TD><h4>Vagina</h4></TD></TR>

		<TR><TD>Fornices</TD><TD><INPUT NAME=fornices size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>POD</TD><TD><INPUT NAME=pod size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Cervix</TD><TD><INPUT NAME=cervix size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Vulva</TD><TD><INPUT NAME=vulva size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Discharge</TD><TD><INPUT NAME=discharge size=20 maxlength=50></INPUT></TD></TR>
		</TABLE>				
		</TD></TR>

</TABLE>

<TABLE BORDER=0 ALIGN=center>

<TR><TD>Any other</TD><TD><TEXTAREA NAME=tbxanyother rows=2 cols=63 wrap=virtual></TEXTAREA></TD></TR>
<TR><TD>General impression</TD><TD><TEXTAREA NAME=tbxgeneralimp rows=2 cols=63 wrap=virtual></TEXTAREA></TD></TR>

</CENTER>
</TABLE>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entrydate</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>

</FORM>
</BODY>
</HTML>
