<HTML>
<HEAD>   
	<TITLE>p33</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<H3>Paediatrics Examination</H3>
<FORM name="p33">
<INPUT TYPE="hidden" name="frmnam" value="p33">
<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="90%" class='tableb'>
	<TR>
		<TD valign=top>
		<TABLE BORDER=0 ALIGN=center>
		<TR><TD><H4>General examination</H4></TD></TR>
		<TR><TD>Weight</TD><TD><INPUT NAME=weight size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Length/Height</TD><TD><INPUT NAME=length_height size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Head circumference</TD><TD><INPUT NAME=head_circumference size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Reflexes</TD><TD><INPUT NAME=reflexes size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Pulse rate</TD><TD><INPUT NAME=pulse_rate size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Resp.rate</TD><TD><INPUT NAME=resp_rate size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Blood pressure</TD><TD><INPUT NAME=blood_pressure size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>State of development</TD><TD><INPUT NAME=state_development size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Shape of head</TD><TD><INPUT NAME=shape_head size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Anterior frontanella</TD><TD><INPUT NAME=anterior_frontanella size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Posterior frontanella</TD><TD><INPUT NAME=posterior_frontanella size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Facies</TD><TD><INPUT NAME=facies size=20 maxlength=50></INPUT></TD></TR>

		<TR><TD><H4>Chest examination</H4></TD></TR>

		<TR><TD>Deformity</TD><TD><INPUT NAME=deformity size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Indrawing of chest wall</TD><TD><INPUT NAME=indrawing size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Vocal fremitus</TD><TD><INPUT NAME=vocal_fremitus size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Percussion</TD><TD><INPUT NAME=percussion size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Breath sounds</TD><TD><INPUT NAME=breath_sounds size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Crepititions</TD><TD><INPUT NAME=crepititions size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Rhonchi</TD><TD><INPUT NAME=rhonchi size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Heart sounds S1</TD><TD><INPUT NAME=heart_sounds_S1 size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Heart sounds S2</TD><TD><INPUT NAME=heart_sounds_S2 size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Heart sounds S3</TD><TD><INPUT NAME=heart_sounds_S3 size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Heart sounds S4 </TD><TD><INPUT NAME=heart_sounds_S4 size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Murmurs</TD><TD><INPUT NAME=murmurs size=20 maxlength=50></INPUT></TD></TR>
		</TABLE>
		</TD>

		
		<TD VALIGN=TOP>
		<TABLE BORDER=0 ALIGN=center>
		<TR><TD><H4>Genitalia examination</H4></TD></TR>
		<TR><TD>Male</TD><TD><INPUT NAME=male size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Female</TD><TD><INPUT NAME=female size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Delayed Milestones</TD><TD><INPUT NAME=delayed_milestones size=20 maxlength=50></INPUT></TD></TR>

		<TR><TD><H4>Mouth & throat Examination</H4></TD></TR>
		<TR><TD>Teeth</TD><TD><INPUT NAME=teeth size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Tongue</TD><TD><INPUT NAME=tongue size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Mucous membrane</TD><TD><INPUT NAME=mucous_membrane size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Koplik's spot</TD><TD><INPUT NAME=koplik_spot size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Tonsils</TD><TD><INPUT NAME=tonsils size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Pharynx</TD><TD><INPUT NAME=pharynx size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Hearing</TD><TD><INPUT NAME=hearing size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Nose</TD><TD><INPUT NAME=nose size=20 maxlength=50></INPUT></TD></TR>
		
		
		<TR><TD><H4>Nervous System</H4></TD></TR>

		<TR><TD>Level of Consciousness</TD><TD><INPUT NAME=level_consciousness size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Muscle power</TD><TD><INPUT NAME=muscle_power size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Sensary function</TD><TD><INPUT NAME=sensary_function size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Jerks</TD><TD><INPUT NAME=jerks size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Abnormal movements</TD><TD><INPUT NAME=abnormal_movements size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>In coordination</TD><TD><INPUT NAME=in_coordination size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Planter signs</TD><TD><INPUT NAME=planter_signs size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Kernigs sign</TD><TD><INPUT NAME=kernigs_sign size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Neck rigidity</TD><TD><INPUT NAME=neck_rigidity size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Other Reflexes</TD><TD><INPUT NAME=other_reflexes size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Fundal examination</TD><TD><INPUT NAME=fundal_examination size=20 maxlength=50></INPUT></TD></TR>
		<TR><TD>Any other</TD><TD><TEXTAREA NAME=tbxanyother rows=2 cols=20 wrap=virtual></TEXTAREA></TD></TR>
		<TR><TD>General impression</TD><TD><TEXTAREA NAME=tbxgeneralimp rows=2 cols=20 wrap=virtual></TEXTAREA></TD></TR>
		<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD></TR>
		<TR><TD>Entrydate</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
		</TABLE>
		</TD></TR>
		</TABLE>
</FORM>
</BODY>
</HTML>
