<HTML>
<HEAD>   
	<TITLE>Neonatal Systemic Examination</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<H3>Neonatal Systemic Examination</H3>
<FORM name="p34">
<INPUT TYPE="hidden" NAME="frmnam" value="p34"> 

<TABLE ALIGN=center BORDER=1 CELLSPACING=0 CELLPADDING=0 WIDTH="90%" class='tableb'>
<TR><TD valign=top>


<TABLE BORDER=0 ALIGN=center>
<TR><TD><H4>Chest </H4></TD></TR>
<TR><TD>Respiratory rate</TD><TD><INPUT NAME=respiratory_rate size=30 maxlength=50>/min</INPUT></TD></TR>
<TR><TD>Grunting</TD><TD><INPUT NAME=grunting size=30 maxlength=50></INPUT></TD></TR>
<TR><TD>Intercostal</TD><TD><INPUT NAME=intercostal size=30 maxlength=50></INPUT></TD></TR>
<TR><TD>Subcostal</TD><TD><INPUT NAME=subcostal size=30 maxlength=50></INPUT></TD></TR>
<TR><TD>Others</TD><TD><INPUT NAME=others_chest size=30 maxlength=50></INPUT></TD></TR>

<TR><TD><H4>Abdomen</H4></TD></TR>
<TR><TD>Shape</TD><TD><INPUT NAME=shape size=30 maxlength=50></INPUT></TD></TR>
<TR><TD>Meconium passed</TD><TD><INPUT NAME=meconium_passed size=30 maxlength=50></INPUT></TD></TR>
<TR><TD>Urine passed</TD><TD><INPUT NAME=urine_passed size=30 maxlength=50></INPUT></TD></TR>
<TR><TD>External Genitalia</TD><TD><INPUT NAME=external_genitalia size=30 maxlength=50></INPUT></TD></TR>
<TR><TD>Anus</TD><TD><INPUT NAME=anus size=30 maxlength=50></INPUT></TD></TR>
<TR><TD>Others</TD><TD><INPUT NAME=others_abdomen size=30 maxlength=50></INPUT></TD></TR>

<TR><TD><H4>Skeletal System</H4></TD><TD><INPUT NAME=skeletal_system size=30 maxlength=50></INPUT></TD></TR>



</CENTER>
</TABLE>

</TD>

<TD VALIGN=TOP>
<TABLE BORDER=0 ALIGN=center>


<TR><TD><h4>Heart</h4></TD></TR>
<TR><TD>Pulse</TD><TD><INPUT NAME=pulse size=30 maxlength=50></INPUT></TD></TR>
<TR><TD>Cyanosis</TD><TD><INPUT NAME=cyanosis size=30 maxlength=50></INPUT></TD></TR>
<TR><TD>Others</TD><TD><INPUT NAME=others_heart size=30 maxlength=50></INPUT></TD></TR>

<TR><TD><h4>C.N.S</h4></TD></TR>
<TR><TD>Ant.Fontanelle</TD><TD><INPUT NAME=ant_fontanelle size=30 maxlength=50></INPUT></TD></TR>
<TR><TD>Tone</TD><TD><INPUT NAME=tone size=30 maxlength=50></INPUT></TD></TR>
<TR><TD>Posture</TD><TD><INPUT NAME=posture size=30 maxlength=50></INPUT></TD></TR>
<TR><TD>Facial Nerve Palsy</TD><TD><INPUT NAME=facial_nerve_palsy size=30 maxlength=50></INPUT></TD></TR>

<TR><TD>Brachial Palsy</TD><TD><INPUT NAME=brachial_palsy size=30 maxlength=50></INPUT></TD></TR>
<TR><TD>Grasp Reflex</TD><TD><INPUT NAME=grasp_reflex size=30 maxlength=50></INPUT></TD></TR>
<TR><TD>Moro's Reflex</TD><TD><INPUT NAME=moros_reflex size=30 maxlength=50></INPUT></TD></TR>
<TR><TD>Other Reflexes</TD><TD><INPUT NAME=other_reflexes size=30 maxlength=50></INPUT></TD></TR>


</CENTER>
</TABLE></TD></TR>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Any other tests</TD><TD><INPUT NAME=others size=65 maxlength=50></INPUT></TD></TR>
<TR><TD>General impression</TD><TD><TEXTAREA NAME=tbxgeneralimp rows=2 cols=55 wrap=virtual></TEXTAREA></TD></TR>
</CENTER></TABLE>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>

</CENTER></TABLE>
</CENTER></TABLE>
</FORM>
</BODY>
</HTML>
