<HTML>
<HEAD>   
	<TITLE>Neonatal General Examination</TITLE>href="
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<H3>Neonatal General Examination</H3>
<FORM name="p35">
<INPUT TYPE="hidden" NAME="frmnam" value="p35"> 

<TABLE ALIGN=center BORDER=1 CELLSPACING=0 CELLPADDING=0 WIDTH="90%" class='tableb'>
<TR><TD valign=top>
<TABLE BORDER=0 ALIGN=center>

<TR><TD>Appearance</TD><TD><INPUT NAME=appearance size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Cry</TD><TD><INPUT NAME=cry size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Reflex</TD><TD><INPUT NAME=reflex size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Posture</TD><TD><INPUT NAME=posture size=20 maxlength=50></INPUT></TD></TR>

<TR><TD>Colour</TD><TD><INPUT NAME=intercostal size=20 maxlength=50></INPUT></TD></TR>

<TR><TD>Temperature</TD><TD><INPUT NAME=temperature size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Pulse</TD><TD><INPUT NAME=pulse size=20 maxlength=50>/minute</INPUT></TD></TR>
<TR><TD>Respiratory rate</TD><TD><INPUT NAME=respiratory_rate size=20 maxlength=50>/minute</INPUT></TD></TR>

<TR><TD>CRT</TD><TD><INPUT NAME=crt size=20 maxlength=50>seconds</INPUT></TD></TR>


</CENTER>
</TABLE>

</TD>

<TD VALIGN=TOP>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Fontanellae and Sutures</TD><TD><INPUT NAME=fontanellae_sutures size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Skull</TD><TD><INPUT NAME=skull size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Spine</TD><TD><INPUT NAME=spine size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Congenital Malformations</TD><TD><INPUT NAME=congenital_malformations size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Weight(Birth)</TD><TD><INPUT NAME=weight_birth size=20 maxlength=50>gms</INPUT></TD></TR>
<TR><TD>Weight (Admission)</TD><TD><INPUT NAME=Weight_Admission size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Head Circumference</TD><TD><INPUT NAME=head_circumference size=20 maxlength=50>cms</INPUT></TD></TR>
<TR><TD>Gestational Age</TD><TD><INPUT NAME=gestational_age size=20 maxlength=50>weeks</INPUT></TD></TR>
<TR><TD>Position on IUG Chart</TD><TD><INPUT NAME=position_on_iug_chart size=20 maxlength=50></INPUT></TD></TR>



</CENTER>
</TABLE></TD></TR>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Any other tests</TD><TD><INPUT NAME=others size=65 maxlength=50></INPUT></TD></TR>
<TR><TD>General impression</TD><TD><TEXTAREA NAME=tbxgeneralimp rows=2 cols=55 wrap=virtual></TEXTAREA></TD></TR>
</CENTER></TABLE>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>

</CENTER></TABLE>
</CENTER></TABLE>
</FORM>
</BODY>
</HTML>
