<HTML>
<HEAD>   
	<TITLE>Examination of Lymph Nodes</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<H3>Examination of Lymph Nodes</H3>
<FORM name="p40">
<INPUT TYPE="hidden" NAME="frmnam" value="p40">
<CENTER><TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="90%" class='tableb'>
<TR><TD>

<TABLE ALIGN=center>
<TR><TD>Cervical</TD><TD><TEXTAREA NAME=tbxcomplaint rows=2 cols=50></TEXTAREA><BR></TD></TR>
<TR><TD>Axillary</TD><TD><TEXTAREA NAME=tbxfindings rows=2 cols=50></TEXTAREA><BR></TD></TR>
<TR><TD>Lnguinal</TD><TD><TEXTAREA NAME=tbxinvest rows=2 cols=50></TEXTAREA><BR></TD></TR>


<TR><TD>Any other</TD><TD><TEXTAREA NAME=tbxother_x rows=2 cols=50></TEXTAREA><BR></TD></TR>
</CENTER></TABLE>
<TABLE ALIGN=center>
<TR><TD>Diagnosis date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>&nbsp;&nbsp;
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>
</TD></TR>
</CENTER>
</TABLE>
</FORM>
</BODY>
</HTML>
