<HTML>
<HEAD>   
<TITLE>General Examination</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY><CENTER>
<H3>Final Diagnosis</H3>
<FORM name="p43">
<INPUT TYPE="hidden" name="frmnam" value="p43" > 
<CENTER >
<TABLE ALIGN=center BORDER=1 CELLSPACING=5 CELLPADDING=5 WIDTH="90%" class='tableb'>
<TR>
	<TD>
<TABLE ALIGN=center BORDER=0 CELLSPACING=2 CELLPADDING=2 WIDTH="100%">
<TR>
<TD>
<TABLE ALIGN=center BORDER=0 CELLSPACING=2 CELLPADDING=2 WIDTH="100%">
<TR>
	<TD>General Condition</TD>
	<TD><TEXTAREA NAME=tbxgnlcondition ROWS=5 COLS=20></TEXTAREA></TD>
</TR>
<TR>
	<TD>Pallor</TD>
	<TD>
	<INPUT TYPE=text NAME=pallor></INPUT>
	</TD>
</TR>
<TR>
	<TD>Jaundice</TD>
	<TD>
	<INPUT TYPE=text NAME=Jaundice></INPUT>
	</TD>
</TR>
<TR>
	<TD>Cyanosis</TD>
	<TD>
	<INPUT TYPE=text NAME=Cyanosis></INPUT>
	</TD>
</TR>
<TR>
	<TD>Height</TD>
	<TD>
	<INPUT TYPE=text NAME=Height></INPUT>
	</TD>
</TR>


</TABLE>
</TD>
<TD>
<TABLE ALIGN=center BORDER=0 CELLSPACING=2 CELLPADDING=2 WIDTH="100%">

<TR>
	<TD>Weight</TD>
	<TD>
	<INPUT TYPE=text NAME=Weight></INPUT>
	</TD>
</TR>
<TR>
	<TD>Pulse</TD>
	<TD>
	<INPUT TYPE=text NAME=Pulse></INPUT>
	</TD>
</TR>
<TR>
	<TD>Edima</TD>
	<TD>
	<INPUT TYPE=text NAME=Edima></INPUT>
	</TD>
</TR>
<TR>
	<TD>Clubbing</TD>
	<TD>
	<INPUT TYPE=text NAME=Clubbing></INPUT>
	</TD>
</TR>
<TR>
	<TD>Obesity</TD>
	<TD>
	<INPUT TYPE=text NAME=Obesity></INPUT>
	</TD>
</TR>
<TR>
	<TD>Surface Area</TD>
	<TD>
	<INPUT TYPE=text NAME=surfacearea></INPUT>
	</TD>
</TR>
<TR>
	<TD>B.P.</TD>
	<TD>
	<INPUT TYPE=text NAME=bp></INPUT>
	</TD>
</TR>
</TABLE>
</TD>
</TR>
<TR>
<TD colspan=2>
<CENTER>Examination Date <INPUT NAME=testdate size=8 maxlength=8></INPUT>&nbsp;&nbsp;&nbsp;&nbsp;
<INPUT name=entrydate></INPUT>
</TD>
</TR>
</TABLE></TD>
</TR>
</TABLE></CENTER>

</FORM>
</CENTER>
</BODY>
</HTML>
