<HTML>
<HEAD>   
	<TITLE>Vital Signs</TITLE>
	<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<CENTER>
<H3>Vital Signs</H3>
<FORM name="p47">
<INPUT TYPE="hidden" name="frmnam" value="P47"> 
<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="80%" class='tableb'>
	<TR>
	<TD>

<TABLE align=center>
	<TR>
		<TD>Temperature</TD>
		<TD><INPUT NAME=temperature size=20 maxlength=50></INPUT></TD>
    </TR>
	<TR>
		<TD>Respiratory Rate</TD>
		<TD><INPUT NAME=resprate size=20 maxlength=50></INPUT></TD>
    </TR>
	<TR>
		<TD>Pulse</TD>
		<TD><INPUT NAME=pulse size=20 maxlength=50></INPUT></TD>
    </TR>
	<TR>
		<TD>Blood Pressure</TD>
		<TD><INPUT NAME=bldpres size=20 maxlength=50></INPUT></TD>
    </TR>
	<TR>
		<TD>Pulse Oximeter</TD>
		<TD><INPUT NAME=pulox size=20 maxlength=50></INPUT></TD>
    </TR>
	<TR>
		<TD>Test Date</TD><TD><INPUT NAME=testdate size=20></INPUT></TD>
	</TR>
	<TR>
		<TD>Entry Date</TD><TD><INPUT NAME=entrydate size=20></INPUT></TD>

	</TR>
</TABLE>
 </TD>
</TR>
</TABLE>

</form>
</body>
</html>
