<HTML>
<HEAD>   
	<TITLE>Lymph Nodes</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<H3>Lymph Nodes</H3>
<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="80%">
	<TR>
	<TD style="padding-left:30px">
		<TABLE ALIGN=center>
		<TR>
		<TD><INPUT NAME=cervical size=20 maxlength=50></INPUT></TD>
		<TD><Textarea name=tbxcervical></Textarea></TD>
		</TR>
		
		<TR>
		<TD><INPUT NAME=axillary size=20 maxlength=50></INPUT></TD>
		<TD><Textarea name=tbxaxillary></Textarea></TD>
		</TR>
		
		<TR>
		<TD><INPUT NAME=inguinal size=20 maxlength=50></INPUT></TD>
		<TD><Textarea name=tbxinguinal></Textarea></TD>
		</TR>
				<TR>
		<TD><INPUT NAME=epitro size=20 maxlength=50></INPUT></TD>
		<TD><Textarea name=tbxepitro></Textarea></TD>
		</TR>

		<TR>
		<TD><INPUT NAME=other size=20 maxlength=50></INPUT></TD>
		<TD><Textarea name=tbxother></Textarea></TD>
		</TR>

		</TABLE>
	</TD>
	</TR>	
	</TABLE>

</FORM>
</BODY>
</HTML>