<HTML>
<HEAD>   
	<TITLE>Blood Culture & Sensivity Report</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<H3>Blood Culture & Sensivity Report</H3>
<form name="s01">
<INPUT TYPE="hidden" name="frmnam" value="s01"> 

<TABLE ALIGN=center BORDER=1 CELLSPACING=0 CELLPADDING=0 WIDTH="90%" class='tableb'>
<TR><TD valign=top>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Organism</TD><TD><INPUT NAME=organism size=20 maxlength=50></INPUT></TD>
<TD>Colony Cnt</TD><TD><INPUT NAME=f_colony size=15 maxlength=8></INPUT></TD></TR>

<TABLE ALIGN=center>
<H4>Antibiogram</H4>
<TD VALIGN=TOP>

<TABLE BORDER=0 ALIGN=center>
<TR><TD><U>Antibiotic</U></TD><TD><U>in mm</U></TD><TD><U>Sensitivity</U></TD></TR>
<TR><TD>Ampicillin</TD>
<TD>
<INPUT NAME=f_ampicillin size=10 maxlength=10></INPUT>
</TD>
<TD>
<INPUT NAME=sens_ampi size=10 maxlength=50></INPUT>
</TD>
</TR>

<TR><TD>Amoxycillin</TD>
<TD>
<INPUT NAME=f_amoxycillin size=10 maxlength=10></INPUT>
</TD>
<TD>
<INPUT NAME=sens_amoxy size=10 maxlength=50></INPUT>
</TD>
</TR>
<TR><TD>Cotrimoxazole</TD>
<TD>
<INPUT NAME=f_cotrimoxazole size=10 maxlength=10></INPUT>
</TD>
<TD>
<INPUT NAME=sens_cotrim size=10 maxlength=50></INPUT>
</TD>
</TR>
<TR><TD>Ciprofloxacin</TD>
<TD>
<INPUT NAME=f_ciprofloxacin size=10 maxlength=10></INPUT>
</TD>
<TD>
<INPUT NAME=sens_cipro size=10 maxlength=50></INPUT>
</TD>
</TR>
<TR><TD>Norfloxacin</TD>
<TD>
<INPUT NAME=f_norfloxacin size=10 maxlength=10></INPUT>
</TD>
<TD>
<INPUT NAME=sens_norf size=10 maxlength=50></INPUT>
</TD>
</TR>
<TR><TD>Cephalosporin</TD>
<TD>
<INPUT NAME=f_cephalosporin size=10 maxlength=10></INPUT>
</TD>
<TD>
<INPUT NAME=sens_ceph size=10 maxlength=50></INPUT>
</TD>
</TR>
<TR><TD>Cefaloridine</TD>
<TD>
<INPUT NAME=f_cefaloridine size=10 maxlength=10></INPUT>
</TD>
<TD>
<INPUT NAME=sens_cefa size=10 maxlength=50></INPUT>
</TD>
</TR>
<TR><TD>Cefuroxime</TD>
<TD>
<INPUT NAME=f_cefuroxime size=10 maxlength=10></INPUT>
</TD>
<TD>
<INPUT NAME=sens_cefu size=10 maxlength=50></INPUT>
</TD>
</TR>
<TR><TD>Cefadroxyl</TD>
<TD>
<INPUT NAME=f_cefadroxyl size=10 maxlength=10></INPUT>
</TD>
<TD>
<INPUT NAME=sens_cefad size=10 maxlength=50></INPUT>
</TD>
</TR>
</CENTER></TABLE>

</TD>

<TD VALIGN=TOP>
<TABLE BORDER=0 ALIGN=center>
<TR><TD><U>Antibiotic</U></TD>
<TD><U>in mm</U></TD><TD><U>Sensitivity</U></TD>
</TR>
<TR><TD>Cefixime</TD>
<TD>
<INPUT NAME=f_cefixime size=10 maxlength=10></INPUT>
</TD>
<TD>
<INPUT NAME=sens_cefi size=10 maxlength=50></INPUT>
</TD>
</TR>
<TR><TD>Ceftriaxone</TD>
<TD>
<INPUT NAME=f_ceftriaxone size=10 maxlength=10></INPUT>
</TD>
<TD>
<INPUT NAME=sens_ceft size=10 maxlength=50></INPUT>
</TD>
</TR>
<TR><TD>Cefazoline</TD>
<TD>
<INPUT NAME=f_cefazoline size=10 maxlength=10></INPUT>
</TD>
<TD>
<INPUT NAME=sens_Cefaz size=10 maxlength=50></INPUT>
</TD>
</TR>
<TR><TD>Clarithromycin</TD>
<TD>
<INPUT NAME=f_clarithromycin size=10 maxlength=10></INPUT>
</TD>
<TD>
<INPUT NAME=sens_clari size=10 maxlength=50></INPUT>
</TD>
</TR>
<TR><TD>Gentamicin</TD>
<TD>
<INPUT NAME=f_gentamicin size=10 maxlength=10></INPUT>
</TD>
<TD>
<INPUT NAME=sens_gent size=10 maxlength=50></INPUT>
</TD>
</TR>
<TR><TD>Sparfloxacin</TD>
<TD>
<INPUT NAME=f_sparfloxacin size=10 maxlength=10></INPUT>
</TD>
<TD>
<INPUT NAME=sens_sparf size=10 maxlength=50></INPUT>
</TD>
</TR>
<TR><TD>Ofloxacin</TD>
<TD>
<INPUT NAME=f_ofloxacin size=10 maxlength=10></INPUT>
</TD>
<TD>
<INPUT NAME=sens_oflo size=10 maxlength=50></INPUT>
</TD>
</TR>
<TR><TD>Furadantin</TD>
<TD>
<INPUT NAME=f_furadantin size=10 maxlength=10></INPUT>
</TD>
<TD>
<INPUT NAME=sens_fura size=10 maxlength=50></INPUT>
</TD>
</TR>
<TR><TD>Chloramphenicol</TD>
<TD>
<INPUT NAME=f_chloramphenicol size=10 maxlength=10></INPUT>
</TD>
<TD>
<INPUT NAME=sens_chlo size=10 maxlength=50></INPUT>
</TD>
</TR>
</CENTER>
</TABLE></TD></TR>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Any other tests</TD><TD><INPUT NAME=others size=60 maxlength=50></INPUT></TD></TR>
<TR><TD>General impression</TD><TD><TEXTAREA NAME=tbxgeneralimp rows=2 cols=50></TEXTAREA></TD></TR>
</CENTER></TABLE>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>

</CENTER></TABLE>
</CENTER></TABLE>
</FORM>
</BODY>
</HTML>