<HTML>
<HEAD>   
	<TITLE>Urine Exam</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<H3>Urine Exam</H3>
<FORM name="s03">
<INPUT TYPE="hidden" name="frmnam" value="s03"> 
<TABLE ALIGN=center BORDER=1 CELLSPACING=0 CELLPADDING=0 WIDTH="90%" class='tableb'>

<TR><TD>
<TABLE BORDER=0 ALIGN=center>
<TR><TD valign=top>
<TABLE BORDER=0 ALIGN=center>
<TR><TD><H4>Physical</H4></TD></TR>
<TR><TD>Quantity </TD><TD><INPUT NAME=f_quantity size=10 maxlength=10>ml</INPUT></TD></TR>
<TR><TD>24 hours' volume</TD><TD><INPUT NAME=hours size=10 maxlength=50></INPUT></TD></TR>
<TR><TD>Color</TD><TD><INPUT NAME=colour size=10 maxlength=50></INPUT></TD></TR>
<TR><TD>Transparency</TD><TD><INPUT NAME=transparency size=10 maxlength=50></INPUT></TD></TR>
<TR><TD>Sp. Gravity</TD><TD><INPUT NAME=sp_gravity size=10 maxlength=50></INPUT></TD></TR>
<TR><TD>Sediment</TD><TD><INPUT NAME=sediment size=10 maxlength=50></INPUT></TD></TR>
</CENTER></TABLE>

</TD>

<TD VALIGN=TOP>
<TABLE BORDER=0 ALIGN=center>
<TR><TD><H4>Chemical</H4></TD></TR>
<TR><TD>pH</td><TD> <INPUT NAME=reaction size=10 maxlength=50></INPUT></TD></TR>
<TR><TD>Albumin</TD><TD><INPUT NAME=albumin size=10 maxlength=50></INPUT></TD></TR>
<TR><TD>Phosphates</TD><TD><INPUT NAME=phosphates size=10 maxlength=50></INPUT></TD></TR>
<TR><TD>Sugar</TD><TD><INPUT NAME=sugar size=10 maxlength=50></INPUT></TD></TR>
<TR><TD>Bile Pigments </td><TD> <INPUT NAME=bile_pigments size=10 maxlength=50></INPUT></TD></TR>
<TR><TD>Bile Salts </TD><TD><INPUT NAME=bile_salts size=10 maxlength=50></INPUT></TD></TR>
<TR><TD>Ketone Bodies </TD><TD><INPUT NAME=ketone_bodies size=10 maxlength=50></INPUT></TD></TR>
<TR><TD>Creatinine</TD><TD><INPUT NAME=Creatinine size=10 maxlength=50></INPUT></TD></TR>
</CENTER></TABLE>

</TD>

<TD VALIGN=TOP>
<TABLE BORDER=0 ALIGN=center>
<TR><TD><H4>Microscopic</H4></TD></TR>
<TR><TD>Epithelial cells</td><TD> <INPUT NAME=epithelial size=26 maxlength=50></INPUT></TD></TR>
<TR><TD>Leucocytes (pus cells)</TD><TD><INPUT NAME=leucocytes size=26 maxlength=50></INPUT></TD></TR>
<TR><TD>RBC</TD><TD><INPUT NAME=rbc size=26 maxlength=50></INPUT></TD></TR>
<TR><TD>Crystals</TD><TD><INPUT NAME=crystals size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Casts</TD><TD><INPUT NAME=casts size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Micro Organisms</TD><TD><INPUT NAME=micro_organ size=26 maxlength=50></INPUT></TD></TR>
</CENTER>
</TABLE></TD></TR>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Any other tests</TD><TD><INPUT NAME=others size=65 maxlength=50></INPUT></TD></TR>
<TR><TD>General impression</TD><TD><TEXTAREA NAME=tbxgeneralimp rows=2 cols=50></TEXTAREA></TD></TR>
</CENTER></TABLE>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>

</TD></TR>
</CENTER></TABLE>
</FORM>
</BODY>
</HTML>