<HTML>
<HEAD>   
	<TITLE>Stool for R/E & OBC Report</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<H3>Stool for R/E & OBC Report</H3>
<FORM name="s05">
<INPUT TYPE="hidden" NAME="frmnam" value="s05"> 
<TABLE ALIGN=center BORDER=1 CELLSPACING=0 CELLPADDING=0 WIDTH="90%" class='tableb'>
<TR><TD valign=top>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Specimen:</TD><TD><INPUT NAME=specimen size=18 maxlength=50></INPUT></TD></TR>
<TABLE ALIGN=center>
<TD VALIGN=TOP>

<TABLE BORDER=0 ALIGN=center>
<TR><TD><H4>Physical examination</H4></TD></TR>
<TR><TD>Color</TD><TD><INPUT NAME=color size=20 maxlength=50>&nbsp;&nbsp;&nbsp;&nbsp;</INPUT></TD></TR>
<TR><TD>Consistency</TD><TD><INPUT NAME=consistency size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Mucus</TD><TD><INPUT NAME=mucus size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Blood</TD><TD><INPUT NAME=blood size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Helminths</TD><TD><INPUT NAME=helminthis size=20 maxlength=50></INPUT></TD></TR>
<TR><TD><h4>Chemical examination</h4></TD></TR>
<TR><TD>Reaction</TD><TD><INPUT NAME=reaction size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Occult blood test</TD><TD><INPUT NAME=occult_blood size=20 maxlength=50></INPUT></TD></TR>
</CENTER></TABLE>

</TD>

<TD VALIGN=TOP>
<TABLE BORDER=0 ALIGN=center>
<TR><TD><H4>Microscopical examination</H4></TD></TR>
<TR><TD>Pus Cells</TD><TD><INPUT NAME=puscells size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>R.B.C.</TD><TD><INPUT NAME=rbc size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Epithelial Cells</TD><TD><INPUT NAME=epithelial size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Crystals</TD><TD><INPUT NAME=crystals size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Bacteria</TD><TD><INPUT NAME=bacteria size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Remnants of Food</TD><TD><INPUT NAME=remnants size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Ova/Larva of Helminths</TD><TD><INPUT NAME=ohelminthis size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Protozoa</TD><TD><INPUT NAME=protozoa size=20 maxlength=50></INPUT></TD></TR>
</CENTER>
</TABLE></TD></TR>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Any other tests</TD><TD><INPUT NAME=others  size=65 maxlength=50></INPUT></TD></TR>
<TR><TD>General impression</TD><TD><TEXTAREA NAME=tbxgeneralimp rows=2 cols=55></TEXTAREA></TD></TR>
</CENTER></TABLE>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>

</CENTER></TABLE>
</CENTER></TABLE>
</FORM>
</BODY>
</HTML>