<HTML>
<HEAD>   
	<TITLE>Liver function eest</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<H3>Liver function test</H3>
<FORM name="s11">
<INPUT TYPE="hidden" NAME="frmnam" value="s11"> 
<TABLE ALIGN=center BORDER=1 CELLSPACING=0 CELLPADDING=0 WIDTH="90%" class='tableb'>

<TR><TD>
<TABLE BORDER=0 ALIGN=center>
<TR><TD valign=top>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Total Bilirubin</TD><TD><INPUT NAME=f_bilirubin size=10 maxlength=10>mg/dl.</INPUT></TD></TR>
<TR><TD>Conjugated Bilirubin </TD><TD><INPUT NAME=f_con_bili size=10 maxlength=10>mg/dl.</INPUT></TD></TR>
<TR><TD>Unconjugated Bilirubin </TD><TD><INPUT NAME=f_un_bili size=10 maxlength=10>mg/dl.</INPUT></TD></TR>
<TR><TD>SGPT </TD><TD><INPUT NAME=f_sgpt size=10 maxlength=10>U/L.</INPUT></TD></TR>
<TR><TD>SGOT </TD><TD> <INPUT NAME=f_sgot size=10 maxlength=10>U/L.</INPUT></TD></TR>
<TR><TD>Alkaline Phosphatase</TD><TD><INPUT NAME=f_alk_phos size=10 maxlength=10>KAU/ml.</INPUT></TD></TR>
<TR><TD>Acid Phosphatase(Total)</TD><TD><INPUT NAME=f_acid_phos  size=10 maxlength=10>IU/L.</INPUT></TD></TR>
</CENTER></TABLE>

</TD>

<TD VALIGN=TOP>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Acid Phosphatase(Prostatic)</TD><TD><INPUT NAME=f_acid_pros size=10 maxlength=10>IU/L.</INPUT></TD></TR>
<TR><TD>Total Protein</TD><TD><INPUT NAME=f_protein size=10 maxlength=10>gm/dl.</INPUT></TD></TR>
<TR><TD>Albumin</TD><TD><INPUT NAME=f_albumin size=10 maxlength=10>gm/dl.</INPUT></TD></TR>
<TR><TD>Globulin</TD><TD><INPUT NAME=f_globulin size=10 maxlength=10>gm/dl.</INPUT></TD></TR>
<TR><TD>Albumin Globulin ratio</TD><TD><INPUT NAME=f_ratio size=10 maxlength=10>gm/dl.</INPUT></TD></TR>
<TR><TD>GGT</TD><TD><INPUT NAME=f_ggt size=10 maxlength=10>IU/L</INPUT></TD></TR>
</CENTER>
</TABLE></TD></TR>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Any other tests</TD><TD><INPUT NAME=others size=60 maxlength=50></INPUT></TD></TR>
<TR><TD>General impression</TD><TD><TEXTAREA NAME=tbxgeneralimp rows=2 cols=50></TEXTAREA></TD></TR>
</CENTER></TABLE>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>

</TD></TR>
</CENTER></TABLE>
</FORM>
</BODY>
</HTML>