<HTML>
<HEAD>   
	<TITLE>Enzymes</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<H3>Enzymes</H3>
<form name="s12">
<INPUT TYPE="hidden" name="frmnam" value="s12">
<TABLE ALIGN=center BORDER=1 CELLSPACING=0 CELLPADDING=0 WIDTH="90%" class='tableb'>

<TR><TD>
<TABLE BORDER=0 ALIGN=center>
<TR><TD valign=top>
<TABLE BORDER=0 ALIGN=center>
<TR><TD><H4>Hepatic ( liuer )</H4></TD></TR>
<TR><TD>ALT(SGPT)</TD><TD><INPUT NAME=altsgpt size=20 maxlength=20></INPUT></TD></TR>
<TR><TD>NTP</TD><TD><INPUT NAME=ntp size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>ALP</TD><TD><INPUT NAME=alp size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>GGT</TD><TD><INPUT NAME=ggt size=20 maxlength=50></INPUT></TD></TR>
<TR><TD><h4>Cardiac ( heart )</h4></TD></TR>
<TR><TD>CK-MB</TD><TD><INPUT NAME=ckmb size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>AST(SGOT)</TD><TD><INPUT NAME=astsgot size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>LDH or LD(LD1>LD2)</TD><TD><INPUT NAME=ldhld size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Tn ( T,1 ) ( CTI and CTT )</TD><TD><INPUT NAME=tncti size=20 maxlength=50></INPUT></TD></TR>
</CENTER></TABLE>

</TD>

<TD VALIGN=TOP>
<TABLE BORDER=0 ALIGN=center>
<TR><TD><H4>Muscular</H4></TD></TR>
<TR><TD>CK-MM</TD><TD><INPUT NAME=ckmm size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>AST</TD><TD><INPUT NAME=ast size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>ALD</TD><TD><INPUT NAME=ald size=20 maxlength=50></INPUT></TD></TR>
<TR><TD><H4>Bone diseaes</H4></TD></TR>
<TR><TD>ALP</TD><TD><INPUT NAME=balp size=20 maxlength=50></INPUT></TD></TR>
<TR><TD><H4>Prostate cancer</H4></TD></TR>
<TR><TD>PSA</TD><TD><INPUT NAME=psa size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>ACP</TD><TD><INPUT NAME=acp size=20 maxlength=50></INPUT></TD></TR>
</CENTER>
</TABLE></TD></TR>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Any other tests</TD><TD><INPUT NAME=others size=65 maxlength=50></INPUT></TD></TR>
<TR><TD>General impression</TD><TD><TEXTAREA NAME=tbxgeneralimp rows=2 cols=55></TEXTAREA></TD></TR>
</CENTER></TABLE>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>

</TD></TR>
</CENTER></TABLE>
</FORM>
</BODY>
</HTML>