<HTML>
<HEAD>   
	<title>Electrolyte estimation</title>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<H3>Electrolyte estimation</H3>
<form name="s13">
<INPUT TYPE="hidden" name="frmnam" value="s13">
<TABLE ALIGN=center BORDER=1 CELLSPACING=0 CELLPADDING=0 WIDTH="90%" class='tableb'>

<TR><TD>
<TABLE BORDER=0 ALIGN=center>
<TR><TD valign=top>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Sodium</TD><TD><INPUT NAME=f_sodium size=10>mmol/L</INPUT></TD><TR>
<TR><TD>Potassium</TD><TD><INPUT NAME=f_potassium size=10>mmol/L</INPUT></TD><TR>
<TR><TD>Calcium</TD><TD><INPUT NAME=f_calcium size=10>mmol/L</INPUT></TD><TR>
<TR><TD>Chloride</TD><TD><INPUT NAME=f_chloride size=10>mmol/L</INPUT></TD><TR>
</CENTER></TABLE>

</TD>

<TD VALIGN=TOP>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Bicarbonate</TD><TD><INPUT NAME=f_bicarbonate size=10>mmol/L</INPUT></TD><TR>
<TR><TD>Phosphorus</TD><TD><INPUT NAME=f_phosphorus size=10>mmol/L</INPUT></TD><TR>
<TR><TD>Magnesium</TD><TD><INPUT NAME=f_magnesium size=10>mmol/L</INPUT></TD><TR>
</CENTER>
</TABLE></TD></TR>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Any other</TD><TD><INPUT NAME=anyother size=40 maxlength=40></INPUT></TD></TR>
<TR><TD>General impression</TD><TD><TEXTAREA NAME=tbxgeneralimp rows=2 cols=35></TEXTAREA></TD></TR>
</CENTER></TABLE>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>

</TD></TR>
</CENTER></TABLE>
</FORM>
</BODY>
</HTML>