<HTML>
<HEAD>   
	<TITLE>Pancreatic tests</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<H3>Pancreatic tests (exocrine function)</H3>
<FORM name="s14">
<INPUT TYPE="hidden" name="frmnam" value="s14">
<TABLE ALIGN=center BORDER=1 CELLSPACING=0 CELLPADDING=0 WIDTH="90%" class='tableb'>

<TR><TD>
<TABLE BORDER=0 ALIGN=center>
<TR><TD valign=top>
<TABLE BORDER=0 ALIGN=center>
<TR><TD><FONT COLOR="green">Lundh test (meal)</FONT></TD></TR>
<TR><TD>Volume</TD><TD><INPUT NAME=volume size=10 maxlength=50></INPUT></TD></TR>
<TR><TD>Bicarbonate conc</TD><TD><INPUT NAME=bicarbonate size=10 maxlength=50></INPUT></TD></TR>
 <TR><TD>Amylase conc</TD><TD><INPUT NAME=amylase size=10 maxlength=50></INPUT></TD></TR>
<TR><TD>Lipase conc</TD><TD><INPUT NAME=lipase size=10 maxlength=50></INPUT></TD></TR>
</CENTER></TABLE>

</TD>

<TD VALIGN=TOP>
<TABLE BORDER=0 ALIGN=center>
<TR><TD><FONT COLOR="green">Secretin-CCKPZ test</FONT></TD></TR>
<TR><TD>Volume</TD><TD><INPUT NAME=volume_s size=10 maxlength=50></INPUT></TD></TR>
<TR><TD>Bicarbonate conc</TD><TD><INPUT NAME=bicarbonate_s size=10 maxlength=50></INPUT></TD></TR>
 <TR><TD>Amylase conc</TD><TD><INPUT NAME=amylase_s size=10 maxlength=50></INPUT></TD></TR>
<TR><TD>Lipase conc</TD><TD><INPUT NAME=lipase_s size=10 maxlength=50></INPUT></TD></TR>
</CENTER>
</TABLE></TD></TR>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Bentiromide</TD><TD><INPUT NAME=bentiromide size=18 maxlength=50></INPUT></TD></TR>
<TR><TD>Pancreolauryl test</TD><TD><INPUT NAME=pancreolauryl size=18 maxlength=50></INPUT></TD></TR> 
<TR><TD>Serum trypsin-like immunoreactivity</TD><TD><INPUT NAME=immunoreactivity size=18 maxlength=50></INPUT>
</TD></TR>
<TR><TD>Serum isoamylase values</TD><TD><INPUT NAME=serum size=10 maxlength=50></INPUT></TD></TR> 
</CENTER></TABLE>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Any other findings</TD><TD><INPUT NAME=others size=58 maxlength=50></TD></TR>
<TR><TD>General impression</TD><TD><TEXTAREA NAME=tbxgeneralimp rows=2 cols=50></TEXTAREA></TD></TR>
</CENTER></TABLE>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>

</TD></TR>
</CENTER></TABLE>
</FORM>
</BODY>
</HTML>