<HTML>
<HEAD>   
	<TITLE>Serological tests</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<H3>Serological tests</H3>
<H4>Investigation For</H4>
<FORM name="s15">
<INPUT TYPE="hidden" NAME="frmnam" value="s15"> 
<TABLE ALIGN=center BORDER=1 CELLSPACING=0 CELLPADDING=0 WIDTH="90%" class='tableb'>

<TR><TD>
<TABLE BORDER=0 ALIGN=center>
<TR><TD valign=top>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>RF</TD><TD><INPUT NAME=RF size=18 maxlength=50></INPUT></TD></TR>
<TR><TD>ANA</TD><TD><INPUT NAME=ana size=10 maxlength=50></INPUT></TD></TR>
<TR><TD>CRP</TD><TD><INPUT NAME=crp size=10 maxlength=50></INPUT></TD></TR>
<TR><TD>HAV</TD><TD><INPUT NAME=hav size=10 maxlength=50></INPUT></TD></TR>
<TR><TD>HBV</TD><TD><INPUT NAME=hbv size=10 maxlength=50></INPUT></TD></TR>
<TR><TD>HCV</TD><TD><INPUT NAME=hcv size=10 maxlength=50></INPUT></TD></TR>
</CENTER></TABLE>

</TD>

<TD VALIGN=TOP>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>HDV</TD><TD><INPUT NAME=hdv size=10 maxlength=50></INPUT></TD></TR>
<TR><TD>HIV</TD><TD><INPUT NAME=hiv size=10 maxlength=50></INPUT></TD></TR>
<TR><TD>Pneumococci</TD><TD><INPUT NAME=pneumococci size=10 maxlength=50></INPUT></TD></TR>
<TR><TD>Mycoplasma</TD><TD><INPUT NAME=mycoplasma size=10 maxlength=50></INPUT></TD></TR>
<TR><TD>Chlamydia</TD><TD><INPUT NAME=chlamydia size=10 maxlength=50></INPUT></TD></TR>
<TR><TD>Legionella</TD><TD><INPUT NAME=legionella size=10 maxlength=50></INPUT></TD></TR>
</CENTER>
</TABLE></TD></TR>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Any other conditions</TD><TD><INPUT NAME=anyoth size=35 maxlength=50></INPUT></TD></TR>
<TR><TD>General impression</TD><TD><TEXTAREA NAME=tbxgeneralimp rows=2 cols=30></TEXTAREA></TD></TR>
</CENTER></TABLE>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>

</TD></TR>
</CENTER></TABLE>
</FORM>
</BODY>
</HTML>