<HTML>
<HEAD>   
	<TITLE>Hemostasis and Coagulation</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<H3>Hemostasis and Coagulation</H3>
<FORM name="s17">
<INPUT TYPE="hidden" name="frmnam" value="s17"> 
<TABLE ALIGN=center BORDER=1 CELLSPACING=0 CELLPADDING=0 WIDTH="90%" class='tableb'>

<TR><TD>
<TABLE BORDER=0 ALIGN=center>
<TR><TD valign=top>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Bleeding Time</TD><TD><INPUT NAME=bleeding size=14 maxlength=50></TD></TR>
<TR><TD>Clotting Time</TD><TD><INPUT NAME=clotting size=14 maxlength=50></TD></TR>
<TR><TD>Clot Retraction</TD><TD><INPUT NAME=retraction size=14 maxlength=50></INPUT></TD></TR>
<TR><TD>Capillary Fragility Test</TD><TD><INPUT NAME=capillary size=14 maxlength=50></INPUT></TD></TR>
</CENTER></TABLE>

</TD>

<TD VALIGN=TOP>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Prothrombin Time</TD><TD><INPUT NAME=prothrombin size=14 maxlength=50></TD></TR>
<TR><TD>Partial Thromboplastin Time</TD><TD><INPUT NAME=partial size=14 maxlength=50></TD></TR>
<TR><TD>TGT shows defects in</TD><TD><INPUT NAME=thromboplastin size=14 maxlength=50></INPUT></TD></TR>
<TR><TD>Assay of coagulation factors</TD><TD><INPUT NAME=f_coagulation size=14 maxlength=10>%</TD></TR>
</CENTER>
</TABLE></TD></TR>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Any other tests</TD><TD><INPUT NAME=others size=55 maxlength=50></INPUT></TD><TR>
<TR><TD>General impression</TD><TD><TEXTAREA NAME=tbxgeneralimp rows=2 cols=50></TEXTAREA></TD></TR>
</CENTER></TABLE>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Date of test</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>

</TD></TR>
</CENTER></TABLE>
</FORM>
</BODY>
</HTML>