<HTML>
<HEAD>   
	<TITLE>Urine Chemistry</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<H3>Urine Chemistry</H3>
<FORM name="s19">
<INPUT TYPE="hidden" name="frmnam" value="s19"> 
<TABLE ALIGN=center BORDER=1 CELLSPACING=0 CELLPADDING=0 WIDTH="90%" class='tableb'>

<TR><TD>
<TABLE BORDER=0 ALIGN=center>
<TR><TD valign=top>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Sodium</TD><TD><INPUT NAME=Sodium size=25 maxlength=50></INPUT>&nbsp;&nbsp;&nbsp;&nbsp;</TD></TR>
<TR><TD>Potassium</TD><TD><INPUT NAME=Potassium size=25 maxlength=50></INPUT></TD></TR>
<TR><TD>Chloride</TD><TD><INPUT NAME=Chloride size=25 maxlength=50></INPUT></TD></TR>
<TR><TD>Urinary Nitrogen</TD><TD><INPUT NAME=Urinary size=25 maxlength=50></INPUT></TD></TR>
<TR><TD>Creatinine :</TD><TD><INPUT NAME=Creatinine size=25 maxlength=50></INPUT></TD></TR>
<TR><TD>Calcium</TD><TD><INPUT NAME=Calcium size=25 maxlength=50></INPUT></TD></TR>
<TR><TD>Osmolality</TD><TD><INPUT NAME=Osmolality size=25 maxlength=50></INPUT></TD></TR>
<TR><TD>Total Protein</TD><TD><INPUT NAME=Protein size=25 maxlength=50></INPUT></TD></TR>
<TR><TD>Amino Acid</TD><TD><INPUT NAME=AminoAcid size=25 maxlength=50></INPUT></TD></TR>
<TR><TD>Uric Acid</TD><TD><INPUT NAME=UricAcid size=25 maxlength=50></INPUT></TD></TR>
</CENTER></TABLE>

</TD>

<TD VALIGN=TOP>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>VMA</TD><TD><INPUT NAME=VMA size=25 maxlength=50></INPUT></TD></TR>
<TR><TD>cAMP</TD><TD><INPUT NAME=cAMP size=25 maxlength=50></INPUT></TD></TR>
<TR><TD>Cortisone</TD><TD><INPUT NAME=Cortisone size=25 maxlength=50></INPUT></TD></TR>
<TR><TD>Norepinephrine</TD><TD><INPUT NAME=Norepinephrine size=25 maxlength=50></INPUT></TD></TR>
<TR><TD>Epinephrine</TD><TD><INPUT NAME=Epinephrine size=25 maxlength=50></INPUT></TD></TR>
<TR><TD>17-(OH) Ketosteroid</TD><TD><INPUT NAME=Ketosteroidoh size=25 maxlength=50></INPUT></TD></TR>
<TR><TD>17-Ketosteroid</TD><TD><INPUT NAME=Ketosteroid size=25 maxlength=50></INPUT></TD></TR>
<TR><TD>5-HIAA</TD><TD><INPUT NAME=HIAA size=25 maxlength=50></INPUT></TD></TR>
<TR><TD>Metanephrine</TD><TD><INPUT NAME=Metanephrine size=25 maxlength=50></INPUT></TD></TR>
<TR><TD>Normetanephrine</TD><TD><INPUT NAME=Normetanephrine size=25 maxlength=50></INPUT></TD></TR>
</CENTER>
</TABLE></TD></TR>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Any other tests</TD><TD><INPUT NAME=others  size=65 maxlength=50></INPUT></TD></TR>
<TR><TD>General impression</TD><TD><TEXTAREA NAME=tbxgeneralimp rows=2 cols=50></TEXTAREA></TD></TR>
</CENTER></TABLE>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>

</TD></TR>
</CENTER></TABLE>
</FORM>
</BODY>
</HTML>