<HTML>
<HEAD>   
	<TITLE>Obstetric Urine</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<H3>Obstetric Urine</H3>
<FORM name="s20">
<INPUT TYPE="hidden" name="frmnam" value="s20"> 
<TABLE ALIGN=center BORDER=1 CELLSPACING=0 CELLPADDING=0 WIDTH="90%" class='tableb'>

<TR><TD>
<TABLE BORDER=0 ALIGN=center>
<TR><TD valign=top>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Sugar</TD><TD><INPUT NAME=sugar size=35 maxlength=50></INPUT></TD></TR>
<TR><TD>Protein</TD><TD><INPUT NAME=protein size=35 maxlength=50></INPUT></TD></TR>
<TR><TD>Urine microscopic</TD><TD><INPUT NAME=urine_m size=35 maxlength=50></INPUT></TD></TR>
<TR><TD>Estriol level</TD><TD><INPUT NAME=est_riol size=35 maxlength=50></INPUT></TD></TR>
<TR><TD>Estriol / Creatinine ratio</TD><TD><INPUT NAME=creatinine size=35 maxlength=50></INPUT></TD></TR>
<TR><TD>Pregnancy test in dilution</TD><TD><INPUT NAME=prenancy size=35 maxlength=50></INPUT></TD></TR>
<TR><TD>Any other</TD><TD><INPUT NAME=anyother size=35 maxlength=50></INPUT></TD></TR>
<TR><TD>General impression</TD><TD><TEXTAREA NAME=tbxgeneralimp rows=2 cols=30></TEXTAREA></TD></TR>
</CENTER>
</TABLE></TD></TR>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>

</TD></TR>
</CENTER></TABLE>
</FORM>
</BODY>
</HTML>