<HTML>
<HEAD>   
	<title>Cerebrospinal fluid</title>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<H3>Cerebrospinal fluid (Lumbar Puncture)</H3>
<form name="s28">
<INPUT TYPE="hidden" name="frmnam" value="s28">
<TABLE ALIGN=center BORDER=1 CELLSPACING=0 CELLPADDING=0 WIDTH="90%" class='tableb'>

<TR><TD>
<TABLE BORDER=0 ALIGN=center>
<TR><TD valign=top>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Physical characteristics</TD><TD><INPUT NAME=physical size=40 maxlength=50></INPUT></TD></TR>
<TR><TD>Cytology</TD><TD><INPUT NAME=f_cytology size=10 maxlength=10>cells/µL</INPUT></TD></TR>
<TR><TD>Protein</TD><TD><INPUT NAME=f_protin size=10 maxlength=10>g/dL</INPUT></TD></TR>
<TR><TD>Glucose</TD><TD><INPUT NAME=f_glucose size=10 maxlength=10>g/dL</INPUT></TD></TR>
<TR><TD>Tests for syphilis</TD><TD><INPUT NAME=syphilis size=18 maxlength=50></INPUT></TD></TR>
<TR><TD>Stained Deposits</TD><TD><INPUT NAME=stained size=40 maxlength=50></INPUT></TD></TR>
<TR><TD>Culture</TD><TD><INPUT NAME=culture size=40 maxlength=40></INPUT></TD></TR>
<TR><TD>Any other feature</TD><TD><INPUT NAME=anyother size=40 maxlength=50></INPUT></TD></TR>
<TR><TD>General impression</TD><TD><TEXTAREA NAME=tbxgeneralimp rows=2 cols=35></TEXTAREA></TD></TR>
</CENTER>
</TABLE></TD></TR>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>

</TD></TR>
</CENTER></TABLE>
</FORM>
</BODY>
</HTML>