<HTML>
<HEAD>   
	<TITLE>Histopathology</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<H3>Histopathology</H3>
<FORM name="s29">
<INPUT TYPE="hidden" NAME="frmnam" value="s29"> 
<TABLE ALIGN=center BORDER=1 CELLSPACING=0 CELLPADDING=0 WIDTH="90%" class='tableb'>

<TR><TD>
<TABLE BORDER=0 ALIGN=center>
<TR><TD valign=top>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Site</TD><TD><INPUT NAME=site size=30 maxlength=50></INPUT></TD></TR>
<TR><TD>Stain</TD><TD><INPUT NAME=stain size=30 maxlength=50></INPUT></TD></TR>
<TR><TD>Magnification</TD><TD><INPUT NAME=magnification size=30 maxlength=50></INPUT></TD></TR>
<TR><TD>Any other tests</TD><TD><INPUT NAME=others size=30 maxlength=50></INPUT></TD></TR>
<TR><TD>General impression</TD><TD><TEXTAREA NAME=tbxgeneralimp rows=2 cols=25></TEXTAREA></TD></TR>
</CENTER>
</TABLE></TD></TR>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>

</TD></TR>
</CENTER></TABLE>
</FORM>
</BODY>
</HTML>