<HTML>
<HEAD>   
	<TITLE>Genotype</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<H3>Genotype</H3>
<FORM name="s31">
<INPUT TYPE="hidden" name="frmnam" value="s31"> 
<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="80%" class='tableb'>
<TR><TD>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Thymidine Analog-associated Mutations</TD></TR><TR><TD ALIGN=center><INPUT NAME=nrti_thymidine size=10 maxlength=10></INPUT></TD></TR>
<TR><TD>Nucleoside Analog-associated Mutations</TD></TR><TR><TD ALIGN=center><INPUT NAME=nrti_nucleoside size=10 maxlength=10></INPUT></TD></TR>

<TR><TD ALIGN=center>NNRTI Resistance Mutations </TD></TR><TR><TD ALIGN=center><INPUT NAME=nnrti size=10 maxlength=10></INPUT></TD></TR>

<TR><TD ALIGN=center>PI associated Major Mutations </TD></TR><TR><TD ALIGN=center><INPUT NAME=protease_minor size=10 maxlength=10></INPUT></TD></TR>
<TR><TD ALIGN=center>PI associated Minor Mutations </TD></TR><TR><TD ALIGN=center><INPUT NAME=protease_major size=10 maxlength=10></INPUT></TD></TR>

<TR><TD ALIGN=center>Fusion Inhibitors</TD></TR><TR><TD ALIGN=center><INPUT NAME=fusion size=10 maxlength=10></INPUT></TD></TR>

<TR><TD ALIGN=center>Integrase Inhibitors</TD></TR><TR><TD ALIGN=center><INPUT NAME=integrase size=10 maxlength=10></INPUT></TD></TR>
</CENTER></TABLE>

<TABLE BORDER=0 ALIGN=center>
<!-- <TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD> -->
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>
</TD></TR>
</CENTER>
</TABLE>
</FORM>
</BODY>
</HTML>