<HTML>
<HEAD>   
	<TITLE>CD4/Viral Count</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY >
<CENTER>
<H3>CD4/Viral Count</H3>
<FORM  name="s32">
<INPUT TYPE="hidden" NAME="frmnam" value="s32"> 
<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=5 WIDTH="80%" class='tableb'>

<TR><TD>
<FIELDSET>
	<LEGEND><FONT COLOR="green">CD Counts/Percentage</FONT></LEGEND>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Total Leucocytes</TD><TD><INPUT NAME=total_leucocytes size=10 maxlength=10 >per cu.mm</INPUT></TD></TR>
<TR><TD>Total Lymphocytes</TD><TD><INPUT NAME=total_lymphocytes size=10 maxlength=10 >per cu.mm</INPUT></TD></TR>
<TR><TD>CD4 Count</TD><TD><INPUT NAME=cd4_count size=10 maxlength=10 >per cu.mm</INPUT></TD></TR>
<TR><TD>CD4 Percent</TD><TD><INPUT NAME=cd4_percent size=10 maxlength=10 >%</INPUT></TD></TR>
<TR><TD>CD8 Count</TD><TD><INPUT NAME=cd8_count size=10 maxlength=10 >per cu.mm</INPUT></TD></TR>
<TR><TD>CD4:CD8 Ratio</TD><TD><INPUT NAME=ratio size=10 maxlength=10 ></INPUT></TD></TR>
</TABLE>
</FIELDSET>
</TD></TR>

<TR><TD>
<FIELDSET>
	<LEGEND><FONT COLOR="green">HIV Viral Load</FONT></LEGEND>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>RNA Copies</TD><TD><INPUT NAME=viralload size=10 maxlength=10 >per cu.mm</INPUT></TD></TR>
</TABLE>
</FIELDSET>
</TD></TR>
<TR><TD>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Date of test</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entry date</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>
</TABLE>
</TD></TR>
</TABLE>
</FORM>
</CENTER>
</BODY>
</HTML>