<HTML>
<HEAD>   
	<TITLE>Serology Test</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY >
<CENTER>
<H3>Serology Test</H3>
<FORM  name="s34">
<INPUT TYPE="hidden" NAME="frmnam" value="s34">
<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="80%" class='tableb'>

<TR><TD>
<TABLE BORDER=0 ALIGN=center>
<TR><TD valign=top>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Identify Agent</TD><TD><INPUT NAME=identify_agent size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Specimen</TD><TD><INPUT NAME=specimen size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Test Method</TD><TD><INPUT NAME=test_method size=20 maxlength=50></INPUT></TD></TR>	
<TR><TD>TITRE</TD><TD><INPUT NAME=titre size=20 maxlength=50></INPUT></TD></TR>
</TABLE>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Result:</TD>
<TD><INPUT NAME=result size=50 maxlength=50></INPUT></TD></TD></TR>
</TABLE>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entry Date<INPUT  name=entrydate></INPUT></TD>
</TR>
</TABLE>
</TD></TR>
</TABLE>
</FORM>
</CENTER>
</BODY>
</HTML>