<HTML>
<HEAD>   
	<TITLE>Pathology</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY >
<CENTER>
<H3>Pathology</H3>
<FORM  name="s35">
<INPUT TYPE="hidden" NAME="frmnam" value="s35">
<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="80%" class='tableb'>

<TR><TD>
<TABLE BORDER=0 ALIGN=center>
<TR><TD valign=top>
<TABLE BORDER=0 ALIGN=center>
<TR><TD><FONT COLOR="green">Investigation</FONT></TD></TR>
<TR><TD>Name Of Test</TD><TD><INPUT NAME=name_test size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Test Specimen</TD><TD><INPUT NAME=test_specimen size=20 maxlength=50></INPUT></TD></TR>
<TR><TD>Purpose of Study</TD><TD><INPUT NAME=purpose_study size=20 maxlength=50></INPUT></TD></TR>
</TABLE></TD></TR>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Report</TD><TD><TEXTAREA NAME=report rows=3 cols=50 ></TEXTAREA></TD></TR>
<TR><TD>Prov Diagnosis</TD><TD><TEXTAREA NAME=prov_diagnosis rows=2 cols=50 ></TEXTAREA></TD></TR>
</TABLE>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entry Date<INPUT  name=entrydate></INPUT></TD>
</TR>
</TABLE>
</TD></TR>
</TABLE>
</FORM>
</CENTER>
</BODY>
</HTML>