
<HTML>
<HEAD>   
<TITLE>Hematology</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY onload='datentry();'>
<H3>Hematology</H3>
<FORM METHOD=POST  name="s36">
<INPUT TYPE="hidden" name="frmnam" value="s36"> 
<CENTER>
<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="80%" class='tableb'>

<TR><TD>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>ESR 1st Hr</TD><TD><INPUT NAME=esr size=20 maxlength=10></INPUT>mm.</TD></TR>
<TR><TD>Haemoglobin</TD><TD><INPUT NAME=haemoglobin size=20 maxlength=10></INPUT>g/dl</TD></TR>
<TR><TD>RBC</TD><TD><INPUT NAME=rbc size=20 maxlength=10></INPUT>millions per c.mm. or µL of blood</TD></TR>
<TR><TD>Hematocrit</TD><TD><INPUT NAME=hematocrit size=20 maxlength=10></INPUT>%</TD></TR>
<TR><TD>MCV</TD><TD><INPUT NAME=mcv size=20 maxlength=10></INPUT>fl</TD></TR>
<TR><TD>MCHC</TD><TD><INPUT NAME=mchc size=20 maxlength=10></INPUT>g/dl</TD></TR>
<TR><TD>RDW</TD><TD><INPUT NAME=rdw size=20 maxlength=10></INPUT>%</TD></TR>
<TR><TD>MCH</TD><TD><INPUT NAME=mch size=20 maxlength=10></INPUT>%</TD></TR>
</TABLE>

</TD></TR>
<TR><TD>

<TABLE BORDER=0 ALIGN=center>
<TR><TD><Font Color="Green">Differential Count</Font></TD></TR>
<TR><TD>Lymphocytes</TD><TD><INPUT NAME=lymphocyte size=20 maxlength=10></INPUT>%</TD></TR>
<TR><TD>Eosinophils</TD><TD><INPUT NAME=eosinophil size=20 maxlength=10></INPUT>%</TD></TR>
<TR><TD>Basophils</TD><TD><INPUT NAME=basophil size=20 maxlength=10></INPUT>%</TD></TR>
<TR><TD>Leucocutes</TD><TD><INPUT NAME=leucocute size=20 maxlength=10></INPUT>%</TD></TR>
<TR><TD>Monoocytes</TD><TD><INPUT NAME=monoocyte size=20 maxlength=10></INPUT>%</TD></TR>
</TABLE>

</TD></TR>
<TR><TD>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Platelets</TD><TD><INPUT NAME=platelet size=8 maxlength=8></INPUT>/cc</TD></TR>
<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD></TR>
<TR><TD>Entry date</TD><TD><INPUT NAME=entrydate size=8 maxlength=8></INPUT></TD></TR>
</TABLE>
</TD></TR>
</TABLE>
</CENTER>
</FORM>
</BODY>
</HTML>