<HTML>
<HEAD>
<TITLE> Summary Form </TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>

<BODY>

<CENTER>
<h2>Summary Report</h2>

<FORM METHOD=GET ACTION="/Submit.jsp" NAME="smr">
<CENTER><TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="60%" class='tableb'>
<tr>
<td valign=top>
<INPUT TYPE="hidden" NAME="frmnam" Value="smr">
<TABLE>
<TR>
	<TD VAlign="Top">Complaint</TD>
	<TD><TEXTAREA NAME="tbxcomplaint" Rows=3 Cols=50></TEXTAREA></TD>
</TR>
<TR>
	<TD VAlign="Top">Findings</TD>
	<TD><TEXTAREA NAME="tbxfindings" Rows=3 Cols=50></TEXTAREA></TD>
</TR>
<TR>
	<TD VAlign="Top">Investigations</TD>
	<TD><TEXTAREA NAME="tbxinvestigations" Rows=3 Cols=50></TEXTAREA></TD>
</TR>
<TR>
	<TD VAlign="Top">Diagnosis</TD>
	<TD><TEXTAREA NAME="tbxdiagnosis" Rows=3 Cols=50></TEXTAREA></TD>
</TR>
<TR>
	<TD VAlign="Top">Treatment</TD>
	<TD><TEXTAREA NAME="tbxtreatment" Rows=3 Cols=50></TEXTAREA></TD>
</TR>
<TR>
	<TD VAlign=TOP>Entry Date</TD><TD><INPUT NAME=entrydate size=8 maxlength=8></INPUT></TD>
</TR>
</TABLE>
</TD></TR></Table>
</FORM>
</CENTER>
</BODY>
</HTML>
