<HTML>
<HEAD>
	<TITLE>Patient examination</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<H3>Patient examination</H3>
<FORM name="t01">
<INPUT TYPE="hidden" name="frmnam" value="t01">
<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="90%" class='tableb'>

<TR><TD valign=top>
<TABLE BORDER=0 ALIGN=center>
<TR><TD>Chief Complaints</TD><TD><TEXTAREA NAME=tbxchief_complaints  rows=2 cols=25 wrap=virtual></TEXTAREA></TD></TR>

<TR><TD>On examination</TD><TD><TEXTAREA NAME=tbxon_examination rows=2 cols=25 wrap=virtual></TEXTAREA></TD></TR>

<TR><TD>General Survey</TD><TD><TEXTAREA NAME=tbxgeneral_survey rows=2 cols=25 wrap=virtual></TEXTAREA></TD></TR>
<TR><TD>Respiratory System</TD><TD><TEXTAREA NAME=tbxrespiratory_system rows=2 cols=25 wrap=virtual></TEXTAREA></TD></TR>
<TR><TD>Cardio vascular System</TD><TD><TEXTAREA NAME=tbxcardiovascular_system rows=2 cols=25 wrap=virtual></TEXTAREA></TD></TR>
<TR><TD>Digestive</TD><TD><TEXTAREA NAME=tbxdigestive rows=2 cols=25 wrap=virtual></TEXTAREA></TD></TR>
<TR><TD>Nervous System</TD><TD><TEXTAREA NAME=tbxnervous_system rows=2 cols=25 wrap=virtual></TEXTAREA></TD></TR>

<TR><TD>Bones & Joints</TD><TD><TEXTAREA NAME=tbxbones_joints  rows=2 cols=25 wrap=virtual></TEXTAREA></TD></TR>
</CENTER></TABLE>

</TD>

<TD VALIGN=TOP>
<TABLE BORDER=0 ALIGN=center>

<TR><TD>Obstetrical & Gynaecological Exam</TD><TD><TEXTAREA NAME=tbxobstetrical_gynaecological rows=2 cols=25 wrap=virtual></TEXTAREA></TD></TR>

<TR><TD>Dermatological Examination </TD><TD><TEXTAREA NAME=tbxdermatological  rows=2 cols=25 wrap=virtual></TEXTAREA></TD></TR>

<TR><TD>ENT Examination</TD><TD><TEXTAREA NAME=tbxent rows=2 cols=25 wrap=virtual></TEXTAREA></TD></TR>

<TR><TD>Eye Examination</TD><TD><TEXTAREA NAME=tbxeye rows=2 cols=25 wrap=virtual></TEXTAREA></TD></TR>

<TR><TD>Investigation</TD><TD><TEXTAREA NAME=tbxinvestigation rows=2 cols=25 wrap=virtual></TEXTAREA></TD></TR>

<TR><TD>Provisional Diagnosis</TD><TD><TEXTAREA NAME=tbxprovisional rows=2 cols=25 wrap=virtual></TEXTAREA></TD></TR>

<TR><TD>Treatment given</TD><TD><TEXTAREA NAME=tbxtreatment_given  rows=2 cols=25 wrap=virtual></TEXTAREA></TD></TR>

<TR><TD>Any other</TD><TD><TEXTAREA NAME=tbxother rows=2 cols=25 wrap=virtual></TEXTAREA></TD></TR>
</CENTER>
</TABLE></TD></TR>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entrydate</TD><TD><INPUT name=entrydate size=8 maxlength=8></INPUT></TD></TR>

</TABLE>
</CENTER></TABLE>
</TD></TR>

</FORM>
</BODY>
</HTML>
