<HTML>
<HEAD>   
	<TITLE>t02</TITLE>
<link rel="stylesheet" type="text/css" href="../style/style2.css">
</HEAD>
<BODY>
<H3>Accidental Emergency</H3>
<FORM name="t02">
<INPUT TYPE="hidden" name="frmnam" value="t02">
<TABLE ALIGN=center BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="90%" class='tableb'>
		
			<TR><TD valign=top>
			<TABLE BORDER=0 ALIGN=center>
			<TR><TD><H4>General examination</H4></TD></TR>
			<TR><TD>Time of accident</TD><TD><INPUT NAME=time_accident size=30 maxlength=50></INPUT></TD></TR>
			<TR><TD>Type of accident</TD><TD><INPUT NAME=type_accident size=30 maxlength=50></INPUT></TD></TR>
			<TR><TD>Pulse</TD><TD><INPUT NAME=pulse size=30 maxlength=50></INPUT></TD></TR>
			<TR><TD>B.P.</TD><TD><INPUT NAME=bp size=30 maxlength=50></INPUT></TD></TR>
			<TR><TD>Pallor</TD><TD><INPUT NAME=pallor size=30 maxlength=50></INPUT></TD></TR>
			<TR><TD>Level of conciousness</TD><TD><INPUT NAME=level_conciousness size=30 maxlength=50></INPUT></TD></TR>
			<TR><TD>Respiration</TD><TD><INPUT NAME=respiration size=30 maxlength=50></INPUT></TD></TR>
			<TR><TD>Pupillary Reflex</TD><TD><INPUT NAME=pupillary_reflex size=30 maxlength=50></INPUT></TD></TR>
			<TR><TD>Details of accident</TD><TD><INPUT NAME=details_accident size=30 maxlength=50></INPUT></TD></TR>
			
			<TR><TD><H4>Other examination</H4></TD></TR>

			<TR><TD>General examination</TD><TD><INPUT NAME=general_exam size=30 maxlength=50></INPUT></TD></TR>
			<TR><TD>Superficial injury</TD><TD><INPUT NAME=superficial_injury size=30 maxlength=50></INPUT></TD></TR>
			<TR><TD>Muscle injury</TD><TD><INPUT NAME=muscle_injury size=30 maxlength=50></INPUT></TD></TR>
			<TR><TD>Ligament injury</TD><TD><INPUT NAME=ligament_injury size=30 maxlength=50></INPUT></TD></TR>

			<TR><TD><H4>Bony injury</H4></TD></TR>
			<TR><TD>Limbs</TD><TD><INPUT NAME=limbs size=30 maxlength=50></INPUT></TD></TR>
			<TR><TD>Ribs</TD><TD><INPUT NAME=ribs size=30 maxlength=50></INPUT></TD></TR>
			<TR><TD>Vertebra</TD><TD><INPUT NAME=vertebra size=30 maxlength=50></INPUT></TD></TR>
			<TR><TD>Skull</TD><TD><INPUT NAME=skull size=30 maxlength=50></INPUT></TD></TR>
			<TR><TD>Joint injury</TD><TD><INPUT NAME=joint_injury size=30 maxlength=50></INPUT></TD></TR>

		
			</CENTER>
			</TABLE>

			</TD>

			<TD VALIGN=TOP>
			<TABLE BORDER=0 ALIGN=center>

			<TR><TD><H4>Presenting compalints</H4></TD></TR>
			<TR><TD>Level of conciousness</TD><TD><INPUT NAME=level_of_conciousness size=30 maxlength=50></INPUT></TD></TR>
			<TR><TD>Active Bleeding</TD><TD><INPUT NAME=active_bleeding size=30 maxlength=50></INPUT></TD></TR>
			<TR><TD>Bony injury</TD><TD><INPUT NAME=bony_injury size=30 maxlength=50></INPUT></TD></TR>
			<TR><TD>Resp.distress</TD><TD><INPUT NAME=resp_distress size=30 maxlength=50></INPUT></TD></TR>
			<TR><TD>Chest pain</TD><TD><INPUT NAME=chest_pain size=30 maxlength=50></INPUT></TD></TR>
			<TR><TD>Abdominal pain</TD><TD><INPUT NAME=abdominal_pain size=30 maxlength=50></INPUT></TD></TR>
			<TR><TD>Hematuria</TD><TD><INPUT NAME=hematuria size=30 maxlength=50></INPUT></TD></TR>
			<TR><TD>Bleeding p/v</TD><TD><INPUT NAME=bleeding_pv size=30 maxlength=50></INPUT></TD></TR>
			<TR><TD>Bleeding P/R</TD><TD><INPUT NAME=bleeding_p_r size=30 maxlength=50></INPUT></TD></TR>
			<TR><TD>Hematemesis</TD><TD><INPUT NAME=hematemesis size=30 maxlength=50></INPUT></TD></TR>
			<TR><TD>Urinary Retention</TD><TD><INPUT NAME=urinary_retention size=30 maxlength=50></INPUT></TD></TR>
			<TR><TD><H4>Internal injury</H4></TD></TR>
			<TR><TD>Brain</TD><TD><INPUT NAME=brain size=30 maxlength=50></INPUT></TD></TR>
			<TR><TD>Spinal cord</TD><TD><INPUT NAME=spinal_cord size=30 maxlength=50></INPUT></TD></TR>
			<TR><TD>Heart</TD><TD><INPUT NAME=heart size=30 maxlength=50></INPUT></TD></TR>
			<TR><TD>Lungs</TD><TD><INPUT NAME=lungs size=30 maxlength=50></INPUT></TD></TR>
			<TR><TD>Liver</TD><TD><INPUT NAME=liver size=30 maxlength=50></INPUT></TD></TR>
			<TR><TD>Spleen</TD><TD><INPUT NAME=spleen size=30 maxlength=50></INPUT></TD></TR>
			<TR><TD>Intestine</TD><TD><INPUT NAME=intestine size=30 maxlength=50></INPUT></TD></TR>
			<TR><TD>Kidneys</TD><TD><INPUT NAME=kidneys size=30 maxlength=50></INPUT></TD></TR>
			<TR><TD>Eyes</TD><TD><INPUT NAME=eyes size=30 maxlength=50></INPUT></TD></TR>
			<TR><TD>Ears</TD><TD><INPUT NAME=ears size=30 maxlength=50></INPUT></TD></TR>

			</TABLE>
			</CENTER>
		</TABLE>
			
			

<TABLE BORDER=0 ALIGN=center>

<TR><TD>Any other</TD><TD><TEXTAREA NAME=tbxanyother rows=2 cols=69 wrap=virtual></TEXTAREA></TD></TR>
<TR><TD>General impression</TD><TD><TEXTAREA NAME=tbxgeneralimp rows=2 cols=69 wrap=virtual></TEXTAREA></TD></TR>

</CENTER>
</TABLE>

<TABLE BORDER=0 ALIGN=center>
<TR><TD>Test date</TD><TD><INPUT NAME=testdate size=8 maxlength=8></INPUT></TD>
<TD>Entrydate</TD><TD><INPUT NAME=entrydate size=8 maxlength=8></INPUT></TD></TR>
</CENTER></TABLE>
</BODY>
</HTML>
